.form

  &__content
    position: relative

  &__title
    font-size: 24px
    margin-bottom: 30px

  &__help
    background-color: #EFEFEF
    font-size: 13px
    color: #6A6A6A
    position: absolute
    right: 0
    top: 0
    padding: 15px 40px
    max-width: 330px
    text-align: center
    +max(1150px)
      position: relative
      margin-bottom: 30px
      left: calc(100% - 330px)
    +max(500px)
      max-width: 300px
      left: 50%
      transform: translate(-50%, 0)

  &__rowTitle
    width: 100%
    font-size: 18px
    font-weight: 500
    margin-bottom: 20px
    span
      font-size: 14px
      display: block

    &.-red
      color: #ec2028

  &__rowSubtitle
    width: 100%
    font-size: 15px
    font-weight: 500
    padding-top: 20px
    margin-bottom: 10px

    span
      font-size: 14px
      display: block

    &.-m-b-30
      margin-bottom: 30px

    &.-long
      width: inherit
      padding-right: 20px
      padding-top: 0
      min-width: 250px
      +phone_only
        min-width: 200px
      +phone_only_480
        min-width: 160px

    &.-inline
      width: inherit
      padding-right: 10px
      padding-top: 0

  &__row
    display: flex
    flex-wrap: wrap
    padding-bottom: 20px

    &.inputs-multiple
      align-items: flex-end
    &.-spaceBetween
      justify-content: space-between
      align-items: flex-start
      margin-top: 50px

    &.-marginBottom
      margin-bottom: 20px

    .form__checkBoxHolder.-width100 + &
      margin-top: 20px

    &.-width100
      width: 100%

  &__inputBox
    padding: 0 25px 0 0

    &:last-child
      margin-bottom: 0px

  &__label
    width: 100%
    display: block
    font-size: 14px
    cursor: pointer
    margin-bottom: 10px
    margin-left: 7px

    .form__inputBox &
      +tab_max
        margin-bottom: 5px

    span
      color: #EC2029

    .form__row + &
      margin-top: 5px

  &__input
    width: 100px
    text-align: right
    color: #8b8b8b
    font-size: 12px
    padding: 10px 10px 10px 0 !important
    min-height: 40px
    +placeholder(#8b8b8b)
    +tab_max
      margin-bottom: 15px

    &.-left
      padding: 10px 0 10px 10px !important
      text-align: left
      max-width: 200px
      margin-bottom: 7px
      width: 100%
      +max(1180px)
        width: 150px
      +phone_only_480
        width: 100%

  &__checkBoxHolder
    position: relative
    padding: 0 20px

    &.-width100
      width: 100%

    &.-mobileMargin
      +tab_max
        margin-top: 20px

    &.-m-b-30
      margin-bottom: 30px

  &__checkbox
    position: absolute
    left: 0
    top: 2px
    display: inline-block
    height: 16px
    width: 16px
    min-width: 16px
    padding: 0 !important
    border: 1px solid #dcdcdc
    border-radius: 3px
    background: #ffffff
    color: #239e58
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    line-height: 0
    text-align: center
    vertical-align: middle
    clear: none
    cursor: pointer
    outline: 0
    -webkit-appearance: none
    transition: .05s border-color ease-in-out, .05s background-color ease-in-out

    &:checked
      background-color: #239e58
      border-color: #239e58

    &:checked:before
      content: "\f00c"
      margin: 0 0 0 -1px
      color: white
      float: left
      display: inline-block
      vertical-align: middle
      width: 16px
      font: 400 13px/1 dashicons
      font-family: FontAwesome
      speak: none
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    &:disabled
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0)
      border-color: #d8d8d6
      background-color: #d8d8d6
      cursor: default

  &__moreTextarea
    width: calc(100% - 50px)
    margin-bottom: 15px
    height: 40px
    resize: none
    font-family: "Asap", sans-serif, Helvetivca, sans-serif
    color: #666
    border: 1px solid #ccc
    border-radius: 3px
    padding: 5px 15px

    &.-m-b-30
      margin-bottom: 30px

    &.-m-b-0
      margin-bottom: 0

    &.-otherInput
      display: none

  &__infoGray
    background-color: #efefef
    padding: 25px 30px
    margin-bottom: 30px
    font-size: 14px
    color: #6a6a6a

  &__col20
    width: 30%
    margin-bottom: 10px
    margin-left: 20px
    +tab_max
      width: 33.33%
    +phone_only
      width: 50%
    +phone_only_480
      width: 100%

  &__col20
    width: 20%
    margin-bottom: 10px
    margin-left: 20px
    +tab_max
      width: 33.33%
    +phone_only
      width: 50%
    +phone_only_480
      width: 100%

  &__col25
    width: 24.999%
    +tab_max
      width: 50%
    +phone_only
      width: 50%
    +phone_only_480
      width: 100%

  &__col50
    width: 50%
    +tab_max
      width: 100%

    &.-m-b-20
      margin-bottom: 20px

  &__hr
    background-color: #E3E3E3
    height: 1px
    width: calc(100% - 20px)
    margin-bottom: 25px

    .form__row + &
      margin-top: 20px

  &__nav
    display: flex
    width: 100%
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap

  &__button
    border-radius: 7px
    font-size: 16px !important
    background-color: #229E58 !important
    color: white !important
    padding: 15px 45px 15px 35px !important
    transition: all 0.3s

    &:after
      content: "\f105"
      font-family: FontAwesome
      position: absolute
      right: 20px
      top: 50%
      transform: translate(0, -50%)

    &:hover
      opacity: 0.7

    &.-pay
      text-transform: none
      background-color: #A6C307 !important
      border-radius: 30px

  &__saveDiet
    display: flex !important
    align-items: center
    justify-content: center
    height: 50px
    margin: 3px 6px !important
    border: 3px solid rgb(34, 158, 88) !important
    background-color: rgb(255, 255, 255)
    color: rgb(34, 158, 88)
    font-size: 16px !important
    text-transform: uppercase
    font-weight: 500 !important
    transition: background-color .15s ease-in-out
    cursor: pointer
    opacity: 1 !important

  &__info
    margin-bottom: 5px
    &:last-child
      margin-bottom: 20px

  &__imageHolder
    align-self: flex-end
    margin-left: auto

  &__inputsRow
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    padding-right: 330px
    +min(1441px)
      flex-wrap: nowrap

    +max(1150px)
      padding-right: 0

    & > div
      margin-bottom: 0 !important



  &__navigationAlert
    display: block
    width: 100%
    padding: 8px 48px 8px 16px
    margin: 0 0 10px
    border-radius: 4px
    border: 1px solid rgb(252, 219, 217)
    background-color: rgb(254, 240, 239)
    color: rgba(0,0,0,.65)
    font-size: 12px
    line-height: 1.5

    &.-warning
      border: 1px solid rgb(255, 243, 207)
      background-color: rgb(255, 250, 235)

    &.-success
      border: 1px solid rgb(207, 239, 223)
      background-color: rgb(235, 248, 242)

    i
      margin-right: 5px
  &__content
    p
      display: inline