.recommended

  &__content

  &__item
    display: block

  &__imageHolderLink
    display: block
    transition: all 0.3s

  &__image
    width: 100%
    display: block

  &__title
    font-weight: 500
    text-align: center
    font-size: 14px

  &__more
    font-size: 13px
    display: block
    text-align: center
    color: #e20c18
    text-decoration: none
    transition: all 0.3s