.diet
  &__header
    display: flex
    align-items: flex-end
    width: 100%

  &__sort
    display: inline-block
    margin: 0 0 0 auto

  &__sortItem
    display: inline-block

    color: #239e58

    font-size: 11px
    font-weight: 500
    line-height: 1
    padding: 3px 7px

    cursor: pointer

    i
      margin-right: 5px

    &:hover
      color: lighten(#239e58, 10)

  &__box
    display: block
    width: 100%
    margin-top: 15px

  &__item
    margin-bottom: 16px