.progressBar

  &__content
    padding-bottom: 30px
    margin-bottom: 30px
    border-bottom: 1px solid #f6f6f6

  &__labels
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 25px
    +tab_max
      margin: 0

  &__label
    position: relative
    font-size: 11px
    color: #8a8a8a
    margin-bottom: 5px
    z-index: 99

    &.-yourLvl
      position: absolute
      left: 0
      transform: translate(-100% + 1,0)
      top: 0
      color: #289f58
      font-weight: 500
      padding-right: 10px
      transition: 1s
      text-align: right
      min-width: 120px

      &:after
        content: " "
        width: 1px
        height: 35px
        background-color: #9a9a9a
        position: absolute
        right: 0
        top: 0

    &.-access
      position: absolute
      left: 60%
      top: 0
      color: #e20c18
      font-weight: 500
      padding-left: 10px
      min-width: 120px

      &:before
        content: " "
        width: 1px
        height: 35px
        background-color: #e6bcbc
        position: absolute
        left: 0
        top: 0

      &:after
        content: attr(data-access)
        position: absolute
        left: 0
        top: 35px
        transform: translate(-50%,0)

    &.-begin
      padding-left: 5px

    &.-end
      padding-right: 5px

    .progressBar__labels.-bottom &
      +phone_only_600
        padding: 0
        top: 50px

  &__bar
    background-color: #f6f6f6
    height: 15px
    margin: 0 25px 5px
    position: relative
    +tab_max
      margin: 0 0 5px

  &__line
    position: absolute
    width: 1px
    height: 30px
    background-color: #9a9a9a
    bottom: 0
    +phone_only_600
      top: 0

    &.-end
      right: 0

    &.-begin
      left: 0

  &__progress
    height: 100%
    background-color: green
    width: 0
    transition: all 1s

  &__dates
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    position: relative
    +phone_only_600
      top: 23px

  &__date
    font-size: 11px
    color: #8a8a8a

