.diet-item
  display: flex
  justify-content: space-between
  width: 100%

  padding: 20px
  border-top: 1px solid #ebebeb
  border-bottom: 1px solid #ebebeb

  +max(969px)
    flex-wrap: wrap
    justify-content: center

  &__details
    padding-right: 10px
    span
      font-size: 14px
      cursor: default

      i
        color: #9c9c9c
        width: 15px

  &__link
    display: inline-block
    margin-top: 5px
    padding: 3px 7px
    border-radius: 4px
    border: 1px solid #239e58
    color: #239e58
    cursor: pointer

    font-size: 11px
    font-weight: 500

    text-decoration: none

    &:hover
      color: lighten(#239e58, 5)
      border-color: lighten(#239e58, 5)

  &__navigation
    display: block
    width: 295px
    flex-shrink: 0

    +max(969px)
      margin-top: 25px

  &__status
    display: block
    width: 100%
    padding: 14px 7px
    border-radius: 7px
    cursor: default

    font-size: 18px
    font-weight: 500
    line-height: 1
    text-align: center

    &.-new
      background-color: #f0fcde
      border: 1px solid #d5ecb3
      color: #229e58

    &.-in-progress
      background-color: #e5f0f6
      border: 1px solid #bbd5e4
      color: #3788a6

    &.-paid
      background-color: #ffd4d6
      border: 1px solid #e5797e
      color: #e20c18

    &.-closed
      background-color: #f4f4f4
      border: 1px solid #cccccc
      color: #9c9c9c

  &__buttons
    display: flex
    padding-top: 13px
    justify-content: space-between

  &__button
    display: block
    min-width: 136px
    padding: 13px 7px
    border-radius: 7px

    background-color: #239e58
    color: white

    font-size: 13px
    font-weight: 500
    line-height: 1
    text-align: center
    text-decoration: none

    &:hover
      background-color: lighten(#239e58, 5)
      color: white

    &.-disabled
      background-color: #eeeeee
      color: #9c9c9c
      cursor: default

    i
      font-size: 14px
      margin-left: 10px

  &__partialSurvey
    display: inline
