.side-menu.side-item

  ul.icons-menu

    li
      transition: all 0.3s

      &:hover , &.-active
        background-color: #e1e1e1

      a
        display: inline-block
        height: 100%
        width: 100%