.basicBox
  border-top: 1px solid #dfdfdf
  display: flex
  flex-wrap: wrap
  margin: -6px 0
  padding: 20px 0 0
  width: 100%

  &__item
    border-bottom: 1px solid #ebebeb
    display: flex
    flex-flow: column
    margin: 6px 0
    padding: 0 5px 11px

    .col-9 &
      flex-basis: 25%
      width: 25%
      +tab_only
        flex-basis: 33.33%
        width: 33.33%
      +phone_only
        flex-basis: 33.33%
        width: 33.33%
      +phone_only_480
        flex-basis: 50%
        width: 50%

    .col-12 &
      flex-basis: 16.66%
      width: 16.66%
      +laptop_only
        flex-basis: 20%
        width: 20%
      +tab_only
        flex-basis: 25%
        width: 25%
      +phone_only
        flex-basis: 33.33%
        width: 33.33%
      +phone_only_480
        flex-basis: 50%
        width: 50%

  &__image
    display: block
    flex-grow: 0
    flex-shrink: 0
    height: auto
    margin: 0 auto
    max-width: 191px
    width: 100%

  &__title
    align-items: center
    color: #242424
    display: flex
    justify-content: center
    flex-grow: 1
    flex-shrink: 0
    font-size: 15px
    line-height: 1.2
    padding: 10px 0 5px
    text-align: center

  &__link
    background-color: $green
    border-radius: 3px
    color: white
    display: block
    flex-grow: 0
    flex-shrink: 0
    font-size: 13px
    line-height: 1
    margin: 0 auto
    max-width: 100%
    padding: 11px 15px
    text-align: center
    text-decoration: none
    transition: background-color 0.3s ease

    &:hover
      background-color: lighten($green, 5)
      color: white

  &__linkIcon
    font-size: 10px
