.dietCreator
  display: block
  width: 100%
  padding-bottom: 27px
  border-bottom: 1px solid #ebebeb

  &__form
    max-width: 400px
    width: 100%
    +max(600px)
      max-width: 100%

  &__group
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    margin-bottom: 8px

    +max(600px)
      flex-wrap: wrap

  &__label
    font-size: 14px
    font-weight: 500

    +max(600px)
      display: block
      width: 100%
      margin-bottom: 5px

  &__select
    display: block
    width: 200px
    height: 40px
    border-radius: 3px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    font-size: 14px
    color: #686868

    +max(600px)
      width: 100%

  &__input
    display: block
    width: 200px
    height: 40px
    border-radius: 3px
    padding: 0 14px !important

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    font-size: 14px
    color: #686868

    +max(600px)
      width: 100%

  &__textarea
    display: block
    width: 200px
    height: 140px
    border-radius: 3px
    padding: 7px 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    font-size: 14px
    color: #686868

    +max(600px)
      width: 100%

  &__radiogroup
    display: flex
    justify-content: space-around
    width: 50%
    +max(600px)
      width: 100%

  &__radioitem
    padding: 3px 5px

  &__radiolabel
    font-size: 14px
    cursor: pointer

  &__radio
    display: inline-block
    height: 16px
    width: 16px
    min-width: 16px
    padding: 0 !important
    border: 1px solid #dcdcdc
    margin: 0 10px 3px 0
    border-radius: 100%

    background: #ffffff
    color: #239e58
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    line-height: 0
    text-align: center
    vertical-align: middle

    clear: none
    cursor: pointer
    outline: 0
    -webkit-appearance: none
    -moz-appearance: none
    transition: .05s border-color ease-in-out, .05s background-color ease-in-out

    &:checked:before
      content: "\f111"
      margin: 2px 0 0 -1px
      color: #239e58
      float: left
      display: inline-block
      vertical-align: middle
      width: 16px
      font: 400 11px/1 dashicons
      font-family: FontAwesome
      speak: none
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    &:disabled
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0)
      border-color: #d8d8d6
      background-color: #d8d8d6
      cursor: default

  &__button
    transition: background-color .15s ease-in-out
    font-size: 18px !important
    font-weight: 500
    margin-top: 10px !important
    padding: 18px 19px 18px 42px !important

    +max(600px)
      margin: 20px auto 0 !important
      padding: 12px 12px 12px 24px !important
      display: block !important
      font-size: 14px !important

    i
      margin-left: 35px

    &:hover
      background-color: lighten($green, 5)

  .selectric
    display: block
    width: 200px
    height: 40px
    border-radius: 3px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

    +max(600px)
      width: 100%

    &-dietCreator__select
      display: block
      width: 200px
      +max(600px)
        width: 100%

    .button
      background-color: transparent
      color: black

      &:after
        border-top-color: black

    &-items
      background: white

    &-items li:before
      display: none

    &-items li
      background: white

    &-items li:hover
      background: transparent
      color: #686868

    &-items li.highlighted
      background: #e7e7e7
      color: #686868