.patient
  display: block
  width: 100%
  padding: 20px
  background-color: #f4f4f4
  margin-top: 14px

  h4
    font-size: 12px
    margin-bottom: 25px

  span
    display: block
    font-size: 12px
    margin-bottom: 3px

  a
    transition: background-color .15s ease-in-out
    display: inline-block
    width: 100%
    padding: 15px 23px
    border-radius: 7px
    margin: 22px auto 0

    color: #e20c18
    border: 3px solid #e20c18

    font-size: 14px
    font-weight: 500
    line-height: 1
    text-align: center
    text-decoration: none

    +max(969px)
      width: auto

    &:hover
      color: white
      background-color: lighten(#e20c18, 10)
      border-color: lighten(#e20c18, 10)

    &:focus
      color: white
      background-color: lighten(#e20c18, 20)