.questionnaire
  display: flex
  align-items: center
  width: 100%
  padding: 30px
  margin-bottom: 15px

  background-color: #f2f2f2

  .row &
    margin-bottom: 0
    height: 100%

  +max(950)
    text-align: center

  &__content
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center

    +max(767px)
      width: 100%
      flex-wrap: wrap
      justify-content: center

    .row &
      width: 100%
      flex-wrap: wrap

  &__icon
    width: 38px
    height: 47px
    margin-right: 15px
    flex-shrink: 0

  &__text
    display: flex
    align-items: center
    cursor: default

    font-size: 21px
    margin-top: 10px
    margin-bottom: 10px

    +max(969px)
      font-size: 18px

    +max(767px)
      width: 100%
      font-size: 16px

  &__button
    font-size: 13px !important

    +max(767px)
      margin: 0 auto !important
