.contact
  padding: 50px 0 0

  &__row
    display: flex
    flex-wrap: wrap

  &__column
    +tab_only
      flex-basis: 100%
      margin: 0 0 30px
      width: 100%
    +phone_only
      flex-basis: 100%
      margin: 0 0 20px
      width: 100%

    &:nth-child(odd)
      +pc_only
        flex-basis: 40%
        padding: 0 10px 0 0
        width: 40%
      +laptop_only
        flex-basis: 40%
        padding: 0 10px 0 0
        width: 40%

    &:nth-child(even)
      +pc_only
        flex-basis: 60%
        padding: 0 0 0 10px
        width: 60%
      +laptop_only
        flex-basis: 60%
        padding: 0 0 0 10px
        width: 60%

  &__title
    border-bottom: 1px solid #ebebeb
    color: #2b2523
    font-size: 19px
    font-weight: 700
    line-height: 1.1
    margin: 0 0 15px
    padding: 0 0 10px

    &.-noBorder
      border-bottom: 0 none

    span
      font-size: 15px
      font-weight: 500

  &__content
    color: #2b2523
    font-size: 14px

  &__box
    padding: 30px 0 0 12px

  &__item
    font-size: 13px
    margin: 0 0 5px

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  &__icon
    color: #9c9c9c
    width: 25px

  &__map
    height: 360px
    width: 100%
