//popup "Wydrukuj listę zakupów"

.ui-datepicker
  z-index: 99999 !important

.calendarList
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 99998

  &__background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,0.5)
    z-index: 1

  &__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    padding: 50px 40px
    width: 100%
    max-width: 600px
    z-index: 2
    background-color: white

  &__datepickers
    display: flex
    justify-content: space-between
    margin-bottom: 10px
  &__checkbox
    margin-bottom: 10px
  &__input
    width: 48%

    &.-from

    &.-to

  &__label
    width: 100%
    font-size: 14px
    color: #000000

  &__button
    display: inline-block
    color: white
    padding: 10px 30px
    position: relative
    left: 50%
    transform: translate(-50%,0)
    margin-bottom: 15px
    font-weight: bold
    cursor: pointer
    transition: all 0.3s

    &.-pdf
      background-color: #ec2028

    &.-mail
      background-color: #229e58

    &:hover
      opacity: 0.7

  &__success
    color: #229e58
    background-color: #ebfbf1
    border: 1px solid #c4e9d2
    font-size: 13px
    padding: 8px 15px

  &__exit
    position: absolute
    top: 17px
    right: 20px

    i
      font-size: 18px
      transition: all 0.2s
      cursor: pointer

    &:hover
      i
        opacity: 0.7
        transform: scale(1.1,1.1)

  &__list
    display: none

  &__header
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__title
    font-size: 35px
    font-weight: bold
    color: #2b2523

  &__logo
    margin-top: 10px
    width: 243px
    height: 34px

  &__dates
    width: 100%
    font-size: 18px
    margin-bottom: 30px

  &__heading
    font-size: 21px
    font-weight: bold
    color: #000000
    margin-bottom: 10px

  &__itemHolder
    margin-bottom: 20px

  &__item
    background-color: #eeeeee
    border-bottom: 1px solid white
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 4px 15px

    &:nth-child(even)
      background-color: #f7f7f7

  &__product
    font-size: 18px

  &__weight
    font-size: 16px
