.calendar
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 15px

  &__slider
    max-width: 500px
    position: relative
    padding: 0 10px
    margin-bottom: 15px
    +tab_max
      max-width: 100%

  &__title
    width: 100%
    font-family: "Asap", sans-serif, Helvetivca, sans-serif
    font-size: 21px
    color: #2b2523
    font-weight: 600
    font-style: normal
    line-height: normal
    margin-bottom: 15px
    +tab_max
      width: 100%
      margin-bottom: 15px

  &__link
    font-size: 12px
    text-decoration: none
    text-align: center

    span
      display: block
      font-weight: bold
      width: 100%

    &.-active, &:hover
      color: #289f58

  &__arrow
    position: absolute
    top: 0
    cursor: pointer
    font-size: 28px
    line-height: 0.8

    i
      color: #289f58

    &.-prev
      left: 0

    &.-next
      right: 0

  &__button
    margin: 0 0 0 auto !important
    transition: all 0.3s
    font-size: 13px !important
    padding: 10px 15px !important
    &:hover
      opacity: 0.7
      transform: none

    &.-printShopingList
      background-color: #a4c842 !important
