/**
 * activation.scss
 * Styles applied to elements displayed on activation
 */

/**
 * Imports
 */
@import "bourbon/bourbon";

/**
 * Styling begins
 */
div.woocommerce-message {
	overflow: hidden;
	position: relative;
	border-left-color: #cc99c2 !important;
	p {
		max-width: 700px;
	}
}

p.woocommerce-actions,
.woocommerce-message {
	a.button-primary {
		background: #bb77ae;
		border-color: #A36597;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #A36597;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #A36597;
		color: #fff;
		text-shadow: 0px -1px 1px #A36597, 1px 0px 1px #A36597, 0px 1px 1px #A36597, -1px 0px 1px #A36597;

		&:hover, &:focus, &:active {
			background: #A36597;
			border-color: #A36597;
			-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #A36597;
			box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #A36597;
		}
	}

	a.woocommerce-message-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 15px 10px 21px;
		font-size: 13px;
		line-height: 1.23076923;
		text-decoration: none;
		&:before {
			position: absolute;
		    top: 8px;
		    left: 0;
		    -webkit-transition: all .1s ease-in-out;
		    transition: all .1s ease-in-out;
		}
	}

	a.button-primary,
	a.button-secondary {
		text-decoration: none !important;
	}

	.twitter-share-button {
		margin-top: -3px;
		margin-left: 3px;
		vertical-align: middle;
	}
}

p.woocommerce-actions,
.woocommerce-about-text {
	margin-bottom: 1em !important;
}

div.woocommerce-legacy-shipping-notice,
div.woocommerce-no-shipping-methods-notice {
	overflow: hidden;
	padding: 1px 12px;
	p {
		position: relative;
		z-index: 1;
		max-width: 700px;
		line-height: 1.5em;
		margin: 12px 0;

		&.main {
			font-size: 1.1em;
		}
	}
	&:before {
		content: "\e01b";
		font-family: "WooCommerce";
		text-align: center;
		line-height: 1;
		color: #F7F1F6;
		display: block;
		width: 1em;
		font-size: 20em;
		top: 36px;
		right: 12px;
		position: absolute;
	}
}
