@charset "UTF-8";
/**
 * menu.scss
 * Styles applied to dashboard menu items added via WooCommerce.
 * Adds icons to top level menu items, etc.
 */
/**
 * Imports
 */
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
/**
 * WooCommerce CSS Variables
 */
/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
  font-family: 'star';
  src: url("./fonts/star.eot");
  src: url("./fonts/star.eot?#iefix") format("embedded-opentype"), url("./fonts/star.woff") format("woff"), url("./fonts/star.ttf") format("truetype"), url("./fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'WooCommerce';
  src: url("./fonts/WooCommerce.eot");
  src: url("./fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("./fonts/WooCommerce.woff") format("woff"), url("./fonts/WooCommerce.ttf") format("truetype"), url("./fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Styling begins
 */
#adminmenu #toplevel_page_woocommerce .menu-icon-generic div.wp-menu-image:before {
  font-family: 'WooCommerce' !important;
  content: "\e03d"; }

#adminmenu #menu-posts-product .menu-icon-post div.wp-menu-image:before,
#adminmenu #menu-posts-product .menu-icon-product div.wp-menu-image:before {
  font-family: 'WooCommerce' !important;
  content: "\e006"; }

#adminmenu #toplevel_page_wc-reports .menu-icon-generic div.wp-menu-image:before {
  font-family: 'WooCommerce' !important;
  content: "\e023";
  font-size: 1.3em !important; }

span.mce_woocommerce_shortcodes_button {
  background-image: none !important;
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em; }
  span.mce_woocommerce_shortcodes_button:before {
    font-family: 'WooCommerce';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    font-size: .9em;
    line-height: 1.2; }

.wc_plugin_upgrade_notice {
  font-weight: normal;
  color: #fff;
  background: #d54d21;
  padding: 1em;
  margin: 9px 0; }
  .wc_plugin_upgrade_notice a {
    color: #fff;
    text-decoration: underline; }
  .wc_plugin_upgrade_notice:before {
    content: "\f348";
    display: inline-block;
    font: 400 18px/1 dashicons;
    speak: none;
    margin: 0 8px 0 -2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top; }

/*# sourceMappingURL=menu.css.map */
