.msrmnt
  float: right
  background-color: #f6f6f6
  line-height: normal
  padding-right: 20px
  padding-top: 20px
  width: 100%

  +max(1176px)
    width: 100%

  +max(600px)
    padding-right: 10px
    padding-left: 10px

  h4
    line-height: normal
    text-transform: uppercase
    text-align: right
    margin-bottom: 18px
    font-weight: normal
    font-size: 16px
    color: #2b2523

  fieldset
    padding: 0
    border: none
    text-align: right
    margin-bottom: 23px

    input[type="text"]
      width: 93px
      height: 30px
      padding-left: 7px

      +max(600px)
        width: 100%

    input[type="submit"]
      padding: 7px 12px
      font-weight: 600
      border-radius: 5px
      font-size: 13px
      margin-left: 4px

      +max(600px)
        margin-top: 5px

    .kg
      position: relative

      +max(600px)
        width: 100%

      &:after
        content: "kg"
        font-size: 12px
        position: absolute
        right: 10px
        color: #989898
        top: 50% !important
        transform: translate(0, -50%)
        +phone_only_600
          transform: none
          top: 2px !important
          right: -60px !important

    .cm
      position: relative

      +max(600px)
        width: 100%

      &:after
        content: "cm"
        font-size: 12px
        position: absolute
        right: 10px
        color: #989898
        top: 50% !important
        transform: translate(0, -50%)

    &.row1
      div
        display: inline-block
        margin: 5px 0
        +max(600px)
          width: 100%
          margin-right: 0 !important
          margin-bottom: 5px

      label
        font-size: 13px
        +max(600px)
          display: block
          margin-bottom: 3px

    &.row2
      div
        display: inline-block
        margin: 5px 0

        +max(600px)
          width: 100%
          margin-right: 0 !important
          margin-bottom: 5px

        &:nth-of-type(1)
          margin-right: 10px

        &:nth-of-type(2)
          margin-right: 10px

        label
          display: block
          text-align: left
          margin-bottom: 3px
          font-size: 13px

          +max(600px)
            text-align: right

  &__success
    padding: 5px 10px
    border: 2px solid #239e58
    background-color: rgba(0, 189, 0, 0.36)
    color: #239e58
    margin: 0 0 20px 20px
    +phone_only
      margin: 0 0 20px 0

  &__error
    padding: 5px 10px
    border: 2px solid #ee4321
    background-color: rgba(255, 134, 116, 0.75)
    color: #ee4321
    margin: 0 0 20px 20px
    +phone_only
      margin: 0 0 20px 0

.msrmntHolder
  padding-right: 0
  +max(1176px)
    width: 100%
    padding: 0

