#owl-carousel-big
  .owl-prev
    transition: .2s
    position: absolute
    left: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    width: 44px
    background-color: rgba(255, 255, 255, 0.2)
    color: rgba(0, 0, 0, 0.2)

    font-size: 36px
    font-weight: 900

    &:hover
      background-color: rgba(255, 255, 255, 0.75)
      color: rgba(0, 0, 0, 0.5)

  .owl-next
    transition: .2s
    position: absolute
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    width: 44px
    background-color: rgba(255, 255, 255, 0.2)
    color: rgba(0, 0, 0, 0.2)

    font-size: 36px
    font-weight: 900

    &:hover
      background-color: rgba(255, 255, 255, 0.75)
      color: rgba(0, 0, 0, 0.5)