.site-header nav .menu-primary-navigation-container
  margin-top: 43px !important

#primary-menu

  .site-header nav .menu-primary-navigation-container ul li.button-mm a
    transition: all 0.3s
    margin-top: 0 !important
  .site-header nav .menu-primary-navigation-container ul li.button-mm a:hover, .site-header nav .menu-primary-navigation-container ul li.button-mm.-active a
    background-color: #239e58 !important
    color: white
    +max(1100px)
      padding: 4px 8px !important

  .menu-item
    padding: 0 !important
    a
      font-family: 'Open Sans', sans-serif
      padding: 7px 15px !important
      border-radius: 7px
      transition: all 0.3s
      margin-right: 1px
      margin-top: 0 !important
      +max(1100px)
        padding: 7px 8px !important
      &:hover
        background-color: #239e58 !important
        color: white !important
        opacity: 1 !important

  .menu-item.current_page_item
    a
      background-color: #239e58 !important
      color: white !important
      opacity: 1 !important

