.steps
  padding-bottom: 50px
  border-bottom: 1px solid #E3E3E3
  margin-bottom: 35px

  &__content
    display: flex
    padding-top: 50px

  &__item
    text-decoration: none
    position: relative
    padding: 0 30px 0 20px
    +tab_max
      padding: 0 30px 0 10px
    +phone_only
      padding: 0 30px 0 5px
    +phone_only_600
      padding: 0 30px 0 0
    &:before
      content: " "
      width: 50px
      height: 1px
      background-color: #E3E3E3
      position: absolute
      top: calc(50% + 15px)
      right: -20px
      transform: rotate(55deg) translate(calc(-50% - 1px),-50%)

    &:after
      content: " "
      width: 50px
      height: 1px
      background-color: #E3E3E3
      position: absolute
      right: -20px
      bottom: calc(50% - 15px)
      transform: rotate(-55deg) translate(-50%,-50%)
    &:last-child
      &:before
        content: none
      &:after
        content: none

  &__counter
    font-size: 14px
    color: rgba(41, 35, 33, 0.5)
    +tab_max
      font-size: 12px
    +max(690px)
      font-size: 11px
    +phone_only_480
      font-size: 10px

    .steps__item.-active &
      color: #EC2028

  &__name
    font-size: 20px
    font-weight: bold
    color: rgba(41, 35, 33, 0.5)
    +tab_max
      font-size: 18px
    +phone_only
      font-size: 16px
    +max(690px)
      font-size: 14px
    +phone_only_480
      font-size: 12px

    .steps__item.-active &
      color: #EC2028