.dietPicker-form
  display: flex
  flex-wrap: wrap

  &__item
    display: block
    flex-shrink: 0
    width: 75%
    padding: 10px

    +max(820px)
      width: 50%
    +max(480px)
      width: 100%

    .xdsoft_autocomplete
      font-size: 10px
      color: #686868

  &__label
    display: block
    width: 100%
    font-weight: bolder
    color: #239e58
    font-size: 15px


  &__input
    display: block
    width: 100%
    height: 40px
    border-radius: 10px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

  &__range
    display: inline-block
    width: 99px
    height: 40px
    border-radius: 3px
    padding: 0 14px !important

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

  &__select
    display: inline-block
    width: 99px
    height: 40px
    border-radius: 3px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

  &__prefix
    margin-left: 16px
    color: #686868
    font-size: 14px
    cursor: default

  &__ingredients
    width: 100%
    display: block
    background-color: #F4F4F4
    padding: 15px
    border-radius: 5px
    font-size: 14px
    color: #686868
  &__ingredients:empty
    display: none


  &__ingredient
    margin-top: 5px
    input
      max-width: 80px
      width: 100%
      height: 40px
      border-radius: 7px
      padding: 0 14px
      border: 1px solid #dcdcdc
      background: white
      margin-right: 10px
    strong
      color: black
      margin-left: 5px

  &__addholder
    display: flex
    align-items: flex-end
    flex-shrink: 0
    padding: 10px

  &__add
    display: flex
    align-items: center
    height: 40px
    margin-bottom: 4px

    color: #239e58

    font-size: 13px

    cursor: pointer
    &:hover
      color: darken(#239e58, 10)

    i
      margin-right: 10px

  .selectric
    display: inline-block
    width: 99px
    height: 40px
    border-radius: 3px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

    +max(600px)
      width: 100%

    &-dietPicker-form__select
      display: inline-block
      width: 99px
      +max(600px)
        width: 100%

    .label
      margin: 0 20px 0 0

    .button
      background-color: transparent
      color: black

      &:after
        border-top-color: black

    &-items
      background: white

    &-items li:before
      display: none

    &-items li
      background: white

    &-items li:hover
      background: transparent
      color: #686868

    &-items li.highlighted
      background: #e7e7e7
      color: #686868