.calendarTable
  overflow-x: scroll

  &__content
    min-width: 768px

  .day-col
    padding-top: 20px
    vertical-align: top

  .th2
    border-bottom: 2px solid #f5f5f5 !important

  .th3
    width: 20% !important

  .day-wrap
    vertical-align: top

  .fun-col
    width: 22% !important

    a
      display: block

  &__stats
    background-color: transparent !important
    text-align: right
    font-size: 11px
    padding-right: 35px
    vertical-align: top
    min-width: 150px

  &__protein
    color: #eaaf20

  &__fat
    color: #dd2138

  &__carbohydrates
    color: #027bce

  .meal-col
    span.calendarTable__grayText
      color: #a1a1a1
      font-size: 11px

  .confirmed, .unconfirmed, .existed
    display: inline-block
    cursor: pointer
    font-weight: bold
    font-size: 13px
    color: #c9c9c9 !important

    i
      margin-right: 10px

  .confirmed

    &.-active
      color: #239e58 !important
      cursor: default

    &.-disabled
      cursor: default

  .unconfirmed
    &.-active
      color: #ec2028 !important
      cursor: default

    &.-disabled
      cursor: default

  .existed
    &.-active
      color: #386cff !important
      cursor: default

    &.-disabled
      cursor: default

  .-true
    .confirmed
      color: #239e58 !important

  .-false
    .unconfirmed
      color: #ec2028 !important
