.chart
  position: relative

  &__canvas
    width: 100%
    height: 100%

  .canvasjs-chart-credit
    display: none

  &__removeLabel
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: white
    height: 15px
    &:after
      content: " "
      height: 10px
      left: 28px
      right: 0
      bottom: 10px
      background-color: white
      position: absolute

.sidebar-konto .side-graph .captions
  padding-left: 30px
  margin-top: -10px

  span
    display: inline-block
    margin-bottom: 3px

.sidebar-konto .side-graph .captions .actual:before, .sidebar-konto .side-graph .captions .stomach:before
  background-color: #ec2028 !important

.sidebar-konto .side-graph .captions .target:before, .sidebar-konto .side-graph .captions .hips:before
  background-color: #239e58 !important