.dietPicker
  display: block
  width: 100%

  &__option
    display: block
    width: 100%
    margin-bottom: 15px
    border: 1px solid #ebebeb

  &__header
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 45px
    padding: 0 23px
    background-color: #f4f4f4

    font-size: 16px
    font-weight: 600

    cursor: pointer

  &__icon
    display: block
    height: 32px
    width: 32px
    margin-right: 15px

  &__arrow
    position: absolute
    right: 25px
    top: 50%
    transform: translate(0, -50%) rotate(0deg)

    .-active &
      transform: translate(0, -50%) rotate(180deg)

  &__content
    display: none
    padding: 25px
    width: 100%

    .-active &
      display: block

  &__protein
    display: inline
    color: #eaaf20

  &__fat
    display: inline
    color: #dd2138

  &__carbohydrates
    display: inline
    color: #027bce

  &__main
    display: block
    width: 100%

    border-bottom: 1px solid #ebebeb
    margin-bottom: 15px

  &__optional
    display: block
    width: 100%

  &__collection
    margin-bottom: 12px


  &__navigation
    display: flex
    width: 100%
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap
    +max(600px)
      justify-content: center

  &__link
    display: flex !important
    align-items: center
    justify-content: center
    height: 47px
    margin: 3px 6px !important
    border: 3px solid #229e58 !important

    background-color: white
    color: #229e58

    font:
      size: 18px !important
      weight: 500 !important
    text:
      transform: none !important

    transition: background-color .15s ease-in-out
    cursor: pointer
    opacity: 1 !important
    +max(600px)
      font-size: 14px !important

    &:hover
      background-color: #229e58
      color: white

  &__button
    display: flex !important
    align-items: center
    justify-content: center
    height: 47px
    margin: 3px 6px !important
    border: 3px solid #229e58 !important

    background-color: #229e58 !important
    color: white !important

    font:
      size: 18px !important
      weight: 500 !important
    text:
      transform: none !important

    transition: background-color .15s ease-in-out
    cursor: pointer
    opacity: 1 !important
    +max(600px)
      font-size: 14px !important

    &:hover
      border-color: lighten(#229e58, 10) !important
      background-color: lighten(#229e58, 10) !important
      color: white !important

    i
      margin-left: 10px

  &__alert
    display: block
    width: 100%
    padding: 8px 48px 8px 16px
    margin: 0 0 10px
    border-radius: 4px
    border: 1px solid rgb(252, 219, 217)
    background-color: rgb(254, 240, 239)
    color: rgba(0,0,0,.65)
    font-size: 12px
    line-height: 1.5

    &.-warning
      border: 1px solid rgb(255, 243, 207)
      background-color: rgb(255, 250, 235)

    &.-success
      border: 1px solid rgb(207, 239, 223)
      background-color: rgb(235, 248, 242)

    i
      margin-right: 5px