.fileUploader
  position: relative
  display: block
  width: 100%
  padding-right: 330px
  margin-bottom: 35px
  a
    text-decoration: none

  &__inputbox
    display: block
    width: 100%

  &__file
    display: none

  &__upload
    min-width: 140px
    font-size: 12px !important
    text-align: center
    i
      display: none

  &__text
    font-size: 14px
    margin-right: 5px
    cursor: default

  &__infobox
    position: absolute
    right: 0
    top: 0
    max-width: 330px
    padding: 15px 20px
    background-color: rgb(239, 239, 239)
    color: rgb(106, 106, 106)
    font-size: 13px
    text-align: center

  &__filebox
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: wrap
    padding: 10px 0

  &__uploaded
    position: relative
    display: block
    width: 150px
    margin: 5px
    overflow: hidden

  &__uploadedIcon
    padding: 25px 5px 10px
    text-align: center
    i
      font-size: 36px

  &__uploadedName
    font-size: 18px
    font-weight: 500
    text-align: center

  &__uploadedDelete
    position: absolute
    top: 0
    right: 3px
    color: rgb(217, 83, 79)
    cursor: pointer
