.recipeCategory

  &__content

  &__item
    padding-left: 10px

  &__link
    text-decoration: none
    font-size: 13px
    transition: all 0.3s

    &:hover , .recipeCategory__item.-active > &
      color: $red


    i
      margin-right: 10px
      color: $red

.widget-title
  margin-bottom: 20px !important