<!--shortcodes:
 %\s%\ for http://revitamed.like.energy %\content%\ for content
 -->

<table width="600" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; font-family: Arial, Helvetica, sans-serif;">
  <tr>
    <td>
      <h1 style=" font-size: 16px; color: #2b2523; font-weight: 400;font-family: Arial, Helvetica, sans-serif;max-width: 100%; margin-bottom: 0; margin-top: 0;">Witaj,</h1>
    </td>
  </tr>
  <tr style="display: block; margin-bottom: 10px;">
    <td style="display: block; font-size: 16px; color: #2b2523; font-weight: 400;font-family: Arial, Helvetica, sans-serif;max-width: 100%; margin-top: 10px;">
      %content%
    </td>
  </tr>

  <tr>
      <td style=" font-size: 16px; color: #2b2523; font-weight: 400;font-family: Arial, Helvetica, sans-serif;max-width: 100%;">Zespół Revitadiet</td>
  </tr>
</table>
<table width="600" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; font-family: Arial, Helvetica, sans-serif; margin-top: 30px;">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="600" style="max-width: 100%;border-collapse: collapse;">
        <tbody>
        <tr>
          <td valign="top" style=" font-size: 22px; color: #2b2523; font-weight: 600;font-family: Arial, Helvetica, sans-serif;max-width: 100%;">
            <a href="" style="padding: 0; color: transparent;">
              <img src="%s%/wp-content/themes/revitamed/components/vendor/src/mail-logo.png" alt="Revitadiet">
            </a>
            <br>
            <p style="font-size: 22px;line-height: 1;font-weight: 400; margin-top: 10px;margin-bottom: 5px;">Partnerzy: </p>
            <a href="http://revitabielany.pl" style="padding: 0; color: transparent;">
              <img style="max-width: 145px;" src="%s%/wp-content/themes/revitamed/images/revita-logo-main-1.png" alt="Revita">
            </a>
          </td>
          <td align="right" valign="bottom" style=" font-size: 22px; color: #2b2523; font-weight: 600;font-family: Arial, Helvetica, sans-serif;max-width: 100%;padding-bottom: 10px;">
            <a href="https://www.facebook.com/RevitaDiet-Dietetyka-Kliniczna-Online-829078120608674" style="padding: 0 10px;"><img src="%s%/wp-content/themes/revitamed/images/facebook-icon.png" alt="Facebook"></a>
            <a href="" style="padding: 0 10px;"><img src="%s%/wp-content/themes/revitamed/images/google-plus-icon.png" alt="Google Plus"></a>
            <a href="" style="padding: 0 10px;"><img src="%s%/wp-content/themes/revitamed/images/youtube-icon.png" alt="You Tube"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
