.tips

  &__item
    display: flex
    flex-wrap: wrap

  &__imageHolder
    width: 40%
    +max(600px)
      width: 100%
      max-width: 100% !important
      min-height: 200px
      margin-bottom: 10px

  &__imageBox
    position: relative
    width: 100%
    height: 100%
    overflow: hidden

    img
      max-width: initial
      display: block
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)

  &__text
    +max(600px)
      width: 100%
      max-width: 100% !important


.entry-image
  padding-right: 3px