.recipesList
  .respost
    +max(1200px)
      width: 33.33% !important
    +max(969px)
      width: 50% !important
    +max(767px)
      width: 33.33% !important
    +max(600px)
      width: 50% !important

  .lnk
    display: block