.dietAdditional
  display: block
  width: 100%

  &__content
    display: block
    width: 100%
    padding: 15px 20px
    margin-bottom: 30px
    border: 1px solid #ebebeb

  &__item
    display: block
    width: 100%
    margin-bottom: 25px

  &__group
    display: flex
    width: 100%

    .xdsoft_autocomplete
      font-size: 10px
      color: #686868

  &__add
    display: flex
    align-items: center
    flex-shrink: 0
    height: 40px
    margin-bottom: 4px
    padding: 0 15px

    color: #239e58

    font-size: 13px

    cursor: pointer
    &:hover
      color: darken(#239e58, 10)

    i
      margin-right: 10px

  &__label
    display: block
    width: 100%
    margin-bottom: 11px

    color: #000000
    font:
      size: 14px
      weight: 500
    line-height: 1

  &__input
    display: block
    width: 100%
    height: 40px
    border-radius: 3px
    padding: 0 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

  &__textarea
    display: block
    width: 100%
    min-height: 112px
    border-radius: 3px
    padding: 7px 14px

    border: 1px solid #dcdcdc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
    background: white

    font-size: 14px
    color: #686868

    resize: vertical

  &__navigation
    display: flex
    width: 100%
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap
    +max(600px)
      justify-content: center

  &__link
    display: flex !important
    align-items: center
    justify-content: center
    height: 47px
    margin: 3px 6px !important
    border: 3px solid #229e58 !important

    background-color: white
    color: #229e58

    font:
      size: 18px !important
      weight: 500 !important
    text:
      transform: none !important

    transition: background-color .15s ease-in-out
    cursor: pointer
    opacity: 1 !important
    +max(600px)
      font-size: 14px !important

    &:hover
      background-color: #229e58
      color: white

  &__button
    display: flex !important
    align-items: center
    justify-content: center
    height: 47px
    margin: 3px 6px !important
    border: 3px solid #229e58 !important

    background-color: #229e58 !important
    color: white !important

    font:
      size: 18px !important
      weight: 500 !important
    text:
      transform: none !important

    transition: background-color .15s ease-in-out
    cursor: pointer
    opacity: 1 !important
    +max(600px)
      font-size: 14px !important

    &:hover
      border-color: lighten(#229e58, 10) !important
      background-color: lighten(#229e58, 10) !important
      color: white !important

    i
      margin-left: 10px

  &__alert
    display: block
    width: 100%
    padding: 8px 48px 8px 16px
    margin: 0 0 10px
    border-radius: 4px
    border: 1px solid rgb(252, 219, 217)
    background-color: rgb(254, 240, 239)
    color: rgba(0,0,0,.65)
    font-size: 12px
    line-height: 1.5

    &.-warning
      border: 1px solid rgb(255, 243, 207)
      background-color: rgb(255, 250, 235)

    &.-success
      border: 1px solid rgb(207, 239, 223)
      background-color: rgb(235, 248, 242)

    i
      margin-right: 5px