
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

@mixin clearfix-after() {
	clear: both;
}

@mixin cf() {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin mscale($ts) {
	transform:scale($ts);
	-webkit-transform:scale($ts);
	-moz-transform:scale($ts);
	-o-transform:scale($ts);
}

@mixin border-radius( $r ) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

@mixin border-radius-long( $tl, $tr, $br, $bl ) {
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;

	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;

	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;

}

@mixin opacity( $opacity ) {
	$opacity-string: #{$opacity};
	$opacity-length: str-length( $opacity-string );

	@if( str-slice( $opacity-string, $opacity-length) == '%' ) {
		$opacity: str-slice( $opacity-string, 1, $opacity-length - 1 );
		$opacity: number( $opacity ) / 100;
	}

	@if( $opacity > 1 ) {
		$opacity: $opacity / 100;
	}

	opacity: $opacity;

}

@mixin font($font, $size, $color, $weight, $style: normal) {
	font-family: $font, Helvetivca, sans-serif;
	font-size: $size;
	color: $color;
	font-weight: $weight;
	font-style:  $style;
}

@mixin mmax($mmax) {
	@media screen and (max-width: #{$mmax}px) {
		@content;
	}
}
@mixin mmin($mmin) {
	@media screen and (min-width: #{$mmin}px) {
		@content;
	}
}

@mixin mrange($mmax1, $mmin1) {
	@media screen and (max-width: #{$mmax1}px) and (min-width: #{$mmin1}px) {
		@content;
	}
}

@mixin rotate( $degrees ) {
	-webkit-transform: rotate(#{$degrees}deg);
	-moz-transform: rotate(#{$degrees}deg);
	-ms-transform: rotate(#{$degrees}deg);
	-o-transform: rotate(#{$degrees}deg);
	transform: rotate(#{$degrees}deg);

	filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
	zoom: 1;
}

@mixin translate( $proc ) {
	-webkit-transform: $proc;
	-moz-transform: $proc;
	-ms-transform: $proc;
	-o-transform: $proc;
	transform: $proc;
}
