.message
  +clearfix
  position: relative
  display: inline-block
  width: 100%
  margin-bottom: 13px
  border: 1px solid
  border-color: #e8e8e8

  &.-subpost
    float: right
    width: 83%

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    height: 47px
    padding: 0 17px
    background-color: #e8e8e8

    .-subpost &
      background-color: #f5f5f5

  &__userbox
    display: flex
    align-items: center

  &__avatar
    overflow-y: hidden
    display: block
    width: 64px
    height: 64px
    margin-right: 24px
    border: 5px solid #ededed
    background-color: #ededed
    transform: translate(0, 17px)

  &__author
    //position: absolute

  &__author
    font-size: 14px
    cursor: default

    a
      text-decoration: none

  &__date
    font-size: 12px
    cursor: default

  &__content
    word-wrap: break-word
    display: block
    width: 100%
    padding: 46px 17px 43px 17px
    font-size: 14px
    cursor: default
    font-weight: 400
    line-height: 25.6px


  &__footer
    display: block
    width: 100%
    text-align: right
    margin-top: -52px

  &__answer
    transition: all .15s ease-in-out
    display: inline-block
    font-size: 13px
    font-weight: 400
    padding: 0 20px 9px
    color: $red
    cursor: pointer

    &:hover
      color: darken($red, 20)

//komunikaty sukcesu i błędu
.form-message__alert

  &.-success
    padding: 6px 20px
    color: rgba(0, 141, 0, 0.93)
    background-color: rgba(2, 177, 2, 0.37)
    border: 2px solid #239e58
    margin-bottom: 10px

  &.-warning
    padding: 6px 20px
    color: rgba(136, 2, 2, 0.65)
    background-color: rgba(253, 68, 68, 0.52)
    border: 2px solid rgba(136, 2, 2, 0.65)
    margin-bottom: 10px

.message-navigation
  &__item
    cursor: pointer
    &.-highlighted
      font-weight: bold