header
  @media print
    display: none

div.content-area
  @media print
    padding-top: 0

div.wrapper
  @media print
    display: none

section.progressBar
  @media print
    display: none

section.diet-header
  @media print
    display: none

aside.sidebar-konto
  @media print
    display: none

.button.-print
  @media print
    display: none

.button.-printShopingList
  @media print
    display: none

section.diet-info
  @media print
    display: none

section.prohibitedProducts
  @media print
    display: none

.calendarAccordion
  @media print
    display: none

.day-col
  @media print
    width: 1%
    padding: 0

.day-wrap
  @media print
    width: 100%
    padding: 0

.th1, .th2, .th3
  @media print
    padding-left: 0
    padding-right: 0

.calendarTable
  @media print
    overflow-x: visible

.calendarTable__stats
  @media print
    padding-right: 0

.calendarTable__content
  @media print
    display: block
    min-width: 700px

.calendar__slider
  @media print
    display: none

.calendar__title
  @media print
    display: inline-block
    margin-bottom: 0
    line-height: normal

.day-row.-mainDay
  @media print
    display: none

.calendarTable__content
  @media print
    page-break-inside: auto

.day-row.-onlyForPrint
  display: inline-block
  overflow: hidden
  width: 0
  height: 0
  @media print
    display: table-row
    width: inherit
    height: inherit
    //page-break-inside: avoid
    page-break-after: always

.day-wrap
  @media print
    page-break-inside: avoid
    page-break-after: always

.diet-summary
  @media print
    display: none

.scrollToTop
  @media print
    display: none

.day-col
  @media print
    border-top: 2px solid #f5f5f5

.shopingList.-notPrint
  @media print
    display: none !important

.-notPrint
  @media print
    display: none !important

.shopingList
  @media print
    display: none !important

.-notPrint.shopingList__list
  @media print
    display: none !important

.shopingList__list
  @media print
    display: block !important