.prohibitedProducts

  &__content

  &__title
    font-weight: bold
    color: #e20c18
    font-size: 26px
    margin-bottom: 25px

  &__item
    display: block
    background-color: #fddbdd
    color: #e20c18
    padding: 4px 15px
    border-radius: 5px
    margin: 0 4px 5px 0
    font-size: 11px