/* tableka terminy */
#standard .inside{
    overflow: auto
}

#standard  .rwmb-meta-box{
    display: flex;
    flex-wrap: wrap;
    min-width: 970px;
    overflow-y: hidden
}

#standard  .col {
    width: 150px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 4px 1px;
    background-color: #f5f5f5;
    text-align: center;
}

#standard  .col:first-of-type {
    width: 200px
}

#standard .col:nth-child(4){
    padding-left: 5px
}

#standard .col:nth-child(5){
    width: 160px
}
#standard .col:nth-child(6){
    width: 120px
}
#standard  .rwmb-field.rwmb-group-wrapper {
    width: 100%;
    padding: 4px 0 0
}

#standard .rwmb-clone.rwmb-group-clone{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
    padding-right: 0;
}

#standard .rwmb-clone.rwmb-group-clone:after {
    content: none
}

#standard .rwmb-clone.rwmb-group-clone:last-of-type {
    margin-bottom: 10px
}

#standard .rwmb-field{
    width: 150px;
    box-sizing: border-box;
    margin: -1px 0;
}

#standard .rwmb-field.rwmb-post-wrapper{
    width: 200px;
}

#standard .rwmb-field.rwmb-text-wrapper{
    padding-left: 5px
}

#standard .rwmb-field.rwmb-post-wrapper > .rwmb-input.ui-sortable .select2-container{
    width: 100%;
    max-width: 200px;
    min-width: inherit;
}

#standard .rwmb-field.rwmb-checkbox-wrapper{
    padding-left: 5px;
    width: 100px;
}

#standard .rwmb-field.rwmb-checkbox-wrapper > .rwmb-input.ui-sortable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

#standard .rwmb-button.remove-clone{
    text-align: center;
    position: relative;
    width: 150px;
    background: none
}

#standard .rwmb-button.remove-clone{
    top: 2px;
    color: #909090;
    transition: all 0.2s
}

#standard .rwmb-button.remove-clone:after{
    content: "Usuń";
    color: #0073aa;
    line-height: 20px
}

#standard .rwmb-button.remove-clone:hover{
    opacity: 0.7
}

#standard .rwmb-button.remove-clone .dashicons.dashicons-minus:before{
    content: "\f182";
}

@media (max-width: 783px){
    #standard .rwmb-button.remove-clone{
        top: 8px;
    }
}

#standard .rwmb-input input:not([type="checkbox"]){
    max-width: 60px;
    display: block;
    margin: 0 auto;
    border: 1px solid #c3c6cc;
    padding: 3px 5px !important
}

#standard .rwmb-input input[type="text"]{
    max-width: 80px;
}

#standard .rwmb-input select{
    width: 100%;
}

#standard .rwmb-input select.rwmb-post{
    padding: 0;
    border: 1px solid #c3c6cc;
    height: 25px;
    height: -moz-calc(26px);
    height: -webkit-calc(25px);
}

@media (max-width: 783px){
    #standard .rwmb-input select.rwmb-post{
        height: 26px;
        height: -moz-calc(28px);
        height: -webkit-calc(27px);
    }
}