body {
    font-family:"Roboto", Arial, Helvetica sans-serif;
    color : #4c4c4d;
}

table, div {
    line-height: 170%;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

td {
    vertical-align: top;
}

h1{
    text-align: center;
}