/*--------------------------------------------------------------
# Styles for home
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors - do not remove variables. Use friendly names listed below
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Friendly names for colours
--------------------------------------------------------------*/
/*$lightgrey: $color__background_body;*/
/*$lightestgrey: $color__background_grey;
$grey0nblue: #cac8c8;*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base Typo
--------------------------------------------------------------*/
/* =========================================================== LIGHTBOX =================================================== */
/* ACTIVITY INDICATION */
/* line 84, ../sass/_settings.scss */
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%;
}

/* line 89, ../sass/_settings.scss */
#imagelightbox-loading {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
}

/* line 105, ../sass/_settings.scss */
#imagelightbox-loading div {
  width: 1.25em;
  /* 20 */
  height: 1.25em;
  /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading 0.5s ease infinite;
  animation: imagelightbox-loading 0.5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
  }
}
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .5;
    transform: scale(0.75);
  }
}
/* OVERLAY */
/* line 131, ../sass/_settings.scss */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* "CLOSE" BUTTON */
/* line 146, ../sass/_settings.scss */
#imagelightbox-close {
  width: 35px;
  height: 35px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  padding: 0;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  border: none;
}

/* line 163, ../sass/_settings.scss */
#imagelightbox-close:hover,
#imagelightbox-close:focus {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 168, ../sass/_settings.scss */
#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}

/* line 180, ../sass/_settings.scss */
#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 186, ../sass/_settings.scss */
#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* CAPTION */
/* line 195, ../sass/_settings.scss */
#imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */
}

/* NAVIGATION */
/* line 211, ../sass/_settings.scss */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 226, ../sass/_settings.scss */
#imagelightbox-nav button {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */
}

/* line 236, ../sass/_settings.scss */
#imagelightbox-nav button.active {
  background-color: #fff;
}

/* ARROWS */
/* line 244, ../sass/_settings.scss */
.imagelightbox-arrow {
  width: 3.75em;
  /* 60 */
  height: 3.75em;
  /* 60 */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff !important;
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  margin-top: -1.75em;
  /* 60 */
  border: none;
  font-size: 30px;
}

/* line 260, ../sass/_settings.scss */
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
}

/* line 267, ../sass/_settings.scss */
.imagelightbox-arrow:active {
  background-color: #111;
}

/* line 271, ../sass/_settings.scss */
.imagelightbox-arrow-left {
  left: 2.5em;
  /* 40 */
}

/* line 275, ../sass/_settings.scss */
.imagelightbox-arrow-right {
  right: 2.5em;
  /* 40 */
}

/* line 279, ../sass/_settings.scss */
.imagelightbox-arrow:before {
  border: none;
  content: '';
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
  line-height: 30px;
}

/* line 294, ../sass/_settings.scss */
.imagelightbox-arrow-left:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px;
}

/* line 302, ../sass/_settings.scss */
.imagelightbox-arrow-right:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px;
}

/* line 310, ../sass/_settings.scss */
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
  -webkit-animation: fade-in 0.25s linear;
  animation: fade-in 0.25s linear;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 41.25em) {
  /* line 333, ../sass/_settings.scss */
  #container {
    width: 100%;
  }

  /* line 337, ../sass/_settings.scss */
  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */
  }

  /* line 342, ../sass/_settings.scss */
  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */
  }

  /* line 347, ../sass/_settings.scss */
  .imagelightbox-arrow {
    width: 2.5em;
    /* 40 */
    height: 3.75em;
    /* 60 */
    margin-top: -2.75em;
    /* 30 */
  }

  /* line 353, ../sass/_settings.scss */
  .imagelightbox-arrow-left {
    left: 1.25em;
    /* 20 */
  }

  /* line 357, ../sass/_settings.scss */
  .imagelightbox-arrow-right {
    right: 1.25em;
    /* 20 */
  }
}
@media only screen and (max-width: 20em) {
  /* line 365, ../sass/_settings.scss */
  .imagelightbox-arrow-left {
    left: 0;
  }

  /* line 369, ../sass/_settings.scss */
  .imagelightbox-arrow-right {
    right: 0;
  }
}
/* line 376, ../sass/_settings.scss */
#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
}

/*---------------------------------------------------------------
# Required SASS files - DO NOT REMOVE
--------------------------------------------------------------*/
/* line 11, ../sass/style-home.scss */
.site-content {
  margin-top: -40px;
}

/* line 14, ../sass/style-home.scss */
.h-p {
  clear: both;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
.h-p:after {
  content: '';
  display: table;
  clear: both;
}
/* line 18, ../sass/style-home.scss */
.h-p .hp-sidebar {
  clear: both;
  overflow: hidden;
  float: none;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
.h-p .hp-sidebar:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 18, ../sass/style-home.scss */
  .h-p .hp-sidebar {
    margin-top: 0px;
  }
}
/* line 28, ../sass/style-home.scss */
.h-p .about {
  margin-top: 96px;
  position: relative;
  clear: both;
  overflow: hidden;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
.h-p .about:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 853px) {
  /* line 28, ../sass/style-home.scss */
  .h-p .about {
    margin-top: 20px;
  }
}
/* line 37, ../sass/style-home.scss */
.h-p .about:before {
  background-color: #f6f6f6;
  width: 50%;
  left: 0;
  height: 100%;
  content: " ";
  top: 0;
  position: absolute;
}
@media screen and (max-width: 767px) {
  /* line 37, ../sass/style-home.scss */
  .h-p .about:before {
    height: 40%;
    width: 100%;
  }
}
/* line 52, ../sass/style-home.scss */
.h-p .about > .container {
  padding: 0;
}
/* line 56, ../sass/style-home.scss */
.h-p .about .l-wrapper {
  background-image: url("../images/bg-auout.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding-right: 90px;
  font-size: 15px;
  line-height: 28px;
  padding-top: 57px;
}
@media screen and (max-width: 1100px) {
  /* line 56, ../sass/style-home.scss */
  .h-p .about .l-wrapper {
    height: auto !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 56, ../sass/style-home.scss */
  .h-p .about .l-wrapper {
    background: #f6f6f6;
    margin-bottom: 20px;
    float: none;
    padding: 50px 30px 0;
  }
}
/* line 76, ../sass/style-home.scss */
.h-p .about .l-wrapper h3 {
  max-width: 50%;
  font-size: 21px;
  line-height: 28px;
}
@media screen and (max-width: 768px) {
  /* line 76, ../sass/style-home.scss */
  .h-p .about .l-wrapper h3 {
    max-width: 100%;
  }
}
/* line 86, ../sass/style-home.scss */
.h-p .about .l-wrapper .button-inw {
  margin-bottom: 30px;
}
/* line 92, ../sass/style-home.scss */
.h-p .about .r-wrapper {
  float: right;
}
@media screen and (max-width: 1100px) {
  /* line 92, ../sass/style-home.scss */
  .h-p .about .r-wrapper {
    padding-bottom: 20px;
    height: auto !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 92, ../sass/style-home.scss */
  .h-p .about .r-wrapper {
    margin-bottom: 0;
    float: none;
    background: #fff;
    padding-bottom: 0;
  }
}
/* line 107, ../sass/style-home.scss */
.h-p .about .r-wrapper .txt-wrapper {
  width: 50%;
  float: right;
  padding-top: 57px;
  padding-left: 40px;
}
@media screen and (max-width: 1100px) {
  /* line 107, ../sass/style-home.scss */
  .h-p .about .r-wrapper .txt-wrapper {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 107, ../sass/style-home.scss */
  .h-p .about .r-wrapper .txt-wrapper {
    padding: 0;
    width: 60%;
    float: left;
    padding-bottom: 20px;
  }
}
/* line 124, ../sass/style-home.scss */
.h-p .about .r-wrapper .txt-wrapper h6 {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}
/* line 130, ../sass/style-home.scss */
.h-p .about .r-wrapper .txt-wrapper h5 {
  font-size: 21px;
  font-weight: bold;
  color: #2b2523;
  margin-bottom: 3px;
}
/* line 136, ../sass/style-home.scss */
.h-p .about .r-wrapper .txt-wrapper .sub {
  font-size: 12px;
  font-weight: normal;
  color: #ec2028;
}
/* line 141, ../sass/style-home.scss */
.h-p .about .r-wrapper .txt-wrapper .desc {
  font-size: 14px;
  line-height: 25px;
  margin-top: 25px;
}
/* line 147, ../sass/style-home.scss */
.h-p .about .r-wrapper .thumb {
  width: 50%;
  float: right;
  line-height: 0;
  min-height: 474px;
  height: 100%;
  /*				-webkit-background-size: 100%;
  				background-size: 100%;
  				background-position: bottom center;
  				background-repeat: no-repeat;*/
  position: relative;
}
@media screen and (max-width: 1100px) {
  /* line 147, ../sass/style-home.scss */
  .h-p .about .r-wrapper .thumb {
    width: 100%;
    height: auto;
    min-height: 200px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 147, ../sass/style-home.scss */
  .h-p .about .r-wrapper .thumb {
    max-width: 40%;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* line 176, ../sass/style-home.scss */
.h-p .about .r-wrapper .thumb img {
  display: block;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1100px) {
  /* line 176, ../sass/style-home.scss */
  .h-p .about .r-wrapper .thumb img {
    position: static;
    bottom: auto;
    height: 254px;
    width: auto;
    margin: 0 auto;
  }
}
/* line 192, ../sass/style-home.scss */
.h-p .about .owl-dots {
  position: absolute;
  bottom: 11px;
  left: 19px;
  z-index: 100;
}
@media screen and (max-width: 1100px) {
  /* line 192, ../sass/style-home.scss */
  .h-p .about .owl-dots {
    bottom: -10px;
    left: 35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 192, ../sass/style-home.scss */
  .h-p .about .owl-dots {
    bottom: 20px;
    left: auto;
    right: 0;
  }
}
/* line 208, ../sass/style-home.scss */
.h-p .about .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #e8545c;
  display: inline-block;
  margin-right: 10px;
}
/* line 221, ../sass/style-home.scss */
.h-p .ttm {
  overflow: hidden;
  clear: both;
  width: 100%;
  min-height: 454px;
  background-color: #e8545c;
  padding-top: 50px;
  padding-bottom: 59px;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
.h-p .ttm:after {
  content: '';
  display: table;
  clear: both;
}
/* line 231, ../sass/style-home.scss */
.h-p .ttm h2, .h-p .ttm h3, .h-p .ttm p {
  color: #fff;
}
/* line 236, ../sass/style-home.scss */
.h-p .ttm .head h2, .h-p .ttm .head h3 {
  font-size: 21px;
  margin-bottom: 10px;
  line-height: 1.3;
}
/* line 241, ../sass/style-home.scss */
.h-p .ttm .head h2 {
  font-weight: 400;
  text-transform: uppercase;
}
/* line 245, ../sass/style-home.scss */
.h-p .ttm .head h3 {
  font-weight: 700;
  margin-bottom: 30px;
}
/* line 251, ../sass/style-home.scss */
.h-p .ttm .container {
  padding-left: 35px;
  padding-right: 35px;
}
/* line 255, ../sass/style-home.scss */
.h-p .ttm .box-ttm {
  width: 100%;
  clear: both;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
.h-p .ttm .box-ttm:after {
  content: '';
  display: table;
  clear: both;
}
/* line 260, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item {
  min-height: 228px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: #cf3a43;
  position: relative;
  float: left;
  padding-left: 42px;
  padding-top: 72px;
  padding-right: 42px;
  padding-bottom: 30px;
  display: block;
  text-decoration: none;
}
/* line 274, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item:before {
  position: absolute;
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 32px;
  color: #e8545c;
  top: 27px;
  left: 42px;
}
/* line 285, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item .who {
  text-align: right;
  color: #fff;
  position: relative;
}
/* line 289, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item .who span.ttm-more {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
}
/* line 295, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item .who .r1 {
  font-weight: bold;
  display: block;
}
/* line 299, ../sass/style-home.scss */
.h-p .ttm .box-ttm .item .who .r2 {
  font-size: 12px;
  display: block;
}
/* line 307, ../sass/style-home.scss */
.h-p .ttm .owl-nav {
  display: block;
  width: 100%;
}
/* line 311, ../sass/style-home.scss */
.h-p .ttm .owl-nav .owl-prev, .h-p .ttm .owl-nav .owl-next {
  top: 100px;
  position: absolute;
  font-size: 20px;
  color: #fff;
}
/* line 317, ../sass/style-home.scss */
.h-p .ttm .owl-nav .owl-next {
  right: -15px;
}
/* line 320, ../sass/style-home.scss */
.h-p .ttm .owl-nav .owl-prev {
  left: -15px;
}

/* line 330, ../sass/style-home.scss */
#owl-carousel-big .owl-dots {
  position: absolute;
  bottom: 11px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1100px) {
  /* line 330, ../sass/style-home.scss */
  #owl-carousel-big .owl-dots {
    bottom: -10px;
    left: 35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 330, ../sass/style-home.scss */
  #owl-carousel-big .owl-dots {
    bottom: 20px;
    left: auto;
    right: 0;
  }
}
@media screen and (max-width: 440px) {
  /* line 330, ../sass/style-home.scss */
  #owl-carousel-big .owl-dots {
    display: none;
  }
}
/* line 351, ../sass/style-home.scss */
#owl-carousel-big .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #E4E4E4;
  border: 1px solid #b8b8b8;
  display: inline-block;
  margin-right: 10px;
}
/* line 359, ../sass/style-home.scss */
#owl-carousel-big .owl-dots .owl-dot:hover, #owl-carousel-big .owl-dots .owl-dot.active {
  background-color: #239e58;
}

/* line 521, ../sass/style-home.scss */
.widget_custom_widget {
  display: table-cell;
  float: left;
  width: 25%;
  text-align: center;
  padding: 25px 35px;
  height: 260px;
  vertical-align: middle;
}
/* line 529, ../sass/style-home.scss */
.widget_custom_widget h3 {
  margin-bottom: 0 !important;
  display: none;
}
/* line 533, ../sass/style-home.scss */
.widget_custom_widget img {
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
}
/* line 538, ../sass/style-home.scss */
.widget_custom_widget .tab-top-text {
  display: block;
  width: 100%;
  text-transform: uppercase;
}
/* line 543, ../sass/style-home.scss */
.widget_custom_widget p {
  font-size: 14px;
}
/* line 546, ../sass/style-home.scss */
.widget_custom_widget:before {
  margin: 0;
}
/* line 549, ../sass/style-home.scss */
.widget_custom_widget:nth-child(1) {
  background: #eef6fa;
}
/* line 551, ../sass/style-home.scss */
.widget_custom_widget:nth-child(1):before {
  content: '';
  display: none;
}
/* line 557, ../sass/style-home.scss */
.widget_custom_widget:nth-child(2):before, .widget_custom_widget:nth-child(3):before, .widget_custom_widget:nth-child(4):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 260px;
  border-top: solid 130px transparent;
  border-bottom: solid 130px transparent;
  border-left: solid 30px;
}
@media screen and (max-width: 767px) {
  /* line 557, ../sass/style-home.scss */
  .widget_custom_widget:nth-child(2):before, .widget_custom_widget:nth-child(3):before, .widget_custom_widget:nth-child(4):before {
    display: none;
  }
}
/* line 573, ../sass/style-home.scss */
.widget_custom_widget:nth-child(2) {
  background: #d7e8f1;
}
/* line 575, ../sass/style-home.scss */
.widget_custom_widget:nth-child(2):before {
  border-left-color: #eef6fa;
}
/* line 579, ../sass/style-home.scss */
.widget_custom_widget:nth-child(3) {
  background: #c2dcea;
}
/* line 581, ../sass/style-home.scss */
.widget_custom_widget:nth-child(3):before {
  border-left-color: #d7e8f1;
}
/* line 585, ../sass/style-home.scss */
.widget_custom_widget:nth-child(4) {
  background: #acd4e9;
}
/* line 587, ../sass/style-home.scss */
.widget_custom_widget:nth-child(4):before {
  border-left-color: #c2dcea;
}
@media screen and (max-width: 853px) {
  /* line 521, ../sass/style-home.scss */
  .widget_custom_widget {
    display: none;
  }
}
/* line 594, ../sass/style-home.scss */
.widget_custom_widget .more-box {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  font-size: 12px;
}

/* line 603, ../sass/style-home.scss */
ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  margin-left: 0;
}
/* line 24, ../sass/mixins/_mixins-master.scss */
ul.tabs:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 853px) {
  /* line 603, ../sass/style-home.scss */
  ul.tabs {
    margin-left: 0;
  }
}

/* line 617, ../sass/style-home.scss */
ul.tabs li {
  float: none;
  margin: 0;
  cursor: pointer;
  position: relative;
}

/* line 635, ../sass/style-home.scss */
.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  margin-left: 0;
}
@-moz-document url-prefix() {
  /* line 635, ../sass/style-home.scss */
  .tab_container {
    width: 100%;
  }
}
@media screen and (max-width: 853px) {
  /* line 635, ../sass/style-home.scss */
  .tab_container {
    width: 100%;
    margin-left: 0;
  }
}
/* line 653, ../sass/style-home.scss */
.tab_container .tab_drawer_heading {
  margin: 0;
  padding: 20px;
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
}
/* line 659, ../sass/style-home.scss */
.tab_container .tab_drawer_heading:after {
  content: '\f107';
  font-family: FontAwesome;
}
/* line 663, ../sass/style-home.scss */
.tab_container .tab_drawer_heading img {
  max-width: 33px;
  max-height: 33px;
  margin-bottom: 10px;
}
/* line 669, ../sass/style-home.scss */
.tab_container .tab_drawer_heading:nth-of-type(1) {
  background-color: #eef6fa;
}
/* line 677, ../sass/style-home.scss */
.tab_container .tab_drawer_heading:nth-of-type(2) {
  background-color: #d7e8f1;
}
/* line 688, ../sass/style-home.scss */
.tab_container .tab_drawer_heading:nth-of-type(3) {
  background-color: #c2dcea;
  z-index: 10;
}
/* line 705, ../sass/style-home.scss */
.tab_container .tab_drawer_heading:nth-of-type(4) {
  background-color: #acd4e9;
}
/* line 710, ../sass/style-home.scss */
.tab_container .tab_content {
  padding: 70px 30px;
  display: none;
  margin-top: 0;
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  position: relative;
  overflow: hidden;
}
/* line 718, ../sass/style-home.scss */
.tab_container .tab_content li {
  padding-left: 25px;
  position: relative;
}
/* line 721, ../sass/style-home.scss */
.tab_container .tab_content li:before {
  content: '\f00c';
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0.6);
}
/* line 729, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(1) {
  background-color: #eef6fa;
}
/* line 737, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(2) {
  background-color: #d7e8f1;
}
/* line 746, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(3) {
  background-color: #c2dcea;
  z-index: 10;
}
/* line 750, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(3) h3 {
  left: 56px;
}
/* line 753, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(3):after {
  background-image: url("../images/arr-green.png");
}
/* line 763, ../sass/style-home.scss */
.tab_container .tab_content:nth-of-type(4) {
  background-color: #acd4e9;
}
/* line 772, ../sass/style-home.scss */
.tab_container .tab_content .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
}

/* line 785, ../sass/style-home.scss */
.tab_drawer_heading {
  display: none;
}

@media screen and (max-width: 853px) {
  /* line 788, ../sass/style-home.scss */
  .tabs {
    display: none;
  }

  /* line 791, ../sass/style-home.scss */
  .tab_drawer_heading {
    display: block;
  }

  /* line 794, ../sass/style-home.scss */
  .d_active {
    background-color: #666;
    color: #fff;
  }
}
/* line 799, ../sass/style-home.scss */
.wdg-wrapper {
  margin-bottom: 100px;
}
@media screen and (max-width: 853px) {
  /* line 799, ../sass/style-home.scss */
  .wdg-wrapper {
    margin-bottom: 20px;
  }
}

/* line 805, ../sass/style-home.scss */
.wdg-wrapper-1 {
  margin-bottom: 0px;
}
/* line 808, ../sass/style-home.scss */
.wdg-wrapper-1 .title-container {
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 808, ../sass/style-home.scss */
  .wdg-wrapper-1 .title-container {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* line 815, ../sass/style-home.scss */
  .wdg-wrapper-1 .title-container h3 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* line 808, ../sass/style-home.scss */
  .wdg-wrapper-1 .title-container {
    padding-bottom: 70px;
  }
}
/* line 824, ../sass/style-home.scss */
.wdg-wrapper-1 .title-container .btn-how-it-works {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 824, ../sass/style-home.scss */
  .wdg-wrapper-1 .title-container .btn-how-it-works {
    right: auto;
    top: auto;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}

/* line 841, ../sass/style-home.scss */
#demoTab1 ul.tabs {
  display: block;
  width: 100%;
}
@media screen and (max-width: 853px) {
  /* line 841, ../sass/style-home.scss */
  #demoTab1 ul.tabs {
    display: none !important;
  }
}
/* line 848, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget {
  width: 25%;
  background-color: transparent;
  z-index: 20;
  display: block;
  float: left;
  padding: 0 10px;
}
/* line 855, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box {
  width: 100%;
  display: block;
  vertical-align: middle;
  border: solid 1px #3888e9;
  border-bottom-color: #fff;
  position: relative;
  height: 260px;
  margin-bottom: 55px;
  position: relative;
}
/* line 865, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box .tab-box {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 872, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box.border-btm {
  border-bottom-color: #3888e9;
}
/* line 876, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box .arrow {
  display: block;
  position: absolute;
  height: 55px;
  bottom: -55px;
  left: -1px;
  right: -1px;
}
/* line 885, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box .arrow img {
  width: 100%;
  height: auto;
}
/* line 890, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box .arrow .more-box {
  position: absolute;
  display: block;
  width: 100%;
  top: 2px;
  font-size: 12px;
}
/* line 898, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget .tab-inner-box .arrow.animated {
  display: none;
}
/* line 904, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget:before {
  display: none !important;
}
/* line 908, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget.active .tab-inner-box {
  border: solid 1px #3888e9;
  border-bottom-color: #fff;
}
/* line 911, ../sass/style-home.scss */
#demoTab1 .widget_custom_widget.active .tab-inner-box .arrow {
  display: none;
}
/* line 917, ../sass/style-home.scss */
#demoTab1 .tab_content {
  margin-top: -1px;
  background-color: #fff;
  border: solid 1px #3888e9;
  max-width: 100%;
}
/* line 924, ../sass/style-home.scss */
#demoTab1 .tab_content .row {
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 853px) {
  /* line 917, ../sass/style-home.scss */
  #demoTab1 .tab_content {
    margin-top: -21px;
    margin-bottom: 20px;
  }
}
/* line 933, ../sass/style-home.scss */
#demoTab1 .tab_drawer_heading {
  background-color: transparent !important;
  z-index: 20;
  border: solid 1px #dbdbdb;
  margin-bottom: 20px;
}

/* line 946, ../sass/style-home.scss */
.circle-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
/* line 952, ../sass/style-home.scss */
.circle-container h1, .circle-container h2, .circle-container h3, .circle-container h4, .circle-container h5, .circle-container h6 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
/* line 957, ../sass/style-home.scss */
.circle-container .circle-box {
  display: inline-block;
  padding: 10px;
  background: #d7e8f1;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  line-height: 100px;
  position: relative;
}
/* line 969, ../sass/style-home.scss */
.circle-container .circle-box-cont {
  display: block;
  width: 100%;
  position: relative;
}
/* line 973, ../sass/style-home.scss */
.circle-container .circle-box-cont:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  max-width: 100%;
  border: solid #c2dcea;
  border-width: 0 3px 3px 0;
  padding: 3px;
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -moz-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  -o-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
}
/* line 987, ../sass/style-home.scss */
.circle-container .circle-box-cont + p {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  /* line 993, ../sass/style-home.scss */
  .circle-container .circle-box-cont:after {
    display: none;
  }
}

/* line 1004, ../sass/style-home.scss */
.circle-container:last-of-type .circle-box-cont:after {
  display: none;
}

/* line 1011, ../sass/style-home.scss */
.arrow-container {
  display: block;
  float: right;
  text-align: center;
  margin-right: 10vw;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  /* line 1011, ../sass/style-home.scss */
  .arrow-container {
    display: none;
  }
}
/* line 1020, ../sass/style-home.scss */
.arrow-container.arrow-container-2 {
  margin-right: 0;
  margin: 0 auto;
  float: none;
}
/* line 1025, ../sass/style-home.scss */
.arrow-container p {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 1030, ../sass/style-home.scss */
.arrow-container .arrow-box {
  width: 175px;
  height: 92px;
  display: inline-block;
  background: url("../images/arrow11.png") no-repeat;
  position: relative;
  margin: 0 20px;
  top: -50px;
}
@media screen and (max-width: 767px) {
  /* line 1011, ../sass/style-home.scss */
  .arrow-container {
    display: none;
  }
}
/* line 1042, ../sass/style-home.scss */
.arrow-container.arrow-container-first {
  float: left;
  width: 100%;
  margin-right: 0;
  text-align: left;
  margin-top: -50px;
  margin-bottom: 50px;
}
/* line 1049, ../sass/style-home.scss */
.arrow-container.arrow-container-first .arrow-box {
  width: 60%;
  top: 0;
  background: transparent;
  height: auto;
}
@media screen and (max-width: 872px) {
  /* line 1049, ../sass/style-home.scss */
  .arrow-container.arrow-container-first .arrow-box {
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  /* line 1062, ../sass/style-home.scss */
  #demoTab1 .tab_content {
    margin-top: -21px;
    margin-bottom: 20px;
  }
}

/* line 1071, ../sass/style-home.scss */
#demoTab1 #tab1 .circle-container, #demoTab1 #tab3 .circle-container {
  float: none;
  display: inline-block;
}

/* line 1078, ../sass/style-home.scss */
.container-bg-btm {
  padding: 70px 0 20px;
}
@media screen and (max-width: 767px) {
  /* line 1078, ../sass/style-home.scss */
  .container-bg-btm {
    padding-top: 50px;
  }
}
/* line 1083, ../sass/style-home.scss */
.container-bg-btm .col-8 {
  padding-left: 15vw;
}
@media screen and (max-width: 767px) {
  /* line 1083, ../sass/style-home.scss */
  .container-bg-btm .col-8 {
    padding-left: 10px;
  }
}
/* line 1089, ../sass/style-home.scss */
.container-bg-btm h2, .container-bg-btm h3 {
  font-size: 21px;
  margin-bottom: 10px;
  line-height: 1;
}
/* line 1094, ../sass/style-home.scss */
.container-bg-btm h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: #ec2028;
}
/* line 1099, ../sass/style-home.scss */
.container-bg-btm h3 {
  font-weight: 700;
  color: #2b2523;
}
/* line 1103, ../sass/style-home.scss */
.container-bg-btm .btns-box {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  /* line 1078, ../sass/style-home.scss */
  .container-bg-btm {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  /* line 1113, ../sass/style-home.scss */
  .mobile-hidden {
    display: none;
  }
}
/* line 1118, ../sass/style-home.scss */
.month-container {
  padding: 0px;
  position: relative;
}
/* line 1121, ../sass/style-home.scss */
.month-container:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1130, ../sass/style-home.scss */
.month-container h4, .month-container h5 {
  margin: 0;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
  padding-left: 10px;
}
/* line 1140, ../sass/style-home.scss */
.month-container .month-bottom {
  display: block;
  width: 100%;
  background: #eef6fa;
  height: 30px;
  position: relative;
}
/* line 1146, ../sass/style-home.scss */
.month-container .month-bottom:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 20px;
}
@media screen and (max-width: 767px) {
  /* line 1159, ../sass/style-home.scss */
  .month-container .month-bottom:before {
    display: none;
  }
}
/* line 1165, ../sass/style-home.scss */
.month-container:nth-of-type(1):before {
  background: #eef6fa;
}
/* line 1169, ../sass/style-home.scss */
.month-container:nth-of-type(1) .month-bottom:before {
  display: none;
}
/* line 1174, ../sass/style-home.scss */
.month-container:nth-of-type(2) {
  border-left-color: #eef6fa;
}
/* line 1175, ../sass/style-home.scss */
.month-container:nth-of-type(2):before {
  background: #eef6fa;
}
/* line 1179, ../sass/style-home.scss */
.month-container:nth-of-type(2) .month-bottom {
  background: #d7e8f1;
}
/* line 1181, ../sass/style-home.scss */
.month-container:nth-of-type(2) .month-bottom:before {
  border-left-color: #eef6fa;
}
/* line 1187, ../sass/style-home.scss */
.month-container:nth-of-type(3):before {
  background: #d7e8f1;
}
/* line 1190, ../sass/style-home.scss */
.month-container:nth-of-type(3) .month-bottom {
  background: #c2dcea;
}
/* line 1192, ../sass/style-home.scss */
.month-container:nth-of-type(3) .month-bottom:before {
  border-left-color: #d7e8f1;
}
/* line 1198, ../sass/style-home.scss */
.month-container:nth-of-type(4):before {
  background: #c2dcea;
}
/* line 1201, ../sass/style-home.scss */
.month-container:nth-of-type(4) .month-bottom {
  background: #acd4e9;
}
/* line 1203, ../sass/style-home.scss */
.month-container:nth-of-type(4) .month-bottom:before {
  border-left-color: #c2dcea;
}

/* line 1211, ../sass/style-home.scss */
.lightbox-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 80%;
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: #fff;
  padding: 10px;
}

@media screen and (max-width: 870px) {
  /* line 1228, ../sass/style-home.scss */
  #main-slider {
    top: -20px;
  }
}
@media screen and (max-width: 845px) {
  /* line 1228, ../sass/style-home.scss */
  #main-slider {
    top: 0;
  }
}
@media screen and (max-width: 1320px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    max-width: 450px;
    top: 160px;
    right: 40px;
  }
}
@media screen and (max-width: 870px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    top: 80px;
  }
}
@media screen and (max-width: 800px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    top: 50px;
  }
}
@media screen and (max-width: 726px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    top: 40px;
    max-width: 290px;
  }
}
@media screen and (max-width: 690px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    max-width: 230px;
  }
}
@media screen and (max-width: 391px) {
  /* line 1240, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay {
    top: 10px;
    max-width: 150px;
  }
}
@media screen and (max-width: 726px) {
  /* line 1269, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 391px) {
  /* line 1269, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 726px) {
  /* line 1280, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay p {
    font-size: 14px;
  }
}
@media screen and (max-width: 391px) {
  /* line 1280, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay p {
    font-size: 10px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 726px) {
  /* line 1291, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay .button {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1291, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-overlay .button {
    display: none;
  }
}
@media screen and (max-width: 1210px) {
  /* line 1307, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-dots {
    bottom: 10px;
    left: 110px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1307, ../sass/style-home.scss */
  #main-slider .owl-carousel .owl-dots {
    right: auto;
  }
}

/* line 1321, ../sass/style-home.scss */
.slider-mobileBtn {
  display: none;
  text-align: center;
  font-size: 12px;
}
/* line 1326, ../sass/style-home.scss */
.slider-mobileBtn .button {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media screen and (max-width: 600px) {
  /* line 1321, ../sass/style-home.scss */
  .slider-mobileBtn {
    display: block;
  }
}

@media screen and (max-width: 957px) {
  /* line 1337, ../sass/style-home.scss */
  #main {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style-home.css.map */
