.diet-basket
  margin-top: 30px

  .rowp
    margin-bottom: 10px

    +max(600px)
      width: 100%
      padding-left: 0 !important

    .rmlink, .rslink
      font-size: 11px
      background-color: transparent
      border-radius: 0
      padding: 0
      white-space: nowrap
      margin-bottom: 0
      position: absolute
      right: 0
      width: auto !important
      text-decoration: none
      font-weight: bold

    a
      font-size: 10px
      border-radius: 5px
      padding: 2px 10px
      white-space: nowrap
      margin-bottom: 1px
      cursor: pointer
      display: inline-block

    .bg-top
      background-repeat: no-repeat
      background-position: right top
      position: absolute
      left: 0

      +max(600px)
        position: static
        left: auto
        background-position: center top
        width: 100% !important
        margin-bottom: 30px

    .txtp
      float: right
      width: 100%

      +max(600px)
        width: 100%
        text-align: center

      h4
        font-size: 13px
        font-weight: bold

  .row1
    clear: both
    color: $red
    position: relative
    padding-left: 258px
    &:after
      content: ''
      display: table
      clear: both

    h4, a
      color: $red
      text-transform: uppercase

    h4
      margin-bottom: 5px
      line-height: normal

    a
      background-color: #fddbdd

    .bg-top
      width: 252px
      height: 114px
      background-image: url("../images/pir-1.svg")

      +max(600px)
        margin-bottom: 0

    .txt-top
      padding-bottom: 5px
      border-bottom: 3px solid $red
      min-height: 114px

      .spacert
        width: 100%
        height: 38px

        +max(600px)

  .row2
    clear: both
    color: #f8d31a
    padding-left: 300px
    &:after
      content: ''
      display: table
      clear: both

    h4, a
      color: #f8d31a
      text-transform: uppercase

    h4
      margin-bottom: 5px
      line-height: normal

    a
      background-color: #fff6cc

    .bg-top
      width: 305px
      height: 75px
      background-image: url("../images/pir-2.svg")

    .txt-top
      padding-bottom: 5px
      border-bottom: 3px solid #f8d31a
      min-height: 75px

  .row3
    clear: both
    color: $green
    padding-left: 350px
    &:after
      content: ''
      display: table
      clear: both

    h4, a
      color: $green
      text-transform: uppercase

    h4
      margin-bottom: 5px
      line-height: normal

    a
      background-color: #cefadf

    .bg-top
      width: 354px
      height: 75px
      background-image: url("../images/pir-3.svg")

    .txt-top
      padding-bottom: 5px
      border-bottom: 3px solid $green
      min-height: 75px