.comments
  padding: 15px 0
  margin: 15px 0
  border-top: 1px solid #ebebeb

  &-title
    font-size: 15px
    font-weight: normal

    span
      font-weight: 500


  .form-submit
    input.submit
      width: 100%
      display: block
      font-size: 13px
      font-weight: bold
      transition: all 0.3s

      &:hover
        opacity: 0.8

  &-list
    list-style: none
    +phone_only_600
      padding-left: 0 !important