.encourage
  border-top: 1px solid #dfdfdf
  display: flex
  flex-wrap: wrap
  padding: 20px 0 0
  width: 100%

  &__item
    display: flex
    width: 50%
    padding: 10px
    flex-wrap: wrap

    +max(969px)
      width: 100%

  &__content
    display: flex
    width: 100%
    background-color: #f2f2f2
    +max(480px)
      flex-wrap: wrap
      padding: 10px

  &__textbox
    display: flex
    width: 50%
    padding: 30px 19px 13px 20px
    flex-wrap: wrap
    flex-direction: column
    justify-content: space-between
    +max(969px)
      width: inherit
    +max(480px)
      text-align: center
      width: 100%
      order: 2

  &__text
    display: block
    width: 100%
    padding-right: 46px
    +max(480px)
      padding-right: 0

    h3
      font-size: 24px
      font-weight: 900
      line-height: 1
      color: #231f20
      cursor: default

    p
      font-size: 14px
      font-weight: normal
      line-height: 1.4
      color: #231f20
      cursor: default

  &__imagebox
    position: relative
    overflow: hidden
    display: flex
    width: 50%
    justify-content: flex-end
    +max(969px)
      width: inherit
    +max(480px)
      justify-content: center
      width: 100%
      order: 1

  &__image
    +min(970px)
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      min-height: 100%
      min-width: 100%

      max-width: inherit
    +max(480px)
      display: block
      max-width: 100%
      height: auto

  &__link
    background-color: $green
    border-radius: 3px
    color: white
    display: block
    flex-grow: 0
    flex-shrink: 0
    font-size: 13px
    line-height: 1
    margin: 0 auto
    width: 100%
    max-width: 210px
    padding: 11px 15px
    text-align: center
    text-decoration: none
    transition: background-color 0.3s ease

    &:hover
      background-color: lighten($green, 5)
      color: white

  &__linkIcon
    font-size: 10px