.articleNav
  margin: 30px 0
  padding: 10px 0
  border-top: 1px solid #979797

  &__content
    display: flex
    flex-wrap: wrap

  &__item
    display: block
    min-width: 110px
    margin-right: 10px
    position: relative

    .meta &
      float: right
      margin: -10px 0 0 0

    &.-printFix
      +max(1200px)
        width: 100%
        display: inline-block
        margin-top: 15px
        text-align: right

  &__button
    display: block
    color: #979797
    border: 1px solid #979797
    padding: 8px 20px
    border-radius: 7px
    font-size: 13px
    cursor: pointer
    text-align: center
    text-decoration: none
    transition: all 0.3s

    .articleNav__item:hover  &
      color: #ffffff
      background-color: #c6c6c6

    i
      font-size: 16px
      margin-right: 10px

    .meta &
      display: inline-block

  &__socialBox
    position: absolute
    left: 0
    right: 0
    top: 100%
    background-color: #ffffff
    max-height: 0
    overflow: hidden
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    padding-top: 7px
    transition: all 1.3s
    .articleNav__item:hover  &
      max-height: 200px

  &__socialItem
    padding: 2px

  &__socialLink
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    line-height: 20px
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: #979797
    color: white
    text-decoration: none
    transition: all 0.3s

    &:hover
      background-color: #c6c6c6

//Drukowanie artykułu

aside.col-3
  @media print
    display: none

header.site-header
  @media print
    display: none

footer.site-footer
  @media print
    display: none

.articleNav
  @media print
    display: none

.scrollToTop
  @media print
    display: none

main.site-main.col-9
  @media print
    width: 100%
    margin-top: 0
    padding-left: 0
    padding-right: 0

.breadcrumbs
  @media print
    display: none

header.art
  @media print
    padding: 0 0 20px 0

.imgToPrint
  display: none
  @media print
    display: block
    position: absolute
    width: 100%
    max-width: 100%
    height: 425px

.kategoria
  @media print
    margin-left: 0

.ingredients.col-4
  @media print
    padding: 0
    width: 100%

.main-content.col-8
  @media print
    width: 100%

.articleNav__item
  @media print
    display: none