.dietTemplate__container
  .delete_item
    cursor: pointer

.modal
  .template__text
    .clickYes
      display: inline
      margin-top: 4px
    .clickNo
      display: inline
      margin-top: 4px