.info-box
  margin-bottom: 15px

  h4
    font-weight: 500

  .body
    div
      +max(767px)
        margin-bottom: 0

    p
      +max(767px)
        margin-bottom: 0

  .btn
    font-size: 14px
    font-weight: 500