/** -
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch 
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/* line 7, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

/* line 12, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

/* line 17, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

/* line 21, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 29, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 34, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

/* line 40, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

/* line 45, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

/* line 49, ../../sass/owl/owl-carousel-min.scss */
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

/* line 53, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 65, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

/* line 69, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}

/* line 72, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

/* line 75, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 81, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

/* line 85, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}

/* line 88, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* line 91, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 97, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}

/* line 100, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}

/* line 103, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 123, ../../sass/owl/owl-carousel-min.scss */
.owl-height {
  transition: height 0.5s ease-in-out;
}

/* line 126, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* line 130, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 134, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 139, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform .1s ease;
  transition: transform 0.1s ease;
}

/* line 154, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

/* line 159, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

/* line 163, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

/* line 171, ../../sass/owl/owl-carousel-min.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=owl-carousel-min.css.map */
