/**
 * activation.scss
 * Styles applied to elements displayed on activation
 */
/**
 * Imports
 */
/**
 * Styling begins
 */
/* line 14, ../../sass/woocommerce/activation.scss */
div.woocommerce-message {
  overflow: hidden;
  position: relative;
  border-left-color: #cc99c2 !important;
}
/* line 18, ../../sass/woocommerce/activation.scss */
div.woocommerce-message p {
  max-width: 700px;
}

/* line 25, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions a.button-primary,
.woocommerce-message a.button-primary {
  background: #bb77ae;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  color: #fff;
  text-shadow: 0px -1px 1px #A36597, 1px 0px 1px #A36597, 0px 1px 1px #A36597, -1px 0px 1px #A36597;
}
/* line 33, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions a.button-primary:hover, p.woocommerce-actions a.button-primary:focus, p.woocommerce-actions a.button-primary:active,
.woocommerce-message a.button-primary:hover,
.woocommerce-message a.button-primary:focus,
.woocommerce-message a.button-primary:active {
  background: #A36597;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
}
/* line 41, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions a.woocommerce-message-close,
.woocommerce-message a.woocommerce-message-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px 10px 21px;
  font-size: 13px;
  line-height: 1.23076923;
  text-decoration: none;
}
/* line 49, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions a.woocommerce-message-close:before,
.woocommerce-message a.woocommerce-message-close:before {
  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
/* line 58, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions a.button-primary,
p.woocommerce-actions a.button-secondary,
.woocommerce-message a.button-primary,
.woocommerce-message a.button-secondary {
  text-decoration: none !important;
}
/* line 63, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions .twitter-share-button,
.woocommerce-message .twitter-share-button {
  margin-top: -3px;
  margin-left: 3px;
  vertical-align: middle;
}

/* line 70, ../../sass/woocommerce/activation.scss */
p.woocommerce-actions,
.woocommerce-about-text {
  margin-bottom: 1em !important;
}

/* line 75, ../../sass/woocommerce/activation.scss */
div.woocommerce-legacy-shipping-notice,
div.woocommerce-no-shipping-methods-notice {
  overflow: hidden;
  padding: 1px 12px;
}
/* line 79, ../../sass/woocommerce/activation.scss */
div.woocommerce-legacy-shipping-notice p,
div.woocommerce-no-shipping-methods-notice p {
  position: relative;
  z-index: 1;
  max-width: 700px;
  line-height: 1.5em;
  margin: 12px 0;
}
/* line 86, ../../sass/woocommerce/activation.scss */
div.woocommerce-legacy-shipping-notice p.main,
div.woocommerce-no-shipping-methods-notice p.main {
  font-size: 1.1em;
}
/* line 90, ../../sass/woocommerce/activation.scss */
div.woocommerce-legacy-shipping-notice:before,
div.woocommerce-no-shipping-methods-notice:before {
  content: "\e01b";
  font-family: "WooCommerce";
  text-align: center;
  line-height: 1;
  color: #F7F1F6;
  display: block;
  width: 1em;
  font-size: 20em;
  top: 36px;
  right: 12px;
  position: absolute;
}

/*# sourceMappingURL=activation.css.map */
