/* line 1, ../../sass/woocommerce/auth.scss */
body {
  background: #f1f1f1;
  box-shadow: none;
  margin: 100px auto 24px;
  padding: 0;
}

/* line 8, ../../sass/woocommerce/auth.scss */
#wc-logo {
  border: 0;
  margin: 0 0 24px;
  padding: 0;
  text-align: center;
}
/* line 14, ../../sass/woocommerce/auth.scss */
#wc-logo img {
  max-width: 50%;
}

/* line 19, ../../sass/woocommerce/auth.scss */
.wc-auth-content {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  padding: 24px 24px 0;
  zoom: 1;
}
/* line 26, ../../sass/woocommerce/auth.scss */
.wc-auth-content h1, .wc-auth-content h2, .wc-auth-content h3, .wc-auth-content table {
  border: 0;
  clear: none;
  color: #666;
  margin: 0 0 24px;
  padding: 0;
}
/* line 34, ../../sass/woocommerce/auth.scss */
.wc-auth-content p, .wc-auth-content ul {
  color: #666;
  font-size: 1em;
  line-height: 1.75em;
  margin: 0 0 24px;
}
/* line 41, ../../sass/woocommerce/auth.scss */
.wc-auth-content p {
  padding: 0;
}
/* line 45, ../../sass/woocommerce/auth.scss */
.wc-auth-content a {
  color: #A16696;
}
/* line 47, ../../sass/woocommerce/auth.scss */
.wc-auth-content a:hover, .wc-auth-content a:focus {
  color: #111;
}
/* line 53, ../../sass/woocommerce/auth.scss */
.wc-auth-content .wc-auth-login label {
  color: #999;
  display: block;
  margin-bottom: .5em;
}
/* line 59, ../../sass/woocommerce/auth.scss */
.wc-auth-content .wc-auth-login input {
  box-sizing: border-box;
  font-size: 1.3em;
  padding: .5em;
  width: 100%;
}
/* line 66, ../../sass/woocommerce/auth.scss */
.wc-auth-content .wc-auth-login .wc-auth-actions {
  padding: 0;
}
/* line 69, ../../sass/woocommerce/auth.scss */
.wc-auth-content .wc-auth-login .wc-auth-actions .wc-auth-login-button {
  float: none;
  width: 100%;
}

/* line 76, ../../sass/woocommerce/auth.scss */
.wc-auth-permissions {
  list-style: disc inside;
  padding: 0;
}
/* line 80, ../../sass/woocommerce/auth.scss */
.wc-auth-permissions li {
  font-size: 1em;
}

/* line 84, ../../sass/woocommerce/auth.scss */
.wc-auth-logged-in-as {
  background: #f5f5f5;
  border-bottom: 2px solid #eee;
  line-height: 70px;
  margin: 0 0 24px;
  padding: 0 1em 0 0;
}
/* line 91, ../../sass/woocommerce/auth.scss */
.wc-auth-logged-in-as p {
  margin: 0;
  line-height: 70px;
}
/* line 96, ../../sass/woocommerce/auth.scss */
.wc-auth-logged-in-as img {
  float: left;
  height: 70px;
  margin: 0 1em 0 0;
}
/* line 102, ../../sass/woocommerce/auth.scss */
.wc-auth-logged-in-as .wc-auth-logout {
  float: right;
}

/* line 106, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions {
  overflow: hidden;
  padding-left: 24px;
}
/* line 110, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .button {
  background: #f7f7f7;
  border-bottom-width: 2px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  color: #777;
  float: right;
  font-size: 1.25em;
  height: auto;
  line-height: 1em;
  padding: 1em 2em;
  text-align: center;
  width: 50%;
}
/* line 124, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .button:hover, .wc-auth .wc-auth-actions .button:focus {
  background: #fcfcfc;
}
/* line 128, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .button-primary {
  background: #ad6ea1;
  border-color: #a16696;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  float: right;
  opacity: 1;
  text-shadow: 0px -1px 1px #8a4f7f, 1px 0px 1px #8a4f7f, 0px 1px 1px #8a4f7f, -1px 0px 1px #8a4f7f;
}
/* line 138, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .button-primary:hover, .wc-auth .wc-auth-actions .button-primary:focus {
  background: #B472A8;
  color: #fff;
}
/* line 143, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .wc-auth-approve {
  float: right;
}
/* line 146, ../../sass/woocommerce/auth.scss */
.wc-auth .wc-auth-actions .wc-auth-deny {
  float: left;
  margin-left: -24px;
}

/*# sourceMappingURL=auth.css.map */
