@charset "UTF-8";
/**
 * dashboard.scss
 * Styles for WooCommerce dashboard widgets, only loaded on the dashboard itself.
 */
/**
 * Imports
 */
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
/**
 * WooCommerce CSS Variables
 */
/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
  font-family: 'star';
  src: url("./fonts/star.eot");
  src: url("./fonts/star.eot?#iefix") format("embedded-opentype"), url("./fonts/star.woff") format("woff"), url("./fonts/star.ttf") format("truetype"), url("./fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url("./fonts/WooCommerce.eot");
  src: url("./fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("./fonts/WooCommerce.woff") format("woff"), url("./fonts/WooCommerce.ttf") format("truetype"), url("./fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Styling begins
 */
/* line 17, ../../sass/woocommerce/dashboard.scss */
ul.woocommerce_stats {
  overflow: hidden;
  zoom: 1;
}
/* line 21, ../../sass/woocommerce/dashboard.scss */
ul.woocommerce_stats li {
  width: 25%;
  padding: 0 1em;
  text-align: center;
  float: left;
  font-size: 0.8em;
  border-left: 1px solid #fff;
  border-right: 1px solid #ececec;
  text-align: center;
  box-sizing: border-box;
}
/* line 33, ../../sass/woocommerce/dashboard.scss */
ul.woocommerce_stats li:first-child {
  border-left: 0;
}
/* line 37, ../../sass/woocommerce/dashboard.scss */
ul.woocommerce_stats li:last-child {
  border-right: 0;
}
/* line 41, ../../sass/woocommerce/dashboard.scss */
ul.woocommerce_stats strong {
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: normal;
  text-align: center;
  display: block;
}

/* line 52, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .inside {
  padding: 0;
  margin: 0;
}
/* line 57, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list {
  overflow: hidden;
  margin: 0;
}
/* line 61, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li {
  width: 50%;
  float: left;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border-top: 1px solid #ececec;
  color: #aaa;
}
/* line 70, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a {
  display: block;
  color: #aaa;
  padding: 9px 12px;
  -webkit-transition: all ease .5s;
  position: relative;
  font-size: 12px;
}
/* line 78, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a .wc_sparkline {
  width: 4em;
  height: 2em;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 12px;
  margin-top: -1.25em;
}
/* line 90, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a strong {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  display: block;
  color: #21759b;
}
/* line 98, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a:hover {
  color: #2ea2cc;
}
/* line 101, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a:hover:before,
#woocommerce_dashboard_status .wc_status_list li a:hover strong {
  color: #2ea2cc !important;
}
/* line 107, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  content: "";
  font-size: 2em;
  position: relative;
  width: auto;
  line-height: 1.2em;
  color: #464646;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}
/* line 121, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li:first-child {
  border-top: 0;
}
/* line 125, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.sales-this-month {
  width: 100%;
}
/* line 128, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.sales-this-month a:before {
  font-family: "Dashicons";
  content: "\f185";
}
/* line 134, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.best-seller-this-month {
  width: 100%;
}
/* line 137, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.best-seller-this-month a:before {
  content: "\e006";
}
/* line 142, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.processing-orders {
  border-right: 1px solid #ececec;
}
/* line 145, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.processing-orders a:before {
  content: "\e011";
  color: #7ad03a;
}
/* line 152, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.on-hold-orders a:before {
  content: "\e033";
  color: #999;
}
/* line 158, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.low-in-stock {
  border-right: 1px solid #ececec;
}
/* line 161, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.low-in-stock a:before {
  content: "\e016";
  color: #ffba00;
}
/* line 168, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_status .wc_status_list li.out-of-stock a:before {
  content: "\e013";
  color: #a00;
}

/* line 177, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews li {
  line-height: 1.5em;
  margin-bottom: 12px;
}
/* line 182, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews h4.meta {
  line-height: 1.4;
  margin: -.2em 0 0 0;
  font-weight: normal;
  color: #999;
}
/* line 189, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews blockquote {
  padding: 0;
  margin: 0;
}
/* line 194, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews .avatar {
  float: left;
  margin: 0 10px 5px 0;
}
/* line 199, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1.5em;
  line-height: 1.5;
  margin-left: .5em;
  width: 5.4em;
  font-family: 'WooCommerce' !important;
}
/* line 209, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews .star-rating:before {
  content: "\e021\e021\e021\e021\e021";
  color: #b3b3b3;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
}
/* line 220, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
/* line 229, ../../sass/woocommerce/dashboard.scss */
#woocommerce_dashboard_recent_reviews .star-rating span:before {
  content: "\e020\e020\e020\e020\e020";
  top: 0;
  position: absolute;
  left: 0;
  letter-spacing: 0.1em;
  letter-spacing: 0\9;
  color: #9c5d90;
}

/* line 241, ../../sass/woocommerce/dashboard.scss */
#dash-right-now li.product-count a:before {
  font-family: 'WooCommerce';
  content: "\e01d";
}

/*# sourceMappingURL=dashboard.css.map */
