@charset "UTF-8";
/**
 * Twenty Seventeen integration styles
 */
/**
 * Fonts
 */
@font-face {
  font-family: 'star';
  src: url("./fonts/star.eot");
  src: url("./fonts/star.eot?#iefix") format("embedded-opentype"), url("./fonts/star.woff") format("woff"), url("./fonts/star.ttf") format("truetype"), url("./fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url("./fonts/WooCommerce.eot");
  src: url("./fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("./fonts/WooCommerce.woff") format("woff"), url("./fonts/WooCommerce.ttf") format("truetype"), url("./fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Mixins
 */
/**
 * Global elements
 */
/* line 58, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-demo-store {
  padding-top: 3.5em;
}

/* line 62, ../../sass/woocommerce/twenty-seventeen.scss */
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  background-color: #767676;
  color: #fff;
  z-index: 99998;
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
}
/* line 76, ../../sass/woocommerce/twenty-seventeen.scss */
p.demo_store a {
  color: #fff;
}

/* line 82, ../../sass/woocommerce/twenty-seventeen.scss */
.admin-bar p.demo_store {
  top: 32px;
}

/* line 87, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-breadcrumb {
  padding-bottom: 2em;
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 94, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-breadcrumb a {
  box-shadow: 0 1px 0 #0f0f0f;
  -webkit-transition: box-shadow ease-in-out 130ms;
  -moz-transition: box-shadow ease-in-out 130ms;
  transition: box-shadow ease-in-out 130ms;
}
/* line 39, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-breadcrumb a:hover {
  box-shadow: 0 3px 0 #0f0f0f;
}

/* line 99, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-pagination {
  padding-top: 2em;
  margin-top: 4em;
  border-top: 1px solid #eee;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 106, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-pagination ul.page-numbers {
  padding: 0;
  display: block;
}
/* line 111, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-pagination span.page-numbers,
.woocommerce-pagination a.page-numbers,
.woocommerce-pagination .next.page-numbers,
.woocommerce-pagination .prev.page-numbers {
  padding: 0.5em 1em;
  background: #ddd;
  display: inline-block;
  font-size: 1em;
  float: none;
  line-height: 1.5;
  border-radius: 2px;
  -webkit-transition: background-color ease-in-out 0.3s;
  -moz-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}
/* line 125, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-pagination span.page-numbers {
  background-color: #fff;
}
/* line 129, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-pagination a.page-numbers:hover {
  background-color: #767676;
  color: #fff;
}

/* line 135, ../../sass/woocommerce/twenty-seventeen.scss */
.onsale {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: .5em 1em;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 800;
}

/* line 149, ../../sass/woocommerce/twenty-seventeen.scss */
.price del {
  opacity: .5;
}

/* line 154, ../../sass/woocommerce/twenty-seventeen.scss */
.required {
  color: firebrick;
}
/* line 157, ../../sass/woocommerce/twenty-seventeen.scss */
.required[title] {
  border-bottom: none;
}

/* line 162, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin-bottom: 1.5em;
  padding: 2em;
  background: #eee;
}

/* line 170, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-message {
  background: teal;
  color: #fff;
}

/* line 175, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-error {
  background: firebrick;
  color: #fff;
}

/* line 180, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-info {
  background: royalblue;
  color: #fff;
}

/* line 188, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-message a,
.woocommerce-error a,
.woocommerce-info a {
  color: #fff;
  box-shadow: 0 1px 0 white !important;
  -webkit-transition: box-shadow ease-in-out 130ms;
  -moz-transition: box-shadow ease-in-out 130ms;
  transition: box-shadow ease-in-out 130ms;
}
/* line 49, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-message a:hover,
.woocommerce-error a:hover,
.woocommerce-info a:hover {
  color: #fff !important;
  box-shadow: 0 3px 0 white !important;
}

/* line 193, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-store-notice {
  background: royalblue;
  color: #fff;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* line 204, ../../sass/woocommerce/twenty-seventeen.scss */
.admin-bar .woocommerce-store-notice {
  top: 32px;
}

/* line 208, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-store-notice__dismiss-link {
  float: right;
  color: #fff;
}
/* line 212, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-store-notice__dismiss-link:hover {
  text-decoration: underline;
  color: #fff;
}

/**
 * Shop page
 */
/* line 221, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-result-count {
  padding: .75em 0;
}

/**
 * Products
 */
/* line 229, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product {
  list-style: none;
}
/* line 232, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .price,
ul.products li.product .star-rating {
  display: block;
  margin-bottom: .75em;
}
/* line 238, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .button {
  box-shadow: 0 1px 0 #0f0f0f;
  -webkit-transition: box-shadow ease-in-out 130ms;
  -moz-transition: box-shadow ease-in-out 130ms;
  transition: box-shadow ease-in-out 130ms;
}
/* line 39, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .button:hover {
  box-shadow: 0 3px 0 #0f0f0f;
}
/* line 241, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .button.loading {
  opacity: .5;
}
/* line 246, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .added_to_cart {
  box-shadow: 0 1px 0 #0f0f0f;
  -webkit-transition: box-shadow ease-in-out 130ms;
  -moz-transition: box-shadow ease-in-out 130ms;
  transition: box-shadow ease-in-out 130ms;
  margin-left: .5em;
}
/* line 39, ../../sass/woocommerce/twenty-seventeen.scss */
ul.products li.product .added_to_cart:hover {
  box-shadow: 0 3px 0 #0f0f0f;
}

/* line 253, ../../sass/woocommerce/twenty-seventeen.scss */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: 'star';
}
/* line 262, ../../sass/woocommerce/twenty-seventeen.scss */
.star-rating::before {
  content: '\73\73\73\73\73';
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 270, ../../sass/woocommerce/twenty-seventeen.scss */
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
/* line 279, ../../sass/woocommerce/twenty-seventeen.scss */
.star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0;
}

/* line 287, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-loop-product__title {
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.15em;
}

/* line 295, ../../sass/woocommerce/twenty-seventeen.scss */
a.remove {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 100%;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #000;
}
/* line 307, ../../sass/woocommerce/twenty-seventeen.scss */
a.remove:hover {
  background: #000;
  color: #fff !important;
}

/* line 314, ../../sass/woocommerce/twenty-seventeen.scss */
dl.variation dt {
  float: left;
  clear: both;
  margin-right: .25em;
  display: inline-block;
}
/* line 321, ../../sass/woocommerce/twenty-seventeen.scss */
dl.variation dd {
  margin: 0;
}

/**
 * Single product
 */
/* line 330, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product div.product {
  position: relative;
}
/* line 334, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .single-featured-image-header {
  display: none;
}
/* line 338, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .summary {
  margin-bottom: 3em;
}
/* line 341, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .summary p.price {
  margin-bottom: 2em;
}
/* line 346, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .woocommerce-product-rating {
  margin-bottom: 2em;
  line-height: 1;
}
/* line 350, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .woocommerce-product-rating .star-rating {
  float: left;
  margin-right: .25em;
}
/* line 357, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product form.cart .quantity {
  float: left;
  margin-right: .5em;
}
/* line 362, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product form.cart input {
  width: 5em;
}
/* line 368, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .woocommerce-variation-add-to-cart .button {
  padding-top: .72em;
  padding-bottom: .72em;
}
/* line 372, ../../sass/woocommerce/twenty-seventeen.scss */
.single-product .woocommerce-variation-add-to-cart .button.disabled {
  opacity: 0.2;
}

/* line 379, ../../sass/woocommerce/twenty-seventeen.scss */
table.variations label {
  margin: 0;
}
/* line 383, ../../sass/woocommerce/twenty-seventeen.scss */
table.variations select {
  margin-right: .5em;
}

/* line 388, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3em;
}
/* line 392, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery figure {
  margin: 0;
}
/* line 397, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  float: left;
  cursor: pointer;
}
/* line 403, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery .flex-control-thumbs img {
  opacity: .5;
}
/* line 406, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery .flex-control-thumbs img:hover, .woocommerce-product-gallery .flex-control-thumbs img.flex-active {
  opacity: 1;
}
/* line 413, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery img {
  display: block;
}

/* line 419, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 33.3333%;
}

/* line 425, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 25%;
}

/* line 431, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%;
}

/* line 436, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99;
}

/* line 443, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs {
  margin-bottom: 2em;
}
/* line 446, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs li {
  margin-right: 1em;
}
/* line 450, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs li.active a {
  box-shadow: 0 3px 0 #0f0f0f;
}
/* line 456, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs a {
  box-shadow: 0 1px 0 #0f0f0f;
  -webkit-transition: box-shadow ease-in-out 130ms;
  -moz-transition: box-shadow ease-in-out 130ms;
  transition: box-shadow ease-in-out 130ms;
}
/* line 39, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs a:hover {
  box-shadow: 0 3px 0 #0f0f0f;
}
/* line 460, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #comments {
  padding-top: 0;
}
/* line 464, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs .comment-reply-title {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 0.75em;
  display: block;
}
/* line 474, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews li.review,
.woocommerce-tabs #reviews li.comment {
  list-style: none;
  margin-right: 0;
  margin-bottom: 2.5em;
}
/* line 480, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews li.review .avatar,
.woocommerce-tabs #reviews li.comment .avatar {
  max-height: 36px;
  width: auto;
  float: right;
}
/* line 486, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews li.review p.meta,
.woocommerce-tabs #reviews li.comment p.meta {
  margin-bottom: .5em;
}
/* line 492, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
}
/* line 501, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: 'WooCommerce';
  content: '\e021';
  text-indent: 0;
}
/* line 515, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars a:hover ~ a::before {
  content: '\e021';
}
/* line 523, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars:hover a::before {
  content: '\e020';
}
/* line 531, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars.selected a.active::before {
  content: '\e020';
}
/* line 535, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars.selected a.active ~ a::before {
  content: '\e021';
}
/* line 541, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-tabs #reviews p.stars.selected a:not(.active)::before {
  content: '\e020';
}

/**
 * Widgets
 */
/* line 553, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget,
.site-footer .widget .product_list_widget {
  margin-bottom: 1.5em;
}
/* line 557, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget a,
.site-footer .widget .product_list_widget a {
  display: block;
  box-shadow: none;
}
/* line 561, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget a:hover,
.site-footer .widget .product_list_widget a:hover {
  box-shadow: none;
}
/* line 566, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget li,
.site-footer .widget .product_list_widget li {
  padding: 1.5em 0;
}
/* line 569, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget li a.remove,
.site-footer .widget .product_list_widget li a.remove {
  float: right;
  margin-top: 2px;
}
/* line 575, ../../sass/woocommerce/twenty-seventeen.scss */
.widget .product_list_widget img,
.site-footer .widget .product_list_widget img {
  display: none;
}

/* line 582, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_shopping_cart .buttons a {
  display: inline-block;
  margin: 0 .5em 0 0;
}

/* line 591, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_layered_nav .chosen:before {
  content: "×";
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid black;
  margin-right: .25em;
}

/* line 607, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
/* line 611, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4;
  font-size: 0.8751em;
}
/* line 616, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .price_slider_amount .button {
  float: left;
  padding: .4em 1em;
}
/* line 622, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/* line 629, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #000;
  border-radius: 1em;
  cursor: ew-resize;
  outline: none;
  top: -0.3em;
  margin-left: -0.5em;
}
/* line 642, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #000;
}
/* line 652, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #666;
  border: 0;
}
/* line 658, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider-horizontal {
  height: 0.5em;
}
/* line 662, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
/* line 667, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
/* line 671, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

/* line 677, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_rating_filter li {
  text-align: right;
}
/* line 680, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_rating_filter li .star-rating {
  float: left;
  margin-top: .3em;
}

/* line 688, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_product_search form {
  position: relative;
}
/* line 692, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_product_search .search-field {
  padding-right: 100px;
}
/* line 696, ../../sass/woocommerce/twenty-seventeen.scss */
.widget_product_search input[type=submit] {
  position: absolute;
  top: .5em;
  right: .5em;
  padding-left: 1em;
  padding-right: 1em;
}

/**
 * Account section
 */
/* line 709, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation {
  float: right;
  width: 25%;
  border-top: 1px solid #ddd;
}
/* line 714, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation li {
  list-style: none;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
}
/* line 719, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  box-shadow: none;
}
/* line 722, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation li a:hover {
  box-shadow: 0 3px 0 #0f0f0f;
}
/* line 727, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation li:before {
  content: "→";
  display: inline-block;
  margin-right: .25em;
  color: #ddd;
}
/* line 735, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  box-shadow: 0 3px 0 #0f0f0f;
}
/* line 742, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-account .woocommerce-MyAccount-content {
  float: left;
}

/**
 * Cart
 */
/* line 751, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form td {
  padding: 1em .5em;
}
/* line 755, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form img {
  max-width: 42px;
  height: auto;
  display: block;
}
/* line 761, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form dl.variation {
  margin-top: 0;
}
/* line 764, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form dl.variation p, .woocommerce-cart-form dl.variation:last-child {
  margin-bottom: 0;
}
/* line 770, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form .button {
  padding: 1.2em 2em;
}
/* line 775, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form .actions .input-text {
  width: 130px !important;
  float: left;
  margin-right: .25em;
}
/* line 783, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-cart-form .quantity input {
  width: 4em;
}

/* line 789, ../../sass/woocommerce/twenty-seventeen.scss */
.checkout-button {
  display: block;
  padding: 1em 2em;
  border: 2px solid #000;
  text-align: center;
  font-weight: 800;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/* line 798, ../../sass/woocommerce/twenty-seventeen.scss */
.checkout-button:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: #999;
}
/* line 804, ../../sass/woocommerce/twenty-seventeen.scss */
.checkout-button:after {
  content: "→";
}

/**
 * Checkout
 */
/* line 813, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label {
  font-weight: 300;
  cursor: pointer;
}
/* line 817, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label span {
  position: relative;
  display: block;
}
/* line 821, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label span:before {
  content: "";
  display: block;
  height: 16px;
  width: 30px;
  border: 2px solid #bbb;
  background: #bbb;
  border-radius: 13em;
  box-sizing: content-box;
  -webkit-transition: all, ease-in-out, 0.3s;
  -moz-transition: all, ease-in-out, 0.3s;
  transition: all, ease-in-out, 0.3s;
  position: absolute;
  top: 4px;
  right: 0;
}
/* line 836, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label span:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  top: 7px;
  right: 17px;
  border-radius: 13em;
  -webkit-transition: all, ease-in-out, 0.3s;
  -moz-transition: all, ease-in-out, 0.3s;
  transition: all, ease-in-out, 0.3s;
}
/* line 850, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label input[type=checkbox] {
  display: none;
}
/* line 854, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label input[type=checkbox]:checked + span:after {
  right: 3px;
}
/* line 858, ../../sass/woocommerce/twenty-seventeen.scss */
#ship-to-different-address label input[type=checkbox]:checked + span:before {
  border-color: #000;
  background: #000;
}

/* line 866, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-checkout .select2-choice,
.woocommerce-checkout .select2-choice:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/* line 872, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-checkout .select2-choice {
  padding: .7em 0 .7em .7em;
}

/* line 878, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-checkout-review-order-table td {
  padding: 1em .5em;
}
/* line 882, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-checkout-review-order-table dl.variation {
  margin: 0;
}
/* line 885, ../../sass/woocommerce/twenty-seventeen.scss */
.woocommerce-checkout-review-order-table dl.variation p {
  margin: 0;
}

/* line 891, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method {
  list-style: none;
  border-bottom: 1px solid #ddd;
}
/* line 895, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method .payment_box {
  padding: 2em;
  background: #eee;
}
/* line 901, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method .payment_box ul:last-of-type,
.wc_payment_method .payment_box ol:last-of-type {
  margin-bottom: 0;
}
/* line 906, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method .payment_box fieldset {
  padding: 1.5em;
  padding-bottom: 0;
  border: 0;
  background: #f6f6f6;
}
/* line 913, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method .payment_box li {
  list-style: none;
}
/* line 917, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method .payment_box p:last-child {
  margin-bottom: 0;
}
/* line 922, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method > label:first-of-type {
  margin: 1em 0;
}
/* line 925, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method > label:first-of-type img {
  max-height: 24px;
  max-width: 200px;
  float: right;
}
/* line 932, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method label {
  cursor: pointer;
}
/* line 936, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method input[type=radio] {
  display: none;
}
/* line 940, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  box-shadow: 0 0 0 2px black;
  background: white;
  margin-left: 4px;
  margin-right: .5em;
  border-radius: 100%;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
/* line 956, ../../sass/woocommerce/twenty-seventeen.scss */
.wc_payment_method input[type=radio]:checked + label:before {
  background: black;
}

/**
 * Layout stuff
 */
@media screen and (min-width: 48em) {
  /* line 968, ../../sass/woocommerce/twenty-seventeen.scss */
  .has-sidebar.woocommerce-page:not(.error404) #primary {
    width: 74%;
  }
  /* line 972, ../../sass/woocommerce/twenty-seventeen.scss */
  .has-sidebar.woocommerce-page:not(.error404) #secondary {
    width: 20%;
  }

  /* line 977, ../../sass/woocommerce/twenty-seventeen.scss */
  body.page-two-column.woocommerce-cart:not(.archive) #primary .entry-header,
  body.page-two-column.woocommerce-checkout:not(.archive) #primary .entry-header,
  body.page-two-column.woocommerce-account:not(.archive) #primary .entry-header {
    width: 16%;
  }

  /* line 983, ../../sass/woocommerce/twenty-seventeen.scss */
  body.page-two-column.woocommerce-cart:not(.archive) #primary .entry-content,
  body.page-two-column.woocommerce-checkout:not(.archive) #primary .entry-content,
  body.page-two-column.woocommerce-account:not(.archive) #primary .entry-content {
    width: 78%;
  }
}

/*# sourceMappingURL=twenty-seventeen.css.map */
