/* line 1, ../../sass/woocommerce/wc-setup.scss */
body {
  margin: 100px auto 24px;
  box-shadow: none;
  background: #f1f1f1;
  padding: 0;
}

/* line 7, ../../sass/woocommerce/wc-setup.scss */
#wc-logo {
  border: 0;
  margin: 0 0 24px;
  padding: 0;
  text-align: center;
}
/* line 12, ../../sass/woocommerce/wc-setup.scss */
#wc-logo img {
  max-width: 50%;
}

/* line 16, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 24px 24px 0;
  background: #fff;
  overflow: hidden;
  zoom: 1;
}
/* line 23, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content h1, .wc-setup-content h2, .wc-setup-content h3, .wc-setup-content table {
  margin: 0 0 24px;
  border: 0;
  padding: 0;
  color: #666;
  clear: none;
}
/* line 30, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content p {
  margin: 0 0 24px;
  font-size: 1em;
  line-height: 1.75em;
  color: #666;
}
/* line 36, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table {
  font-size: 1em;
  line-height: 1.75em;
  color: #666;
}
/* line 41, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content a {
  color: #a16696;
}
/* line 43, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content a:hover, .wc-setup-content a:focus {
  color: #111;
}
/* line 48, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table th {
  width: 35%;
  vertical-align: top;
  font-weight: normal;
}
/* line 53, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table td {
  vertical-align: top;
}
/* line 55, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table td select, .wc-setup-content .form-table td input {
  width: 100%;
  box-sizing: border-box;
}
/* line 59, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table td input[size] {
  width: auto;
}
/* line 62, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table td .description {
  line-height: 1.5em;
  display: block;
  margin-top: .25em;
  color: #999;
  font-style: italic;
}
/* line 69, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table td .input-checkbox, .wc-setup-content .form-table td .input-radio {
  width: auto;
  box-sizing: inherit;
  padding: inherit;
  margin: 0 .5em 0 0;
  box-shadow: none;
}
/* line 78, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table .section_title td {
  padding: 0;
}
/* line 80, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table .section_title td h2, .wc-setup-content .form-table .section_title td p {
  margin: 12px 0 0;
}
/* line 85, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table th, .wc-setup-content .form-table td {
  padding: 12px 0;
  margin: 0;
  border: 0;
}
/* line 89, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .form-table th:first-child, .wc-setup-content .form-table td:first-child {
  padding-right: 1em;
}
/* line 94, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates {
  width: 100%;
  font-size: .92em;
}
/* line 97, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates th {
  padding: 0;
  text-align: center;
  width: auto;
  vertical-align: middle;
}
/* line 103, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates td {
  border: 1px solid #f5f5f5;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}
/* line 108, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates td input {
  outline: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
  width: 100%;
}
/* line 116, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates td.sort {
  cursor: move;
  color: #ccc;
}
/* line 119, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates td.sort:before {
  content: "\f333";
  font-family: 'dashicons';
}
/* line 124, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates td.readonly {
  background: #f5f5f5;
}
/* line 128, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates .add {
  padding: 1em 0 0 1em;
  line-height: 1em;
  font-size: 1em;
  width: 0;
  margin: 6px 0 0;
  height: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
/* line 138, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates .add:before {
  content: "\f502";
  font-family: 'dashicons';
  position: absolute;
  left: 0;
  top: 0;
}
/* line 146, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates .remove {
  padding: 1em 0 0 1em;
  line-height: 1em;
  font-size: 1em;
  width: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
/* line 156, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content table.tax-rates .remove:before {
  content: "\f182";
  font-family: 'dashicons';
  position: absolute;
  left: 0;
  top: 0;
}
/* line 165, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages {
  width: 100%;
  border-top: 1px solid #eee;
}
/* line 168, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages thead th {
  display: none;
}
/* line 171, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages .page-name {
  width: 30%;
  font-weight: bold;
}
/* line 175, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages th, .wc-setup-content .wc-setup-pages td {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}
/* line 178, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages th:first-child, .wc-setup-content .wc-setup-pages td:first-child {
  padding-right: 9px;
}
/* line 182, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages th {
  padding-top: 0;
}
/* line 186, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages .page-options p {
  color: #777;
  margin: 6px 0 0 24px;
  line-height: 1.75em;
}
/* line 190, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages .page-options p input {
  vertical-align: middle;
  margin: 1px 0 0 0;
  height: 1.75em;
  width: 1.75em;
  line-height: 1.75em;
}
/* line 197, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-pages .page-options p label {
  line-height: 1;
}
@media screen and (max-width: 782px) {
  /* line 206, ../../sass/woocommerce/wc-setup.scss */
  .wc-setup-content .form-table tbody th {
    width: auto;
  }
}
/* line 212, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .twitter-share-button {
  float: right;
}
/* line 215, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps {
  overflow: hidden;
  margin: 0 0 24px;
}
/* line 218, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps h2 {
  margin-bottom: 12px;
}
/* line 221, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps .wc-setup-next-steps-first {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
/* line 226, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps .wc-setup-next-steps-last {
  float: right;
  width: 50%;
  box-sizing: border-box;
}
/* line 231, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul {
  padding: 0 2em 0 0;
  list-style: none outside;
  margin: 0 0 -.75em;
}
/* line 235, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul li a {
  display: block;
  padding: 0 0 .75em;
}
/* line 240, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul .setup-product a {
  background-color: #bb77ae;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  text-shadow: 0px -1px 1px #A36597, 1px 0px 1px #A36597, 0px 1px 1px #A36597, -1px 0px 1px #A36597;
  font-size: 1em;
  height: auto;
  line-height: 1.75em;
  margin: 0 0 .75em;
  opacity: 1;
  padding: 1em;
  text-align: center;
}
/* line 254, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul .setup-product a:hover, .wc-setup-content .wc-setup-next-steps ul .setup-product a:focus, .wc-setup-content .wc-setup-next-steps ul .setup-product a:active {
  background: #A36597;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
}
/* line 262, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul li a:before {
  color: #82878c;
  font: normal 20px/1 'dashicons';
  speak: none;
  display: inline-block;
  padding: 0 10px 0 0;
  top: 1px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  vertical-align: top;
}
/* line 275, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul .learn-more a:before {
  content: "\f105";
}
/* line 278, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul .video-walkthrough a:before {
  content: "\f126";
}
/* line 281, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .wc-setup-next-steps ul .newsletter a:before {
  content: "\f465";
}
/* line 286, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .woocommerce-tracker, .wc-setup-content .updated {
  padding: 24px 24px 0;
  margin: 0 0 24px 0;
  overflow: hidden;
  background: #f5f5f5;
}
/* line 291, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .woocommerce-tracker p, .wc-setup-content .updated p {
  padding: 0;
  margin: 0 0 12px;
}
/* line 295, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-content .woocommerce-tracker p:last-child, .wc-setup-content .updated p:last-child {
  margin: 0 0 24px 0;
}

/* line 300, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps {
  padding: 0 0 24px;
  margin: 0;
  list-style: none outside;
  overflow: hidden;
  color: #ccc;
  width: 100%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
/* line 310, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li {
  width: 20%;
  float: left;
  padding: 0 0 0.8em;
  margin: 0;
  text-align: center;
  position: relative;
  border-bottom: 4px solid #ccc;
  line-height: 1.4em;
}
/* line 320, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li:before {
  content: "";
  border: 4px solid #ccc;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  margin-bottom: -8px;
  background: #fff;
}
/* line 333, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li.active {
  border-color: #a16696;
  color: #a16696;
}
/* line 336, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li.active:before {
  border-color: #a16696;
}
/* line 340, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li.done {
  border-color: #a16696;
  color: #a16696;
}
/* line 343, ../../sass/woocommerce/wc-setup.scss */
.wc-setup-steps li.done:before {
  border-color: #a16696;
  background: #a16696;
}

/* line 349, ../../sass/woocommerce/wc-setup.scss */
.wc-setup .wc-setup-actions {
  overflow: hidden;
}
/* line 351, ../../sass/woocommerce/wc-setup.scss */
.wc-setup .wc-setup-actions .button {
  float: right;
  font-size: 1.25em;
  padding: .5em 1em;
  line-height: 1em;
  margin-right: .5em;
  margin-bottom: 2px;
  height: auto;
  border-radius: 4px;
}
/* line 361, ../../sass/woocommerce/wc-setup.scss */
.wc-setup .wc-setup-actions .button-primary {
  background-color: #bb77ae;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  text-shadow: 0px -1px 1px #A36597, 1px 0px 1px #A36597, 0px 1px 1px #A36597, -1px 0px 1px #A36597;
  float: right;
  margin: 0;
  opacity: 1;
}
/* line 371, ../../sass/woocommerce/wc-setup.scss */
.wc-setup .wc-setup-actions .button-primary:hover, .wc-setup .wc-setup-actions .button-primary:focus, .wc-setup .wc-setup-actions .button-primary:active {
  background: #A36597;
  border-color: #A36597;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #A36597;
}

/* line 379, ../../sass/woocommerce/wc-setup.scss */
.wc-return-to-dashboard {
  font-size: 0.85em;
  color: #b5b5b5;
  margin: 1.18em 0;
  display: block;
  text-align: center;
}

/* line 387, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways {
  border: 1px solid #eee;
  border-bottom-width: 2px;
  padding: 0;
  margin: 0 0 1em;
  list-style: none outside;
  border-radius: 4px;
}
/* line 395, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway {
  padding: 1.5em 1em 1em 4em;
  border-top: 1px solid #eee;
  list-style: none outside;
  cursor: pointer;
  color: #555;
  box-sizing: border-box;
  clear: both;
}
/* line 404, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway:first-child {
  border-top: 0;
}
/* line 408, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway.featured {
  width: 50%;
  float: left;
  clear: none;
  border-right: 1px solid #eee;
  border-top: 0;
}
/* line 416, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway.featured-row-last {
  border-right: 0;
}
/* line 420, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-settings {
  display: none;
  margin-bottom: 0;
  cursor: default;
}
/* line 426, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway.checked {
  background: #F7F1F6;
}
/* line 429, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway.checked .wc-wizard-gateway-settings {
  display: table;
}
/* line 434, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-description {
  font-style: italic;
}
/* line 437, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-description p {
  margin: 0 0 .5em;
}
/* line 442, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable {
  margin: 0 0 .5em;
}
/* line 445, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable label {
  display: block;
  font-weight: bold;
  vertical-align: middle;
}
/* line 450, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable label img {
  max-height: 2em;
  vertical-align: middle;
}
/* line 455, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable label:before {
  content: '';
  background: #fff;
  border: 2px solid #eee;
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8em;
  text-align: center;
  margin: 0 1em 0 -3em;
  border-radius: 4px;
}
/* line 471, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable input {
  opacity: 0;
  width: 0;
  position: absolute;
}
/* line 476, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable input:checked + label:before {
  content: "\f147";
  font-family: 'dashicons';
  color: #fff;
  border-color: #a46497;
  background: #a46497;
}
/* line 484, ../../sass/woocommerce/wc-setup.scss */
ul.wc-wizard-payment-gateways li.wc-wizard-gateway .wc-wizard-gateway-enable input:focus + label {
  outline: 1px solid #ddd;
  /* focus style */
}

/*# sourceMappingURL=wc-setup.css.map */
