.accordion
  text-align: center

  &__item
    display: inline-block
    max-width: 1020px
    width: 100%
    text-align: left

  &__title
    font-size: 18px
    padding: 10px 0
    border-bottom: 1px solid #ebebeb
    margin-bottom: 20px
    position: relative
    cursor: pointer
    user-select: none
    padding-right: 35px

    &:after
      content: "\f107"
      font-family: FontAwesome
      font-size: 38px
      position: absolute
      right: 0
      top: 2px
      color: #239e58

  &__hidden
    display: none
    margin-bottom: 20px
  
