.signInBox
  background-color: #f5f5f5
  padding: 30px

  &.-main
    margin: 30px 0 0

  &__form
    margin: 0 0 15px

  &__title
    color: black
    font-size: 19px
    font-weight: 700
    line-height: 1.2

    .signInBox.-main &
      +tab_only
        text-align: center
      +phone_only
        text-align: center

    .signInBox.-aside &
      text-align: center

  &__subtitle
    color: black
    font-size: 15px
    line-height: 1.2

    .signInBox.-main &
      +tab_only
        text-align: center
      +phone_only
        text-align: center

    .signInBox.-aside &
      text-align: center

  &__info
    color: black
    font-size: 23px
    font-weight: 700
    line-height: 1.1
    margin: 0 0 20px

    .signInBox.-main &
      +tab_only
        text-align: center
      +phone_only
        text-align: center

    .signInBox.-aside &
      text-align: center

    &.-red
      color: $red

  &__row
    display: flex
    flex-wrap: wrap

    .signInBox.-main &
      +pc_only
        margin: 0 -15px
      +laptop_only
        margin: 0 -15px

  &__column
    margin: 0 0 15px

    .signInBox.-aside &
      flex-basis: 100%
      width: 100%

    .signInBox.-main &
      flex-basis: 100%
      width: 100%
      +pc_only
        flex-basis: 25%
        display: flex
        align-content: flex-end
        flex-wrap: wrap
        margin: 15px 0 0
        padding: 0 15px
        width: 25%
      +laptop_only
        flex-basis: 25%
        display: flex
        align-content: flex-end
        flex-wrap: wrap
        margin: 15px 0 0
        padding: 0 15px
        width: 25%

  &__spacer
    background-color: #ebebeb
    height: 1px
    width: 100%

    &.-margin
      margin: 0 0 20px

  &__label
    color: black
    font-size: 13px
    margin: 0 0 5px
    width: 100%

  &__star
    color: $red

  &__textbox
    width: 100%

  &__submit
    background-color: $green
    color: white
    display: block
    font-size: 18px
    font-weight: 500 !important
    margin: 0 auto
    max-width: 210px
    text-align: center
    transition: background-color 0.3s ease
    width: 100%

    &:hover
      background-color: lighten($green, 5)
      display: block
      font-size: 18px
      font-weight: 700
      margin: 0 auto


  &__success
    background-color: #ebfbf1
    border: 1px solid #c4e9d2
    color: #2fa462
    padding: 5px 10px
    margin-top: 5px

  &__error
    background-color: #ffa9a4
    border: 1px solid #ec363c
    color: #ec363c
    padding: 5px 10px
    margin-top: 5px