.imagelightbox

  &-arrow
    position: fixed !important
    width: 3.75em !important
    height: 3.75em !important
    background-color: rgba(0, 0, 0, 0.5) !important
    color: #fff !important
    vertical-align: middle !important
    z-index: 10001 !important
    top: 50% !important
    margin-top: -1.75em !important
    border: none !important
    font-size: 30px !important

    &.imagelightbox-arrow-left
      left:  2.5em !important

    &.imagelightbox-arrow-right
      right: 2.5em !important