.priceList
  padding: 20px 0 0  

  &__text
    display: block  
    width: 100%

    color: #2a2728

    font-size: 26px
    line-height: 1.4

  &__box
    display: flex
    flex-wrap: wrap
    padding: 20px 0 0

  &__item
    width: 33.33%
    padding: 10px 10px 25px

    +max(969px)
      width: 50%

    +max(600px)
      width: 100%

