.dietPicker-item
  position: relative

  display: block
  width: 100%
  margin-bottom: 1px
  padding: 10px 19px

  background-color: #f4f4f4
  color: #000000

  font-size: 13px
  line-height: 1

  cursor: default

  &__remove
    position: absolute
    right: 8px
    top: 50%
    transform: translate(0, -50%)

    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px

    color: #e20c18

    cursor: pointer

    i
      font-size: 18px