.forgottenForm
  display: none
  width: 100%
  padding: 0 40px 40px
  +max(767px)
    margin-top: 20px
    padding: 40px
    background-color: #f4f4f4

  &__form
    display: block
    width: 100%

  &__header
    display: block
    width: 100%
    margin-bottom: 20px

  &__subtitle
    font-size: 18px
    font-weight: 400
    color: #2b2523
    line-height: 1

  &__title
    font-size: 35px
    font-weight: 700
    color: #2b2523
    line-height: 1
    font-family: "Asap", sans-serif, Helvetivca, sans-serif

  &__content

  &__group
    display: flex
    margin: 0 -8px

    +max(969px)
      flex-wrap: wrap
    +max(767px)
      flex-wrap: nowrap
    +max(620px)
      flex-wrap: wrap

  &__inputbox
    display: block
    width: 100%
    padding: 0 8px 11px

  &__label
    display: block
    padding-bottom: 7px
    font-size: 14px
    font-weight: normal
    color: #000000
    line-height: 1
    span
      font-size: 20px
      color: #ec2029
      line-height: 1

  &__input
    display: block
    width: 100%
    height: 38px
    border: 1px solid #dcdcdc
    border-radius: 3px
    padding: 0 7px
    color: black
    font-size: 14px
    font-weight: normal
    line-height: 1.2

  &__navigation
    display: flex
    align-items: center
    width: 100%

  &__button
    background-color: $green
    border-radius: 3px !important
    color: white
    display: block !important
    flex-grow: 0
    flex-shrink: 0
    font-size: 13px !important
    line-height: 1 !important
    max-width: 100%
    margin: 5px 0 5px !important
    padding: 11px 15px !important
    text-decoration: none
    transition: background-color 0.3s ease

    &:hover
      background-color: lighten($green, 5)
      color: white

  &__forgottenText
    font-size: 14px
    font-weight: 400
    color: #2b2523
    cursor: default
    line-height: 1.3
    margin-left: 10px

  &__forgotten
    font-size: 14px
    font-weight: 400
    color: #ec2028
    cursor: pointer
    line-height: 1.3


