.formPartialSurvey
  &__row
    &__inputBox
      max-width: 100px
      width: 100%
      display: inline-block
      margin-right: 20px
    &__label
      width: 100%
      display: block
      font-size: 14px
      cursor: pointer
      margin-bottom: 10px
      margin-left: 7px
    &__input
      width: 100px
      text-align: right
      color: #8b8b8b
      font-size: 12px
      padding: 10px 10px 10px 0 !important
      min-height: 40px
    textarea
      padding-left: 8px
