.diet-info
  margin-bottom: 25px

.konto-tpl main.account-p .diet-info .box-info:nth-of-type(1n)
  +tab_max
    padding: 0 10px 0 0
  +phone_only
    padding: 0


.konto-tpl main.account-p .diet-info .box-info:nth-of-type(2n)
  +tab_max
    padding: 0 0 0 10px
  +phone_only
    padding: 0