.payment
  position: relative
  border: 1px solid #e8e8e8

  margin-bottom: 28px

  &:after
    position: absolute
    left: 0
    right: 0
    bottom: -28px

    display: block
    height: 1px

    background-color: #e8e8e8

    content: ''

  &__header
    display: block
    width: 100%
    padding: 15px 25px

    background-color: #e8e8e8
    color: #2b2523

    font-size: 14px
    font-weight: 500

  &__form
    display: block
    width: 100%
    padding: 20px

  &__content
    display: block
    width: 100%
    border-bottom: 1px solid #e8e8e8
    padding-bottom: 20px
    margin-bottom: 20px

  &__label
    display: block
    width: 100%
    margin-bottom: 25px
    cursor: default

    color: #000000

  &__inputbox
    display: inline-block
    margin-right: 25px
    margin-left: 3px
    +max(767px)
      display: block

  label
    cursor: pointer

  &__input
    margin-right: 15px
    cursor: pointer

  &__navigation
    display: block
    width: 100%
    text-align: right
    +max(767px)
      text-align: center
      margin-top: 15px

  &__button
    display: inline-block
    cursor: pointer
    position: relative
    padding: 0 !important
    border-radius: 7px
    left: auto
    color: #fff
    background-color: inherit !important
    transition: all 0.3s

    &:hover
      opacity: 0.8


    img
      display: block
      width: 265px
      height: 46px