@charset "UTF-8"

=btn
  transition: background-color .3s ease-in-out
  font-size: 12px
  color: #0f7ad7
  min-width: 175px
  height: 45px
  line-height: 45px
  border: 1px solid #dfdfdf
  display: inline-block
  text-align: center
  background-color: #ffffff
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35)
  margin: 6px
  cursor: pointer

  &:hover
    background-color: darken(#ffffff, 5)

=btn-alt
  transition: background-color .3s ease-in-out
  font-size: 12px
  color: #ffffff
  min-width: 204px
  height: 45px
  line-height: 45px
  border: 1px solid #358fdd
  display: inline-block
  text-align: center
  background-color: #358fdd
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35)
  margin: 6px
  cursor: pointer

  &:hover
    background-color: darken(#358fdd, 5)

=btn-white
  transition: background-color .3s ease-in-out
  font-size: 12px
  color: #3a3a3a
  min-width: 204px
  height: 45px
  line-height: 45px
  border: 1px solid #ffffff
  display: inline-block
  text-align: center
  background-color: #ffffff
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35)
  margin: 6px
  cursor: pointer

  &:hover
    background-color: darken(#ffffff, 5)

=placeholder($color)
  &::-webkit-input-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
