.messageCreate
  display: inline-block
  width: 100%
  padding: 20px 0
  margin-top: 25px
  border-top: 1px solid

  border-top-color: #ebebeb

  &.-answer
    float: right
    width: 90%
    margin-top: 0
    padding-top: 15px


  &__title
    display: block
    margin-bottom: 7px
    font-size: 15px
    font-weight: 500
    line-height: 1
    cursor: default

  &__label
    display: block
    margin-bottom: 13px
    font-size: 15px
    line-height: 1

  &__textarea
    display: block
    width: 100%
    min-height: 150px
    max-width: 545px
    padding: 15px
    margin-bottom: 15px

    border-color: #dcdcdc

    resize: vertical

    .-answer &
      margin: 0 0 15px auto

  form
    display: flex
    flex-direction: column
    align-items: flex-end

  &__button
    transition: background-color .15s ease-in-out
    font-weight: 500

    .-answer &
      float: right

    &:hover
      background-color: lighten($green, 5)
