// .single-part_ankieta,
// .page-template-ankieta-czastkowa {
//   h2 {
//     margin-bottom: 20px;
//   }
//
//   .formPartialSurvey {
//     .formPartialSurvey__row__label {
//       text-align: left;
//     }
//
//     .formPartialSurvey__row {
//       margin-bottom: 40px;
//     }
//
//     .formPartialSurvey__row label {
//       display: block;
//       margin-bottom: 10px;
//     }
//
//     .formPartialSurvey__row textarea {
//       resize: vertical;
//       overflow-wrap: break-word;
//     }
//
//     .formPartialSurvey__row:first-child {
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-end;
//     }    
//
//     .formPartialSurvey__row:first-child .formPartialSurvey__row__inputBox {
//       min-height: 105px;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//     }
//
//     .formPartialSurvey__row:first-child .formPartialSurvey__row__inputBox
//     .formPartialSurvey__row__label {
//       margin-bottom: 0;
//
//       p {
//         margin-bottom: 0;
//       }
//     }
//
//     .formPartialSurvey__row > * {
//       width: 100%;
//       max-width: none;
//     }
//
//     .formPartialSurvey__row .formPartialSurvey__row__input {
//       width: 100%;
//     }
//
//     .formPartialSurvey__row .formPartialSurvey__row__inputBox:first-child {
//       max-width: 100px;
//     }
//
//     .formPartialSurvey__row .formPartialSurvey__row__inputBox:last-child {
//       margin-right: 0;
//     }
//   }
//
//
//
//   .form__inputBox {
//     background: red;
//     display: flex;
//     align-items: center;
//
//     .form__label {
//       margin-right: 20px;
//     }
//   }
// }

.mb-30{
  margin-bottom: 30px;
}

.formPartialSurvey{
  .formPartialSurvey__row{
    margin-bottom: 20px;
    .formPartialSurvey__row__inputBox{
      display: block;
      width: 100%;
      max-width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
        max-width: 50%;
      }
      margin-bottom: 20px;
      .formPartialSurvey__row__label{
        width: 100%;
        margin-left: 0;
        cursor: text;
      }
      .formPartialSurvey__row__input{
        width: 100%;
      }
    }
    > label{
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
    }
    input[type="checkbox"] {
        // position: absolute;
        // left: 0;
        // top: 2px;
        margin-top: -2px;
        display: inline-block;
        height: 16px;
        width: 16px;
        min-width: 16px;
        padding: 0 !important;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        background: #ffffff;
        color: #239e58;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        line-height: 0;
        text-align: center;
        vertical-align: middle;
        clear: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        transition: .05s border-color ease-in-out, .05s background-color ease-in-out;
      }
      input[type="checkbox"]:checked{
        background-color: #239e58;
        border-color: #239e58;
        &:before{
          content: "\f00c";
          margin: 0 0 0 -1px;
          color: white;
          float: left;
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          font: 400 13px/1 dashicons;
          font-family: FontAwesome;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      .form_box{
        position: relative;
        .form-row{
          margin-bottom: 10px;
        }
        label{
          display: inline-block;
          font-size: 14px;
          margin-left: 7px;
          cursor: pointer;
        }


      }
    .ankieta-subform{
      padding-left: 26px;
      font-size: 13px;
      label{
        font-size: 13px;
        margin-bottom: 10px;
      }
      @media screen and (min-width: 768px) {
        max-width: 50%;
      }
    }
  }
}


div[data-group="purpose"] {
  margin-bottom: 0 !important;
}
