.subform{
  > .form__label, >.form__rowTitle{
    margin-left: 28px;

  }
  > .form__checkBoxHolder{
    padding-left: 58px;
    input{
      left: 38px;
    }
  }
  > .special-subtitle{
    padding-top: 0;
    padding-left: 28px;
  }
  &.-width100{
    width: 100%;
  }
  label + textarea, .form__label + textarea, textarea{
    margin-left: 28px;
  }
  .medical_long_term{
    padding-left: 28px;
  }
  .subform{
    label{
      margin-left: 56px;
    }
    textarea{
      margin-left: 56px;
    }
  }
  .subform2{
    .form__row{
      margin-left: 38px;
      padding-bottom: 5px;

    }
  }
  .subform3{
    &.-width100{
      width: 100%;
    }
    .form__label,
    .textarea{
      margin-left: 28px;
    }
  }
  .subform.subform4{
    .form__label,
    textarea{
      margin-left: 66px ;
    }
  }
  .form__checkbox{
    width: 14px;
    height: 14px;
    min-width: 14px;
  }
  .form__rowSubtitle{
    font-size: 14px;
  }
  .form__label{
    font-size: 13px;
  }
  
}

.form-napoje{
  .form__label{
    margin-left: 0;
  }
}
