.ss-wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;

  }

  .ss-content {
    height: 100%;
    width: 100%;
    padding: 0 32px 0 0;
    position: relative;
    right: -18px;
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @media screen and (max-width: 425px) {
      right: -4px;
    }
}


.ss-scroll {
    position: relative;
    background: #afafaf;
    width: 9px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s linear;
    z-index: 99;
    left: 0;
}

.ss-hidden {
  display: none;
}
