.message-navigation {
  &__list {
    max-height: 500px;
  }

  &__item {
    padding: 13px 15px;
    background-color: #f5f5f5;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    text-align: left;
    //justify-content: space-between;
    //overflow-y: hidden;
    position: relative;

    &:after {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-left: 18px solid #f5f5f5;
      border-bottom: 15px solid transparent;
    }

    img {
      height: 42px;
      width: auto;
      max-width: 42px;
      max-height: 42px;
      border: 2px solid #e1e8e4;
      border-radius: 5px;
      margin-right: 15px;

      @media screen and (max-width: 425px) {
        display: none;
      }
    }

    span {
      color: #2b2523;
      font-size: 14px;
      font-weight: 400;
      line-height: 14.5px;
      word-spacing: 170px;

      @media screen and (max-width: 425px) {
        font-size: 10px;
      }
    }
  }

  &__item.-active {
    background-color: #239e58;

    span {
      color: #fff;
    }

    &::after {
      border-left: 18px solid #239e58;
    }
  }

  &__item.-highlighted {
    span {
      font-weight: bold;
    }
  }
}

.message__avatar {
  @media screen and (max-width: 425px) {
    display: none !important;
  }
}

.message.-subpost {
  @media screen and (max-width: 425px) {
    width: 100% !important;
  }
}

.message__header {
  @media screen and (max-width: 425px) {
    height: 75px !important;
  }
}
