.konto-tpl {
	background-color: #fff;
	padding-top: 45px;

	.wrapper {
		padding-bottom: 35px;

		@include mmax(600) {
			padding-bottom: 50px;
		}

		.breadcrumbs {
			padding-top: 4px;

			@include mmax(600) {
				padding-top: 18px;
			}
		}

		.title {
			float: left;
			@include font($font__main, 16px, $darkgrey, 300);
			line-height: normal;



			.name {
				font-weight: bold;
				color: $red;
			}    
		}
	}

	main.account-p {
		padding-top: 40px;

		@include mmax(950) {
			width: 100%;
			float: none;
		}

		h3 {
			@include font($font__main, 21px, $darkgrey, 600);
			line-height: normal;
			margin-bottom: 20px;
		}
		.diet-header {
			border-bottom: 1px solid #f6f6f6;
			padding-bottom: 20px;
			@include cf();

			.left-info {
				float: left;
				@include font($font__main, 14px, $darkgrey, 400);
				line-height: normal;

				@include mmax(1176) {
					width: 100%;
					margin-bottom: 14px;
				}
			}
			.msrmnt {
				float: right;
				background-color: #f6f6f6;
				@include font($font__main, 13px, $darkgrey, 400);
				line-height: normal;
				padding-right: 20px;
				padding-top: 20px;

				@include mmax(1176) {
					width: 100%;
				}
				@include mmax(600) {
					padding-right: 10px;
					padding-left: 10px;
				}

				h4 {
					@include font($font__main, 16px, $darkgrey, 400);
					line-height: normal;
					text-transform: uppercase;
					text-align: right;
					margin-bottom: 18px;
				}
				fieldset {
					padding: 0;
					border: none;
					text-align: right;
					margin-bottom: 23px;

					input[type="text"] {
						width: 93px;
						height: 30px;
						padding-left: 7px;

						@include mmax(600) {
							width: 100%;
						}
					}

					input[type="submit"] {
						padding: 7px 12px;
						font-weight: 600;
						border-radius: 5px;
						font-size: 13px;
						margin-left: 4px;

						@include mmax(600) {
							margin-top: 5px;
						}
					}

					.kg {
						position: relative;

						@include mmax(600) {
							width: 100%;
						}

						&:after {
							content:"kg";
							font-size: 12px;
							position: absolute;
							right: 10px;
							top: 0;
							color: #989898;

							@include mmax(600) {
								top: 23px;
							}
						}
					}
					//kg

					.cm {
						position: relative;

						@include mmax(600) {
							width: 100%;
						}

						&:after {
							content:"cm";
							font-size: 12px;
							position: absolute;
							right: 10px;
							top: 0;
							color: #989898;

							@include mmax(600) {

							}
						}
					}
					//kg

					&.row2 {
						div {
							display: inline-block;

							@include mmax(600) {
								width: 100%;
								margin-right: 0 !important;
								margin-bottom: 5px;
							}

							&:nth-of-type(1) {
								margin-right: 10px;
							}
							&:nth-of-type(2) {
								margin-right: 10px;
							}

							label {
								display: block;
								text-align: left;
								margin-bottom: 3px;

								@include mmax(600) {
									text-align: right;
								}
							}
						}
					}
				}
				//fieldset
			}
		}
		//dietheader

		.diet-calendar {
			margin-top: 30px;

			.before-table {
				@include cf();
				padding-bottom: 30px;

				@include mmax(600) {
					text-align: center;
				}

				h3 {
					float: left;
					margin-bottom: 0;
				}
				.date-range {
					float: left;
					margin-left: 30px;
					color: $green;
					font-size: 15px;
					margin-top: 4px;

					a {
						color: $green;
						font-size: 15px;
					}
				}
				a.button {
					float: right;
					font-size: 13px;
					font-weight: bold;
					margin-top: -7px;

					@include mmax(600) {
						float: none;
						text-align: center;
						margin-top: 10px;
					}
				}
			}
			//beforetable

			.diet-table {
				.inner-day-table {
					margin: 0;
				}
				tr {
					th {
						background-color: #ebebeb;
						padding-left: 20px;


						&:after {
							content:none;
						}

						&.th1 {
							width: 15%;

							@include mmax(600) {
								width: auto;
							}

						}
						&.th2 {
							border-bottom: none;
							&:before {
								width: 4px;
								height: 100%;
								background-color: #fff;
								content: " ";
								position: absolute;
								left: 0;
								top: 0;
							}
						}
						&.th3 {
							width: 20%;

							@include mmax(600) {
								width: auto;
							}

							&:before {
								width: 4px;
								height: 100%;
								background-color: #fff;
								content: " ";
								position: absolute;
								left: 0;
								top: 0;
							}
						}
					}
				}
				.day-row {

					&.marked {
						background-color: #f7ebeb !important;

						.day-col {
							background-color: #f7ebeb !important;
						}
						.day-wrap {
							background-color: #fff3f3 !important;

						}
						.meal-col  {
							background-color: #fff3f3 !important;
						}
						.meal-row {

							.fun-col {
								background-color: #fff3f3 !important;

								.confirmed {
									text-decoration: none;
									font-size: 13px;
									color: #d9d9d9;
									font-weight: normal;
									cursor: text;

									@include mmax(600) {
										font-size: 0;
									}
								}
							}

						}
					}

					.day-col {
						background-color: #f5f5f5;
						width: 15%;

						@include mmax(600) {
							width: auto;
						}
					}
					.fun-col {
						background-color: #fff;
						width: 35%;

						@include mmax(600) {
							width: auto;
							text-align: center;
						}
						a {
							margin-right: 20px;

							i {
								margin-right: 10px;
							}
						}
					}
					.day-wrap {
						background-color: #fff;
						width: 85%;
						padding-bottom: 0;
						border-bottom: 2px solid #f6f6f6;

						.meal-row {
							border-bottom: 1px dashed #d7d7d7;
							&:last-child{
								border-bottom: none;
							}
							.confirmed {
								text-decoration: none;
								font-size: 13px;
								color: $green;
								font-weight: bold;

								@include mmax(1160) {
									display: block;
								}
								@include mmax(950) {
									float: left;
								}
								@include mmax(600) {
									display: inline-block;
									font-size: 0;
									float: none;
									margin-right: 0;
								}
								i {
									display: inline-block;
									font-size: 13px;
								}
							}
							.unconfirmed {
								text-decoration: none;
								font-size: 13px;
								color: $red;
								font-weight: bold;

								@include mmax(1160) {
									display: block;
								}
								@include mmax(950) {
									float: left;
								}
								@include mmax(600) {
									display: inline-block;
									font-size: 0;
									float: none;
									margin-right: 0;
								}

								i {
									margin-top: -5px;
									display: inline-block;
									font-size: 13px;
								}
							}
							.meal-col {
								font-size: 14px;
								font-weight: bold;
								color: #26849b;
								text-transform: uppercase;
								background-color: #fff;

								@include mmax(600) {
									font-size: 10px;
								}

								span {
									color: $medgrey;
									text-transform: none;
									display: block;
									font-weight: normal;
								}
							}
						}
					}
				}
				//dayrow
			}
			//diettable

			.diet-summary {
				font-size: 17px;
				text-align: right;
				font-weight: bold;
				text-transform: uppercase;

				i {
					margin-right: 12px;
				}
			}
			//dietsummary

		}
		//dietcalendar

		.diet-info {
			border-top: 1px solid #f5f5f5;
			margin-top: 30px;
			padding-top: 20px;
			padding-bottom: 30px;
			border-bottom: 1px solid #f5f5f5;
			@include cf();

			.box-info {
				// &:nth-of-type(1n) {
				// 	padding-right: 30px;
				// }
				h3 {
					margin-bottom: 10px;
				}
				.inner-box {
					background-color: #f5f5f5;
					padding: 25px;
					border: solid 1px #e6e6e6;
					font-size: 13px;

					strong {
						display: block;
					}
				}
			}
		}
		.diet-basket {
			margin-top: 30px;

			.rowp {
				margin-bottom: 10px;

				@include mmax(600) {
					width: 100%;
					padding-left: 0 !important;
				}

				.rmlink, .rslink {
					font-size: 11px;
					background-color: transparent;
					@include border-radius(0);
					padding: 0;
					white-space: nowrap;
					margin-bottom: 0;
					position: absolute;
					right: 0;
					width: auto;
					text-decoration: none;
					font-weight: bold;
				}
				a {
					font-size: 10px;
					@include border-radius(5px);
					padding: 2px 10px;
					white-space: nowrap;
					margin-bottom: 1px;
					cursor: pointer;
					display: inline-block;
				}
				.bg-top {
					background-repeat: no-repeat;
					background-position: right top;
					position: absolute;
					left: 0;

					@include mmax(600) {
						position: static;
						left: auto;
						background-position: center top;
						width: 100% !important;
						margin-bottom: 30px;
					}
				}
				.txtp {
					float: right;

					@include mmax(600) {
						width: 100%;
						text-align: center;
					}

					h4 {
						font-size: 13px;
						font-weight: bold;
					}
				}
			}

			.row1 {
				@include cf();
				clear: both;
				color: $red;
				position: relative;
				padding-left: 258px;

				h4, a {
					color: $red;
					text-transform: uppercase;
				}
				h4 {
					margin-bottom: 5px;
					line-height: normal;
				}
				a {
					background-color: #fddbdd;
				}

				.bg-top {
					width: 252px;
					height: 114px;
					background-image: url("../images/pir-1.svg");

					@include mmax(600) {
						margin-bottom: 0;
					}
				}
				.txt-top {
					padding-bottom: 5px;
					border-bottom: 3px solid $red;

					.spacert {
						width: 100%;
						height: 38px;

						@include mmax(600) {

						}
					}
				}
			}
			//row1
			.row2 {
				@include cf();
				clear: both;
				color: #f8d31a;
				padding-left: 300px;

				h4, a {
					color: #f8d31a;
					text-transform: uppercase;
				}
				h4 {
					margin-bottom: 5px;
					line-height: normal;
				}
				a {
					background-color: #fff6cc;
				}

				.bg-top {
					width: 305px;
					height: 75px;
					background-image: url("../images/pir-2.svg");
				}
				.txt-top {
					padding-bottom: 5px;
					border-bottom: 3px solid #f8d31a;
				}
			}
			//row2
			.row3 {
				@include cf();
				clear: both;
				color: $green;
				padding-left: 350px;

				h4, a {
					color: $green;
					text-transform: uppercase;
				}
				h4 {
					margin-bottom: 5px;
					line-height: normal;
				}
				a {
					background-color: #cefadf;
				}

				.bg-top {
					width: 354px;
					height: 75px;
					background-image: url("../images/pir-3.svg");
				}
				.txt-top {
					padding-bottom: 5px;
					border-bottom: 3px solid $green;
				}
			}
			//row3
		}
		//dietbasket
	}
	//main

	.user-p {

		h3.acc-title {
			font-size: 26px;
			line-height: normal;
			font-weight: 600;
		}

		.info-box {
			border-width: 1px;
			border-style: solid;

			&.grn {
				border-color: $green;

				.header {
					background-color: $green;

					h4 {
						color: #ffffff;
					}
				}

			}
			&.gra {
				border-color: #e8e8e8;

				.header {
					background-color: #e8e8e8;

					h4 {

					}
				}

			}
			.header {
				padding: 13px 30px;

				h4 {
					font-size: 20px;
					margin-bottom: 0;
				}
			}
			//header

			.body {
				@include cf();
				padding: 20px 20px 10px 20px;
				font-size: 14px;
				border-bottom: 1px solid #e8e8e8;
			}

			.btn-wrapp {
				text-align: right;
				padding: 10px 30px 10px 30px;
			}
		}
		//infobox

	}
	//user-p
}
//konto

.questionnaire {
	.grey-box {
		@include cf();
		background-color: #f2f2f2;
		padding: 30px;

		@include mmax(950) {
			text-align: center;
		}

		.g-ico {
			width: 38px;
			height: 47px;
			float: left;
			margin-right: 30px;

			@include mmax(950) {
				float: none;
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
		.info {
			float: left;
			font-size: 21px;
			margin-top: 10px;

			@include mmax(950) {
				float: none;
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
		.btn {
			float: right;
			margin-top: 8px;

			@include mmax(1200) {
				float: left;
				display: block;
			}

			@include mmax(950) {
				float: none;
				margin: 0 auto;
			}
		}
	}
}
//questionare

.historia-diety{
	padding-top: 40px;
	h3{
		@include font($font__main, 21px, $darkgrey, 600);
		line-height: 1;
		margin-bottom: 20px;
	}
	.historia-diety-szczegoly{
		font-size: 14px;
		line-height: 2;
		margin-bottom: 20px;
	}
}

.calendarTable{
	overflow-x: visible !important;
	@include mmax(480) {
		overflow-x: scroll !important;
	}
}

.calendarTable__stats{
	min-width: auto !important;
}

.calendarTable__content{
	min-width: auto !important;
	width: 100%;
	max-width: 100%;
}

.diet-table{
	.day-col{
		padding: 0 !important;
		tr{
			th{
				padding-left: 10px !important;
				border-bottom: none;
			}
			td{
				background-color: transparent;
			}
		}
	}
	.day-wrap{
		padding: 0 !important;
		table{
			tr{
				th{
					padding-left: 10px !important;
					border-bottom: none;
					border-left: solid 2px #fff;
				}
				td{
					&.calendarTable__stats{
						padding-right: 10px;
					}
				}
			}
		}
	}
}
.dietPicker__form{
	.dietPicker{
		&__header{
			font-weight: 700;
		}
	}
}
.dietPicker-form{
	&__item{padding-left: 0 !important;}
}

.konto-tpl{
	td.meal-col{
		.meal-title{
			margin-bottom: 5px;
		}
		.meal-left{
			float: left;
			width: 20%;
			padding-right: 20px;
			img{
				display: block;
				width: 100%;
				max-width: 100%;
			}
		}
		.meal-center{
			float: left;
			width: 55%;
			.recipe-title{
				text-transform: none;
				font-weight: 400;
				color: #565656;
			}
			.components-box{
				color: #a1a1a1 !important;
				font-size: 15px;
				text-transform: none !important;
				font-weight: 400;
				span{
					color: #a1a1a1 !important;
					font-size: 11px;
					text-transform: uppercase !important;
					display: inline-block !important;
					width: 25%;
					float: left;
				}
				ul.components-list{
					display: inline-block;
					width: 75%;
					float: left;
					li{
						padding: 0;
						font-size: 14px;
						line-height: 1.2;
						padding-bottom: 5px;
						&:before{
							display: none;
						}
					}
				}
			@include mrange(1069,951){
				span, ul.components-list{
					width: 100%;
				}
			}
				@include mmax(767){
					span, ul.components-list{
						width: 100%;
					}
				}
			}
		}
		.meal-right{
			float: left;
			width: 25%;
			padding-left: 10px;
			text-align: right;
			a{
				text-decoration: none !important;
				font-size: 11px;
				color: #289f58;
				&:after{
					content: '\f105';
					font-family: FontAwesome;
					padding-left: 5px;
				}
			}
		}
	}
}
