.page-template-page-misja{
	.header-sub{
		height: auto;
		border-bottom: solid 2px #fff;
	}
}

.page-template-page-misja, .page-template-diagnostyka, .page-template-badania{
@include mmax(767){
	.col-12{
		margin-bottom: 0;
	}
}
	#main{
		h5{
			font-size: 21px;
			color: $color__text_main;
			line-height: 30px;
			margin-bottom: 30px;
			font-weight: 700;
		}
		h6{
			font-size: 21px;
			font-weight: 400;
			color: $red;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}
	.misja-top{
		padding: 40px 0;
		min-height: 738px;
		margin-bottom: 50px;
		position: relative;
		@include mmax(1129){
			min-height: 500px;
		}
		@include mmax(767){
			min-height: 300px;
		}
		.misja-top-overlay{
			position: absolute;
			left: 0;
			top: 20%;
			width: 100%;
			a{text-decoration: none;}
			@include mmax(1129){
				top: 50px;
			}
			h1{
				font-size: 21px;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 400;
			}
			h2{
				font-size: 21px;
				font-weight: 400;
				line-height: 1;
				margin-bottom: 40px;
			}
		}
	}
	.container-img{
		margin-bottom: 75px;
		.col-6{
			position: relative;
			float: left;
			// display: table;
			&.pr{
				padding-right: 60px;
			}
			&.pl{
				padding-left: 60px;
			}
			&.fl{
				float: left;
			}
			&.fr{
				float: right;
			}
			.text-box{
				// display: table-cell;
				// vertical-align: middle;
				@include mmin(768){
					display: block;
					top: 50%;
					position: relative;
					transform: translate(0, -50%);
					overflow: hidden;
				}
			}
		}
		@include mmax(767){
			margin-bottom: 20px;
			.col-6{
				display: block;
				width: 100%;
				float: left;
				text-align: center;
				&.pr{
					padding-right: 10px;
				}
				&.pl{
					padding-left: 10px;
				}
				&.fl{
					float: left;
				}
				&.fr{
					float: left;
				}
				.text-box{
					display: block;
					width: 100%;
				}
			}
		}
	}
	.container-50{
		max-width: 50%;
		margin: 0 auto 75px;
		padding: 40px 0;
		border-top: solid 1px #dfdfdf;
		border-bottom: solid 1px #dfdfdf;
		@include mmax(767){
			max-width: 100%;
		}
	}
	.bg-container{
		display: table;
		width: 100%;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 50%;
			top: 0;
			width: 100%;
			height: 60%;
			background: #eef6fa;
			@include mmax(767){
				right: 0;
				height: 40%;
			}
		}
		.col-6{
			float: none;
			display: table-cell;
			vertical-align: middle;
			&.pl{
				padding-left: 60px;
				h5{
					margin-top: -60px;
				}
			}
			@include mmax(767){
				display: block;
				float: left;
				width: 100%;
				text-align: center;
				&.pl{
					padding-left: 10px;
					h5{
						margin-top: 0;
					}
				}
			}
		}
	}
}

.etapy-top-title{
	text-align: center;
	h6{
		padding: 40px 0;
		border-top: solid 1px #dfdfdf;
	}
}
.container-etap{
	margin-bottom: 100px;
}
.etap-box{
	display: block;
	float: left;
	width: 33.3333%;
	text-align: center;
	@include mmax(767){
		width: 100%;
		margin-bottom: 30px;
	}

	.etap-box-top{
		padding: 25px 30px;
		position: relative;
		height: 260px;
		@include mmax(767){
			height: auto;
		}
		img{
			width: 85px;
			height: 85px;
		}
		p{
			position: relative;
			display: block;
		&:nth-child(2){
				font-size: 15px;
				margin-bottom: 20px;
		}
		}
	}
	&:nth-child(1){
		.etap-box-top{
			background: #eef6fa;
		}
	}
	&:nth-child(2), &:nth-child(3){
		.etap-box-top{
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 40px;
				height: 260px;
				border-top: solid 130px transparent;
				border-bottom: solid 130px transparent;
				border-left: solid 40px;
				@include mmax(767){
					display: none;
				}
			}

		}
	}
	&:nth-child(2){
		.etap-box-top{
			background: #d7e8f1;
			&:before{
				border-left-color:#eef6fa;
			}
		}
	}
	&:nth-child(3){
		.etap-box-top{
			background: #c2dcea;
			&:before{
				border-left-color: #d7e8f1;
			}
		}
	}
	.etap-box-middle{
		padding: 25px;
		border: solid 1px #dfdfdf;
		border-top: none;
		margin-bottom: 20px;
		p{
			&:nth-child(2){
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: solid 1px #dfdfdf;
			}
		}
		.button{
			font-size: 13px;
		}
		.etap-lista{
			ul{
				padding-left: 0;
			}
			li{
				text-align: left;
				padding-left: 25px;
				padding-bottom: 10px;
				border-bottom: solid 1px #dfdfdf;
				margin-bottom: 10px;
				list-style-type: none;
				&:last-child{
					border: none;
					margin-bottom: 0;
				}
				&:before{
					content: '\f00c';
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					top: 0;
					color: #239e58;
					width: 0;height: 0;
					background-color: transparent;
				}
			}
		}
	}
	@include mmin(768){
		&:nth-child(1), &:nth-child(2){
			.etap-box-middle{
				border-right: none;
			}
		}
	}
	.etap-box-btm{
		p{
			margin-bottom: 2px;
		}
		.etapy-cart{
			display: inline-block;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			&.green{
				color: #9fb951;
			}
			&.yellow{
				color: #eeda00;
			}
			&.red{
				color: #ec2028;
			}
		}
	}
}

.single, .page-template-default{
	.etap-box{
	@include mmin(768){
		.etap-box-top{
			p{
				font-size: 14px;
				&:nth-child(2){
					font-size: 13px;
					margin-bottom: 15px;
				}
			}
		}
		.etap-box-middle{
			p{
				font-size: 13px;
			}
			.etap-lista{
				li{
					font-size: 13px;
				}
			}
		}
		.etap-box-btm{
			p{
				margin-bottom: 2px;
				font-size: 13px;
			}
			.etapy-cart{
				font-size: 11px;
				line-height: 16px;
				img{
					width: 14px;
					height: 14px;
					margin-right: 5px;
				}
			}
		}
		}
	}
}

.survey-etap-box{
	position: relative;
	.top-text{
		font-size: 21px;
		font-weight: 700;
	}
	img{
		width: 60px;
		height: 60px;
		margin: 10px;
	}
	&.box-0{
		background: #eef6fa;
	}
	&.box-1{
		background: #d7e8f1;
	}
	&.box-2{
		background: #c2dcea;
	}
	&.box-1, &.box-2{
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 40px;
			height: 260px;
			border-top: solid 130px transparent;
			border-bottom: solid 130px transparent;
			border-left: solid 40px;
			@include mmax(767){
				display: none;
			}
		}
	}
	&.box-1{
		&:before{
			border-left-color: #eef6fa;
		}
	}
	&.box-2{
		&:before{
			border-left-color: #d7e8f1;
		}
	}
}


.container-misja-btm{
	padding: 75px 0;
	margin-bottom: 100px;
	background-position: -10vw center !important;
	@include mmax(767){
		padding: 20px 0;
		background: none !important;
	}
	.right{
		width: 50%;
		max-width: 100%;
		float: right;
		@include mmax(767){
			width: 100%;
			text-align: center;
		}
	.btns-box{
			.button{
				margin-right: 10px;
				font-size: 15px;
				border: solid 1px #239e58;
				@include mmax(767){
					margin-bottom: 10px;
				}
				&:nth-child(1), &:nth-child(2){
					background: #fff;
					color: #239e58;
					&:hover{
						background: #239e58;
						color: #fff;
					}
				}
			}
		}
	}
}
.container-img2 {
	margin-bottom: 70px;
	> .col-6{
		&:nth-child(1){
			padding-left: 80px;
			@include mmax(767){
				padding-left: 10px;
				text-align: center;
			}

			.btns-box{
				display: block;
				margin-top: 30px;
				float: left;
				width: 100%;
				.button{
					margin-right: 10px;
					font-size: 15px;
					border: solid 1px #239e58;
					@include mmax(767){
						margin-bottom: 10px;
					}
					&:nth-child(1){
						background: #fff;
						color: #239e58;
						&:hover{
							background: #239e58;
							color: #fff;
						}
					}
				}
			}
		}
		@include mmax(767){
			.col-6{
				width: 50%;
				float: left;
				img{
					float: none;
				}
			}
		}
		@include mmax(480){
			.col-6{
				width: 100%;
			}
		}
	}
}

.container-bg-btm{
	padding: 70px 0 20px;
	.col-8{
		padding-left: 15vw;
		@include mmax(767){
			padding-left: 10px;
		}
	}
	h2,h3{
		font-size: 21px;
		margin-bottom: 10px;
		line-height: 1;
	}
	h2{
		text-transform: uppercase;
		font-weight: 400;
		color: $red;
	}
	h3{
		font-weight: 700;
		color: #2b2523;
	}
	.btns-box{
		margin-top: 30px;
	}
	@include mmax(768){
		text-align: center;
	}
}


@include mmax(767){
	.mobile-hidden{
		display: none;
	}
}


.survey-title{
	font-size: 21px;
	line-height: 1.3;
	color: $red;
	text-align: center;
	margin: 40px 0;
	text-transform: uppercase;
	font-weight: 400;
}
.text-margin{
	margin: 30px 0;
}
.survey-box{
	background: #f6f6f6;
	padding: 30px 15px;
	text-align: center;
	.survey-box-top{
		margin-bottom: 20px;
		img{
			display: inline-block;
		}
	}
	.survey-box-text{
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.survey-box-btm{
		a.button{
			font-size: 13px;
			margin: 0 5px;
			margin-bottom: 5px;
		}

	}
}
hr.survey-line{
	background-color: #ededed;
	margin-bottom: 40px;
}

.btm-margin{
	margin-bottom: 35px;
}
.no-before{
	li{
		&:before{
			display: none;
		}
	}
}

@include mmin(768){
	.big-size{
		width: 60%;
	}
	.small-size{
		width: 40%;
	}
}
.page-template-page-comozeszosiagnac{
	.single-btm-box{
	margin-top: 100px;
	}
}

.sciezki{
	text-align: center;
	@include mmin(768){
		> .col-4{
			padding-right: 0;
			width:41.6667%
		}
		> .col-8{
			padding-left: 0;
			width: 58.3333%;
		}
	}
	@include mmax(767){
		> .col-4{
			margin-bottom: 0;
		}
	}
	h4{
		text-transform: uppercase;
		font-size: 18px;
	}
	img{
		width: 60px;
		height: 60px;
	}
	.sciezka-box-text{
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.sciezka-box-btm{
		a.button{
				font-size: 13px;
				margin: 0 5px;
				margin-bottom: 10px;
				padding: 10px;
				border: solid 1px $green;
			&:first-of-type{
					background: $white;
					color: $green;
					&:hover{
						background: $green;
						color: $white;
					}
			}
		}
	}
	.sciezka-s, .sciezka-z{
		padding: 20px;
	}
	.sciezka-s{
		background: #d7e8f1;
	}
	.sciezka-z{
		background: #c2dcea;
	}
	.sciezka-white-bg{
		background: #fff;
		padding: 20px 10px;
	}
}

.btn-white{
	background: #fff !important;
	color: $green !important;
	border:solid 1px $green !important;
	&:hover{
		color: $white !important;
		background: $green !important;
		border:solid 1px $green !important;
	}
}
.green{
	color: $green;
}
.page-template-badania{
	.badania-title-box{
		margin-bottom: 50px;
	}
	.badania-title{
		font-size: 21px;
		color: $red;
		text-align: center;
		margin-bottom: 0;
	}
	.badania-subtitle{
		color: #000;
		font-size: 19px;
		line-height: 25px;
		text-align: center;
	}
	h5{
		font-size: 21px;
    color: #2b2523;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 700;
	}
	h6{
		font-size: 21px;
		font-weight: 400;
		color: #ec2028;
		margin-bottom: 5px;
	}
	.misja-top{
		min-height: 527px;
		p{
			line-height: 29px;
		}
	}
	.badania-blok-25{
		text-align: center;
		&.badania-blok-20{
			width: 20%;
		}
		img{
			width: 90px;
			height: 90px;
			margin-bottom: 20px;
		}
		h4{
			font-size: 15px;
			font-weight: 700 !important;
		}
		li{
			text-align: left;
			font-size: 13px;
			line-height: 1.2;
			padding-left: 20px;
			margin-bottom: 10px;
			&:before{
				display: none;
			}
			i{
				display: block;
				position: absolute;
				left: 0;
				top: 1px;
			}
		}
	}
	.block-text-image{
		.text-right{
			text-align: right;
		}
	}
	.text-box{
		li{
			&:before{
				display: none;
			}
		}
	}
.container-bg-btm{
	padding: 30px 0;
}
}

.badania-tabs{
	margin: 0;
	.badania-tab-link{
		position: relative;
		padding: 30px;
		display: inline-block;
		border: solid 1px transparent;
		cursor: pointer;
		text-transform: uppercase;
		&:before{
			display: none;
		}
		&.current{
			border-color: #dbdbdb;
			border-bottom-color: #fff;
			z-index: 20;
		}
		@include mmax(767){
			padding: 10px;
			font-size: 10px;
		}
		@include mmax(480){
			width: 100%;
			border-color: #dbdbdb;
			&.current{
				border-bottom-color: #dbdbdb;
				background-color: rgba(0,0,0, .02);
			}

		}
	}
}
.badania-tab-content{
			display: none;
			border: solid 1px #dbdbdb;
			padding: 45px 30px;
			position: relative;
			z-index: 10;
			margin-top: -1px;
			margin-bottom: 50px;
			@include mmax(767){
				padding: 20px 10px;
			}
			&.current{
				display: block;
			}
			li{
				position: relative;
				padding-left: 20px;
				margin-bottom: 20px;
			&:before{
				content: '\f046';
				font-family: FontAwesome;
				position: absolute;
				left: 0;
			}
			}
			ol{
				margin-top: 0;
				padding-left: 25px;
				li{
					padding-left: 0;
					&:before{
						display: none;
					}
				}
			}
		}

.banner-box{
	.col-12{
		h5, h6{
			text-align: center;
		}
	}
	.col-left, .col-right{
		display: table;
		vertical-align: middle;
		.banner-btm-left, .banner-btm-right{
			display: table-cell;
			vertical-align: middle;
		}
		h6{
			color: #000;
		}
	}
	.col-left{
		.banner-btm-left{
			text-align: right;
		}
		.banner-btm-right{
			text-align: left;
		}
	}
	.col-right{
		.banner-btm-left{
			text-align: right;
		}
		.banner-btm-right{
			text-align: left;
		}
	}
}
.margin-container{
	display: block;
	margin-bottom: 50px;
}
.container-100{
	margin-bottom: 50px;
}
