.page-template-default {

	.site-main {
		margin-top: 50px;
		font-size: 15px;
		line-height: 23px;
		padding-right: 50px;

		p, span {
			font-size: 15px;
			line-height: 23px;
		}

		ul {
			padding-left: 30px;
			li {
				padding: 0 0 0 20px;
				&:before {
					position: absolute;
					left: 0;
					top: 9px;
					width: 5px;
					height: 5px;
					background-color: $red;
					content: " ";
					@include border-radius(50%);
				}
			}
		}
	}
}