
.mb {
	padding-bottom: 30px;


	.site-main {
		@include cf();
		clear: both;

		@include mmax(1200) {
			width: 60%;
		}
		@include mmax(768) {
			width: 100%;
			float: none;
		}

		.p-article {
			padding-top: 63px;

			h1 {
				@include font($font__main, 28px, $darkgrey, 600);
				line-height: normal;
				margin-bottom: 24px;
				text-transform: uppercase;
			}

			.entry-content {
				padding-top: 30px;
				line-height: 23px;

				p {
					line-height: 23px;
				}
			}
			//entrycont

			.entry-meta {
				@include cf();
				width: 100%;
				margin-top: 20px;
				@include font($font__main, 13px, #bababa, 400);
				a,h5 {
					@include font($font__main, 13px, #bababa, 400);
					text-decoration: none;
				}
				.tags {
					float: left;
					@include mmax(768) {
						width: 100%;
						float: none;
					}


				}
				.date {
					float: right;
					@include mmax(768) {
						width: 100%;
						float: none;
					}


					@include cf();

					.fa {
						margin-right: 10px;
						display: inline-block;
					}
					h5 {
						display: inline-block;
					}
				}
			}
		}
		//particle
	}
	//main


	.spl {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 20px;
		padding-top: 40px;
		.row {
			@include cf();
		}
		h3 {
			@include font($font__main, 21px, $darkgrey, 600);
			line-height: normal;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		.thumb {
			float: left;
			max-width: 40%;
			padding-right: 3%;
		}
		.entry {
			float: left;
			max-width: 100%;
			padding-right: 3%;
			font-size: 15px;
			line-height: 23px;

			.meta {
				@include cf();
				@include font($font__main, 13px, #bababa, 400);
				margin-top: 30px;
				a,h5 {
					@include font($font__main, 13px, #bababa, 400);
					text-decoration: none;
				}

				.btn {
					float: left;
					color: #fff;
					font-size: 16px;
					font-weight: 400;
				}
				.tags {
					float: right;
					margin-top: 7px;
					font-weight: bold;

					a {
						font-weight: normal;
					}
				}
			}
		}
	}
}
//mb

.single-btm-box{
	text-align: center;
	p{
		text-align: center;
	}
}

.blog,
.archive,
.single-post {
	.breadcrumbs {
		span:nth-child(3) {
			display: none !important;
		}

		span {
			color: $black;
		}

		> span:last-child span {
			color: $red;
		}
	}
}
