.single-przepisy {

	aside#secondary {
		margin-top: 20px;
	}

	.site-main {
		margin-top: 50px;
		article {
			header.art {
				background-color: #f3f3f3;
				min-height: 127px;
				padding: 37px 38px 20px 38px;
				background-image:none;
				@include border-radius(3px);

				h1.title {
					@include font($font__main, 27px, $darkgrey, 600);
					line-height: normal;
					margin-bottom: 19px;
				}
				.meta {   
					@include cf();
					clear: both;

					.kategoria, .time, .level {
						float: left;
						@include cf();
						position: relative;
						margin-left: 35px;
						margin-right: 20px;

						.name, .res {
							float: left;
							@include font($font__main, 14px, $grey, 400);
							letter-spacing: -0.2px;
						}
						.name {
							font-weight: 600;
							margin-right: 3px;
						}
					}
					.kategoria {
						&:before {
							position: absolute;
							content: " ";
							width: 23px;
							height: 21px;
							left: -28px;
							top: 0px;
							background-image: url("../images/ico-cat.png");
							background-repeat: no-repeat;
						}
					}
					.time {
						&:before {
							position: absolute;
							content: " ";
							width: 21px;
							height: 20px;
							left: -28px;
							top: 1px;
							background-image: url("../images/ico-clock.png");
							background-repeat: no-repeat;
						}
					}
					.level {
						&:before {
							position: absolute;
							content: " ";
							width: 20px;
							height: 18px;
							left: -28px;
							top: 1px;
							background-image: url("../images/ico-level.png");
							background-repeat: no-repeat;
						}
					}
				}
				//meta
			}
			//headerart
		}
		//article

		.im-gallery {
			height: 424px;
			position: relative;
			display: table;
			width: 100%;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;

			ul {
				text-align: center;
				//position: absolute;
				//bottom: 0;
				margin: 0;
				display: table-cell;
				vertical-align: bottom;

				li {
					display: inline-block;
					padding: 0;
					padding-left: 10px;
					padding-right: 10px;

					a {
						border: 4px solid #fff;
						display: block;

						img {
							display: block;
						}
					}

					&:before {
						content: none;
					}
				}
			}
		}
		//gall

		.wrapper-p {
			padding-top: 15px;
			@include cf();

			aside.ingredients {
				background-color: #f3f3f3;
				padding: 10px 25px 25px 25px;

				h3 {
					@include font($font__main, 18px, $darkgrey, 600);
					margin-top: 15px;
					margin-bottom: 10px;
					line-height: normal;
				}
				//h3

				ul {
					list-style: none;
					padding-bottom: 10px;
					li {
						display: block;
						padding: 5px 0;
						border-bottom: 1px solid #dcdcdc;
						@include font($font__main, 13px, $darkgrey, 400);
						line-height: 25px;

						&:before {
							content: none;
						}
					}
				}
				//ul
			}
			//ingredients

			.main-content {
				@include font($font__main, 13px, $darkgrey, 400);
				line-height: 23px;
				padding-left: 25px;

				h2 {
					@include font($font__main, 25px, $darkgrey, 600);
					margin-top: 20px;
					margin-bottom: 20px;
					line-height: normal;
				}
				//h2

				h4 {
					@include font($font__main, 13px, $darkgrey, 600);
					margin-top: 30px;
					margin-bottom: 5px;
					line-height: normal;
				}
				p {
					margin: 0;
				}
			}
			//maincontent
		}
		//wrapper
	}
	//main
}
//przepisy

.post-type-archive-przepisy, .tax-rodzaj {

	.site-main {
		margin-top: 50px;
		padding-left: 10px;
	}

	aside#secondary {
		margin-top: 20px;
	}

	.search-header {
		background-color: #f3f3f3;
		min-height: 141px;
		padding: 37px 38px 20px 38px;
		background-image:none;
		@include border-radius(3px);
		label {
			float: left;
			width: 82%;
		}
		.search-field {
			height: 41px;
			width: 100%;
			padding-left: 10px;
		}

		h2 {
			@include font($font__main, 27px, $darkgrey, 600);
			line-height: normal;
			margin-top: 0;
			margin-bottom: 10px;
		}

		.search-button {
			width: 136px;
			height: 41px;
			background-color: $green;
			border: none;
			outline: none;
			@include border-radius(7px);
			float: right;

			@media screen and (max-width: 1440px) {
				float: none;
			}
		//	margin-left: 10px;
		}
	}
	//searchheader

	.resport-wrapper {
		@include cf();
		clear: both;
		padding-top: 20px;

		.respost {
			float: left;
			width: 25%;
			padding: 2px;

			.thumb {
				img {
					width: 228px;
				}
			}

			.lnk {
				@include font($font__main, 12px, $red, 300);
				text-transform: uppercase;
				text-decoration: none;
			}
			.r-title {
				@include font($font__main, 15px, $darkgrey, 300);
				text-decoration: none;
			}
		}

	}
}
//przepisy-index
