/*--------------------------------------------------------------
# Colors - do not remove variables. Use friendly names listed below
--------------------------------------------------------------*/
$color__background_body: #fff;
$color__background_dark: #406175;
$color__background_white: #ffffff;
$color__background_grey: #f2f2f2;
$color__background_grey2: #f1f1f1;
$color__background_accent: #239e58;


$color__link2: #2b2523;
$color__text_main: #2b2523;
$color__text_headers: #406175;
$color__text_headers_dark: #142b38;

$color__background-screen: $color__background_body;
$color__background-pre: $color__background_body;
$color__background-ins: $color__background_body;
$color__background-hr: $color__background_body;
$color__background-button: $color__background_body;

$color__headings: #ff0000;
$color__link: #323541;
$color__link_hover: #323541;
$color__text-screen: #1e2428;
$color__text_button: #0ed596;
$color__text_input: #666;
$color__text_input-border: #ccc;
$color__text_input-focus: $color__link;
$color__link_visited: $color__link;
$color__link_hover: $color__text_headers_dark;

/*--------------------------------------------------------------
# Friendly names for colours
--------------------------------------------------------------*/

/*$lightgrey: $color__background_body;*/
$lightergrey: #a6a6a6;
/*$lightestgrey: $color__background_grey;
$grey0nblue: #cac8c8;*/
$darkgrey: $color__text_main;
$green: $color__background_accent;
$navy: $color__text_headers;
$darkblue: $color__text_headers_dark;
$lightblue: #1f8ada;
$white: #fff;
$black: #000;
$red: #ec2028;
$lightred: #e8545c;
$grey: #787878;
$medgrey: #565656;

$color__border-button: #e9ebed #e9ebed #e9ebed;
$color__border-button-hover: #0ed596 #0ed596 #0ed596;
$color__border-button-focus: #0ed596 #0ed596 #0ed596;
$color__border-input: #e9ebed;
$color__border-abbr: #666;


/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;

/*--------------------------------------------------------------
# Base Typo
--------------------------------------------------------------*/

$font__main: 'Asap', sans-serif;
$font__headings: myriad-pro, sans-serif;;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* =========================================================== LIGHTBOX =================================================== */


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, 0.5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, 0.75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, 0.75 ); /* 40 */
}
#imagelightbox-loading div
{
	width: 1.25em; /* 20 */
	height: 1.25em; /* 20 */
	background-color: #fff;

	-webkit-animation: imagelightbox-loading 0.5s ease infinite;
	animation: imagelightbox-loading 0.5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
	from { opacity: .5;	-webkit-transform: scale( 0.75 ); }
	50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
	to	 { opacity: .5;	-webkit-transform: scale( 0.75 ); }
}
@keyframes imagelightbox-loading
{
	from { opacity: .5;	transform: scale( 0.75 ); }
	50%	 { opacity: 1;	transform: scale( 1 ); }
	to	 { opacity: .5;	transform: scale( 0.75 ); }
}


/* OVERLAY */

#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 0,0,0, 0.5 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
	width: 35px;
	height: 35px;
	text-align: left;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */
	padding: 0;

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
	border: none;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus
{
	background-color: rgba(0,0,0, 0.9);
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
	width: 2px;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 50%;
	margin-left: -1px;
}
#imagelightbox-close:before
{
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
#imagelightbox-close:after
{
	-webkit-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
	transform: rotate( -45deg );
}

/* CAPTION */

#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}


/* NAVIGATION */

#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, 0.5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
#imagelightbox-nav button
{
	width: 1em; /* 20 */
	height: 1em; /* 20 */
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0.313em; /* 5 */
}
#imagelightbox-nav button.active
{
	background-color: #fff;
}


/* ARROWS */

.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 3.75em; /* 60 */
	//background-color: #444;
	background-color: rgba( 0, 0, 0, 0.5);
	color: #fff !important;
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -1.75em; /* 60 */
	border: none;
	font-size: 30px;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: rgba( 0, 0, 0, 0.75 );
	border:none;
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
.imagelightbox-arrow-left
{
	left: 2.5em; /* 40 */
}
.imagelightbox-arrow-right
{
	right: 2.5em; /* 40 */
}
.imagelightbox-arrow:before
{

	border: none;
	content: '';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	font-size: 30px !important;
	line-height: 30px;

}
.imagelightbox-arrow-left:before
{
	content: "\f104";
	font-family: FontAwesome;
	font-size: 30px;
	line-height: 30px;

}
.imagelightbox-arrow-right:before
{
	content: "\f105";
	font-family: FontAwesome;
	font-size: 30px;
	line-height: 30px;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in 0.25s linear;
	animation: fade-in 0.25s linear;
}
@-webkit-keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}

@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}


#imagelightbox
{
	position: fixed;
	z-index: 9999;

	-ms-touch-action: none;
	touch-action: none;
}
