/*--------------------------------------------------------------
# Global stylesheet for page
---------------------------------------------------------------*/
@import "mixins/mixins-master";
@import "settings";
@import "FontAwesome/FontAwesome";
@import "owl/owl-carousel-min";
@import "compass"; //* ----------------------------------------------------------------*/

body {
	background: $color__background_body;
	@include font($font__main, 16px, $darkgrey, 400);
}

.container {
	@include mmax(1200) {
		padding: 0 15px;
	}
}

#page {
	overflow: hidden;
}

p {
	margin: 0 0 10px;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 30px;
}
/*extra margin when P is next to H */
blockquote {}
//* -------------------------------------------------------HEADINGS*/

%cont-headings {
	@include font($font__main, 48px, $color__headings, normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %cont-headings;
	line-height: 1.3;
	margin-top: 0;
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 50px;
	line-height: 50px;
	color: $darkgrey;
	font-weight: bold;
	margin-bottom: 10px;
}

h3 {
	font-size: 31px;
	line-height: 31px;
	color: $red;
	font-weight: 400;
}

h4 {
	font-size: 21px;
	line-height: 21px;
	color: $darkgrey;
	font-weight: bold;
}

h5 {
	font-size: 15px;
	line-height: 15px;
	color: $red;
	font-weight: 400;
}

h6 {
	font-size: 12px;
}

.single {
	article {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $darkgrey;
			font-weight: 700;
			line-height: 1.1;
			margin-bottom: 10px;

			+ h5,
			+h6 {
				font-size: 16px;
				font-weight: 400;
				color: $red;
			}
		}

		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 24px;
		}

		h4 {
			font-size: 20px;
		}

		h5 {
			font-size: 18px;
		}

		h6 {
			font-size: 16px;
		}
	}
}
// h4 > img{
// 	position: relative;
// 	margin-left: 5px;
// 	top: 5px;
// }
//* -------------------------------------------------------LISTS*/

ul {
	margin: 0 0 15px;
	padding-left: 0;
	margin-left: 0;

	li {
		list-style-type: none;
		position: relative;
		padding-left: 10px;
	}
	//li
}
//ul

footer,
main {
	ul {
		padding-left: 0;

		li {
			padding: 0 0 10px;

			&:before {
				font-family: 'FontAwesome';
				content: '\f105';
				margin: 0 5px 0 2px;
			}
		}
		//li
	}
	//ul
}
//main
//* -------------------------------------------------------TABLES*/

table {
	width: 100%;

	p {
		margin-bottom: 0;
	}
	//p
	td {
		padding: 5px;
		background-color: #f5f5f5;
	}
	//td
	tr {
		&:nth-child(odd) {
			td {
				background-color: #fff;
			}
			//td
		}
		//nth-child(odd)
	}
	//tr
	th,
	thead td {
		//background-color: #fdc402;
	}
	//rh, thead td
	tfoot {
		td {
			background-color: $green;
		}
		//td
	}
	//tfoot
}
//table
//* -------------------------------------------------------BUTTONS + LINKS*/

%links-btns {
	font-size: 100%;
	margin: 0;
	line-height: normal;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: 10px 18px;
	font-weight: 400;
	border-radius: 7px;
	left: auto;
	color: $white;
	background-color: $green;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	font-family: $font__main;
}

.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %links-btns;

	&:active,
	&:focus,
	&:hover {
		@extend %links-btns;
	}
	//&:focus, &:hover, &:active
	&:hover {
		color: $white;
	}
	//hover
}

.small-btn,
.small-btn:hover {
	font-size: 13px;
	line-height: 1;
	margin-bottom: 10px;
}

a {
	outline: none;
	color: $color__link;

	&:active,
	&:focus,
	&:hover {}
	//&:hover, &:focus, &:active
	&:hover {
		color: $color__link_hover;
		@include opacity(0.8);
	}
	//:hover
}
//a
//* -------------------------------------------------------INPUT AND FORMS*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text_input;
	border: 1px solid $color__text_input-border;
	@include border-radius(3px);

	&:focus {
		color: $darkgrey;
	}
	//focus
}

select {
	border: 1px solid $color__text_input-border;
}
//* -------------------------------------------------------NAVIGATION*/

.main-navigation {
	&.mm-menu {
		.menu {
			display: block !important;
		}
		//menu
		.mm-listview {
			display: block;

			li {
				text-align: left;
				width: 100% !important;
				display: block !important;
				float: none !important;
			}
			//li
		}
		//mm-listview
	}
	//mm-menu
	.menu {
		display: table;
		margin: 0 auto;

		> li,
		> ul > li {
			position: relative;
			display: table-cell;

			a {
				//padding: 5px 1vw;
			}
			//a
			@include mmax(767) {
				width: 100%;
			}
			//767
		}
		//>liulli
		@include mmax(950) {
			display: none;
		}
	}
	//menu
}
//main-navigation

.menu-toggler {
	display: none;
	@include mmax(950) {
		display: block;
		position: absolute;
		top: 46px;
		right: 27px;
		@include font($font__main, 18px, $darkgrey, 600);
		text-decoration: none;

		.fa {
			margin-right: 10px;
		}
	}
}
//menu-toggler
//* -------------------------------------------------------SCROLL TO TOP*/

.scrollToTop {
	width: 50px;
	height: 50px;
	padding: 0;
	text-align: center;
	z-index: 9999;
	position: fixed;
	bottom: 5px;
	right: 5px;
	font-size: 30px;
	border-radius: 100%;
	background: $green;
	color: $white;

	i {
		position: absolute;
		top: 44%;
		left: 50%;
		line-height: 0;
		@include translate(-50%,-50%);
	}
	//i
	&:focus,
	&:hover,
	&:visited {
		color: $white;
	}
	//&:hover, &:visited, &:focus
}
//scrollToTop
//* -------------------------------------------------------HEADER*/

.site-header {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1121;
	clear: both;
	min-height: 125px;
	@include cf();
	@include filter-gradient(#ffffff, #ffffff, vertical);
	@include background-image(linear-gradient(top, rgba(255,255,255,1) 32%,rgba(255,255,255,0) 100%));
	@include mmax(768) {
		//min-height: 90px;
	}

	.container {
		position: relative;
		z-index: 111;
	}

	.site-branding {
		position: absolute;
		top: 29px;
		left: 0;
		display: block;
		z-index: 100;
		text-decoration: none;
		@include mmax(768) {
			top: 47px;
			max-width: 150px;
		}

		img {
			margin-left: 10px;
		}

		&__desc {
			display: block;
			font-size: 11px;
			line-height: 1.2;
			text-align: left;
			padding-left: 10px;
			text-transform: uppercase;  
			@include mmax(768) {
				display: none;
			}
		}

		&__desc-mobile {
			display: none;
			text-transform: uppercase; 
			font-size: 11px;
			line-height: 1.2;
			text-align: left;
			padding-left: 10px;
			@include mmax(768) {
				display: block;
			}
			
			@include mmax(391) {
				font-size: 9px;
			}
		}
		//img
	}
	//branding
	.top-menu {
		position: absolute;
		right: 11px;
		top: 0;
		text-align: right;
		@include mmax(1200) {
			right: 15px;
		}

		a {
			display: inline-block;
			height: 33px;
			@include font($font__main, 12px, $darkgrey, 200);
			line-height: 12px;
			border-right: 1px dashed #bbb;
			padding: 10px 19px;
			text-decoration: none;
			@include mmax(420) {
				padding: 10px 3px;
				border-right: none;
			}

			.fa {
				color: #9c9c9c;
				font-size: 14px;
				margin-right: 7px;
			}

			&.shop-link {
				color: $red;

				.fa {
					color: $red;
				}
			}
		}
		//a
	}
	//top
	nav {
		.menu-primary-navigation-container {
			margin-top: 62px;
			@include mmax(1180) {
				margin-top: 50px;
			}

			ul {
				float: right;
				@include mmax(1210) {
					//margin-right: 27px !important;
				}

				li {
					padding-right: 0;
					padding-left: 27px;
					padding-top: 4px;
					@include mmax(1180) {
						padding-left: 15px;
					}

					&.button-mm {
						padding-top: 0;

						a {
							margin: 0;
							line-height: normal;
							cursor: pointer;
							position: relative;
							text-decoration: none;
							overflow: visible;
							font-weight: 400;
							border-radius: 7px;
							left: auto;
							color: $green;
							white-space: nowrap;
							display: inline-block;
							background-image: none;
							box-shadow: none;
							-webkit-box-shadow: none;
							text-shadow: none;
							text-transform: uppercase;
							background-color: #fff !important;
							border: 2px solid $green;
							padding: 6px 17px;
							margin-top: -10px;
						}
					}

					a {
						@include font($font__main, 14px, $darkgrey, 400);
						text-transform: uppercase;
						padding-left: 0;
						padding-right: 0;
						@include mmax(1180) {
							font-size: 12px;
						}
					}
				}
			}
			//ul
		}
		//menuprimar
	}
	//nav
}
//header

#main-slider {
	position: relative;
	top: -85px;
	left: 0;
	z-index: 11;
	@include mmax(490) {
		top: -30px;
	}
}

.owl-carousel {
	.owl-stage {
		.owl-item {
			.item {
				height: auto;
				position: relative;
				z-index: 10;

				.photo {
					position: relative;
					@include cf();
					clear: both;
					z-index: 10;
					width: 100%;
					//height: 100%;
					// max-height: 597px;
					// overflow: hidden;
				}

				.text {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;

					.container {
						@include cf();
						clear: both;
						position: relative;

						.owl-overlay {
							position: absolute;
							right: 0;
							top: 190px;
							z-index: 100;
							@include mmax(1200) {
								width: 50%;
								top: 120px;
								right: 5px;
							}
							@include mmax(870) {
								top: 100px;
								text-align: right;
							}
							@include mmax(660) {
								width: 100%;
							}
							@include mmax(635) {
								top: 60px;
							}
							@include mmax(480) {
								top: 40px;
							}
							@include mmax(360) {
								top: 10px;
							}

							.button {
								@include mmax(490) {
									font-size: 11px;
									padding: 5px;
								}
							}

							.row {
								@include mmax(870) {
									margin: 0;
								}
							}

							h2 {
								@include font($font__main, 38px, $darkgrey, 600);
								margin-bottom: 20px;
								line-height: normal;
								@include mmax(1000) {
									font-size: 28px;
								}
								@include mmax(870) {
									font-size: 24px;
									margin-bottom: 10px;
								}
								@include mmax(480) {
									font-size: 16px;
									margin-bottom: 0;
								}
							}

							p {
								@include mmax(480) {
									font-size: 12px;
									margin-bottom: 10px;
								}
							}
						}
					}
				}
				//text
			}
			//item
		}
		//owitem
	}
	//owstage
}
//owlcar

.btn-std {
	background-color: $green;
	display: inline-block;
	@include border-radius(6px);
	@include font($font__main, 15px, $white, 400);
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 18px;
	@include mmax(490) {
		font-size: 13px;
		padding: 6px 12px;
	}
}

.site-footer {
	margin-top: 50px;

	.container {
		@include mmax(760) {
			//padding: 0 20px;
		}
	}

	.ft-left {
		@include mmax(768) {
			text-align: center;
			width: 100%;
			float: none;
		}

		.ft-logo {
			padding-right: 92px;
			float: left;
			@include mmax(768) {
				padding: 0;
				float: none;
			}
		}

		.ft-adress {
			@include font($font__main, 12px, $black, 400);
			line-height: 22px;
			float: left;
			@include mmax(768) {
				float: none;
			}

			.tel-big {
				@include font($font__main, 16px, $black, 600);
			}

			a {
				color: $red;
				text-decoration: none;
			}
		}
	}
	//ftleft
	.ft-right {
		@include mmax(768) {
			text-align: center;
			width: 100%;
			float: none;
		}

		.btm-navigation {
			float: right;
			width: 100%;
			@include mmax(768) {
				float: none;
			}

			ul {
				text-align: right;
				@include mmax(768) {
					text-align: center;
					margin-bottom: 30px;
				}

				li {
					display: inline-block;
					padding: 0 15px;
					@include mmax(1000) {
						padding: 0 6px;
					}

					&:first-of-type {
						padding-left: 0;

						&:before {
							content: none;
						}
					}

					&:last-of-type {
						padding-right: 0;
					}

					&:before {
						content: " | ";
						left: 0;
						margin: 0;
						position: absolute;
						@include mmax(1000) {
							left: -2px;
						}
					}

					a {
						@include font($font__main, 13px, $black, 400);
						text-decoration: none;
					}
				}
			}
			//ul
		}

		.icons-wrapper {
			float: right;
			width: 100%;
			text-align: right;
			padding-bottom: 32px;
			@include mmax(768) {
				text-align: center;
				float: none;
				//padding-bottom: 0;
			}

			.icon-item {
				background-color: #ececec;
				width: 46px;
				height: 46px;
				@include border-radius(50%);
				display: inline-block;
				text-align: center;
				text-decoration: none;
				outline: none;
				margin-left: 17px;
				@include mmax(768) {
					float: none;
					margin-left: 10px;
					margin-right: 10px;
				}

				.fa {
					vertical-align: middle;
					font-size: 18px;
					color: #979797;
					text-decoration: none;
					line-height: 18px;
					padding-top: 13px;
				}
			}
			//iconitem
		}
	}
	//ftright
	.btm-info {
		border-top: 1px solid #dfdfdf;
		width: 100%;
		clear: both;
		@include cf();

		.ft-menu {
			padding-top: 20px;

			ul {
				text-align: left;
				@include mmax(768) {
					text-align: center;
				}

				li {
					display: inline-block;
					padding: 0 23px;

					&:first-of-type {
						padding-left: 0;

						&:before {
							content: none;
						}
					}

					&:last-of-type {
						padding-right: 0;
					}

					&:before {
						content: " | ";
						left: 0;
						margin: 0;
						position: absolute;
					}

					a {
						@include font($font__main, 13px, #a2a2a2, 400);
						text-decoration: none;
					}
				}
			}
			//ul
		}

		.ft-copy {
			@include font($font__main, 11px, #a2a2a2, 400);
			line-height: normal;
			text-align: right;
			padding-top: 20px;
			@include mmax(768) {
				text-align: center;
				padding-top: 0;
			}

			.like-logo {
				width: 63px;
				height: 13px;
				display: inline-block;
				margin-left: 15px;
				@include mmax(768) {
					display: block;
					margin: 10px auto 0;
				}
			}
		}
	}
	//btminfo
}

.home,
.page-id-7,
.page-id-9 {
	.site-footer {
		margin-top: 0;

		.container {
			border-top: none;
		}
	}
}
//footer

.wdg-wrapper {
	text-align: center;
	@include cf();
	clear: both;
	margin: 0 auto;
}
/*	.site-content {
		margin-top: -40px;
	}
	*/

.button-inw {
	margin: 0;
	line-height: normal;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	font-weight: 400;
	border-radius: 7px;
	left: auto;
	color: $green;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	background-color: #fff !important;
	border: 2px solid $green;
	padding: 6px 17px;
	margin-top: 15px;
}

.button-inw-red {
	margin: 0;
	line-height: normal;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	font-weight: 400;
	border-radius: 7px;
	left: auto;
	color: $red;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	background-color: #fff !important;
	border: 2px solid $red;
	padding: 6px 17px;
	margin-top: 15px;
	font-size: 13px;

	&:hover {
		color: $red;
	}
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.single-protokol .mainText {
	ul {
		li {
			padding-left: 15px;
			position: relative;

			&:before {
				position: absolute;
				left: 0;
			}
		}
	}
}

.steps {
	display: block;
	float: left;
	@include mmax(600) {
		padding-bottom: 15px !important;
	}
	@include mmax(600) {
		.steps__content {
			display: block;
			padding: 0;
		}

		.steps__item {
			width: 100%;
			display: block;
			float: left;
			margin-bottom: 10px;

			&:after,
			&:before {
				display: none;
			}

			.steps__counter {
				font-size: 10px;
			}

			.steps__name {
				font-size: 12px;
			}

			&.-active {
				.steps__counter {
					font-size: 18px;
				}

				.steps__name {
					font-size: 25px;
				}
			}
		}
	}
	@include mmin(601) {
		.steps__item {
			&:before {
				transform: rotate(55deg) translate(-50%, 0);
			}
		}
	}
}

.steps + form.form {
	display: block;
	float: left;
}

form {
	max-width: 100%;
}
@media (min-width: 1441px) {
	.form__inputsRow {
		flex-wrap: wrap !important;
	}
}

.title-container {
	h2 {
		color: $red;
		font-size: 21px;
		font-weight: 400;
		margin-bottom: 10px;
		line-height: 1.3;
		text-transform: uppercase;
	}

	h3 {
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 30px;
		color: $darkgrey;
	}
}
// progressbar fix

div.progressBar__labels.-bottom .progressBar__label {
	top: 50px;
}

div.progressBar__line.-begin,
div.progressBar__line.-end {
	top: 0;
}

div.progressBar__dates {
	top: 23px;
}

div.progressBar__dates {
	margin: 0 30px;
	@include mmax(1048) {
		margin: 0 5px;
	}
}

#masthead {
	.container {
		@include mmax(440) {
			padding: 0;
		}
	}

	.top-menu {
		@include mmax(1048) {
			text-align: center;
			position: static;
			right: auto;
			top: auto;
		}

		a:last-child {
			@include mmax(1048) {
				border-right: 0;
			}
		}
		@include mmax(440) {
			display: flex;
			justify-content: center;
		}
	}
}

.payment__inputbox {
	margin-right: 0 !important;
	text-align: center;

	label span {
		text-decoration: line-through;
	}
}

.open-lightbox {
	display: flex;
	justify-content: flex-end; 
	padding: 0 10px;
}

.page-template-page-misja {
	.misja-top-overlay .btn-how-it-works {
		display: block;
		margin-top: 25px;
		
	}
}


footer .site-branding__desc {
			display: block;
			font-size: 10px;
			line-height: 1.2;
			text-align: left;
			text-transform: uppercase;  
			@include mmax(768) {
				text-align: center;
			}   
}

.btn-how-it-works {
	text-decoration: none;
}


// how it works button component
.button-how-it-works {	
		 display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: #008133;
    padding-left: 70px;
    padding-bottom: 7px;
    position: relative;
    justify-content: flex-end;
    white-space: nowrap;
		
		&:before {
			content: '';
			display: block;
			background-image: url('../images/question-mark.png');
			background-repeat: no-repeat;
			background-position: center;
			width: 42px;
			height: 48px;
			margin-right: 23px;
			position: absolute;
    	left: 0;
		}
	
	&:after {
		content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-bottom: 3px dotted #d6e7f1;
    height: 3px;
    width: 85%;
	}
}

.post-type-archive-przepisy .button-how-it-works,
.przepisy-template-default .button-how-it-works {
	padding-left: 55px;
	font-size: 18px;
	margin-bottom: 20px;
}

