	aside#secondary {


		.widget-title {
			@include font($font__main, 16px, $red, 600);
			line-height: normal;
			position: relative;
			margin-bottom: 25px;

			&:after {
				position: absolute;
				left: 0;
				bottom: -6px;
				width: 90%;
				height: 1px;
				background-color: #e5f1f6; 
				content: " ";
			}
		}

		.filterit {
			@include font($font__main, 13px, $darkgrey, 400);
			line-height: normal;
			margin-bottom: 35px;

			h2 {
				@include font($font__main, 27px, $darkgrey, 600);
				line-height: normal;
				margin-top: 0;
				margin-bottom: 10px;
			}
			.av {
				.no {
					margin-left: 5px;
					color: $red;
				}
			}
		}
		//filterit

		.widget {
			margin-bottom: 30px;

			ul {
				li {
					padding-left: 0;
				}
			}
		}
		.widget_lc_taxonomy {
			ul {
				li {
					@include font($font__main, 13px, $darkgrey, 400);
					line-height: 22px;
					position: relative;

					&:before{
						font-family:'FontAwesome';
						content:'\f105';
						margin: 0 5px 0 2px;
						color: $red;
						font-weight: bold;
					}
					a {
						@include font($font__main, 13px, $darkgrey, 400);
						text-decoration: none;
					}
				}
			}
		}
		//widgetlc

		.new-recipes-widget {
			ul {
				li {
					@include cf();
					padding-bottom: 5px;
				}
			}

			.upw-image {
				float: left;
				width: 70px;
			}
			.upw-content {
				float: left;
				max-width: 70%;
				clear: none;

				.post-title {
					margin-bottom: 3px;
					line-height: 14px;
					a {
						@include font($font__main, 13px, $darkgrey, 400);
						text-decoration: none;
					}
				}
				.post-date {
					@include font($font__main, 12px, #aaa, 400);
				}
			}
		}
		//newrecipes

		.featured-recipes-widget {

			.upw-posts hfeed {
				padding-top: 20px;
			}

			.upw-posts article {
				display: block;
				margin-bottom: 0;
				margin-top: 20px;
				padding-bottom: 5px;
				border-bottom: none;
			}

			.entry-title {
				margin-top: -15px;
				text-align: center;
				margin-bottom: 5px;
				line-height: 18px;
				a {
					@include font($font__main, 15px, $darkgrey, 600);
					text-decoration: none;
					text-align: center;
				}
			}
			.entry-summary {
				margin-top: 5px;
				p {
					margin: 0;
					line-height: 13px;
					text-align: center;
				}
				a {
					@include font($font__main, 13px, $red, 300);
					text-decoration: none;
					text-align: center;
					line-height: 13px;
				}
			}

		}
		//featuredrecipes
	}
	//secondary

	#secondary {
		padding-top: 45px;

		@include mmax(1200) {
			width: 40%;
		}
		@include mmax(768) {
			width: 100%;
			float: none;
		}

		.widget-porady {
			margin-top: 20px;
			.widget-title {
				font-size: 22px;
				color: #000;

				&:after {
					content: none;
				}
			}

			article {
				@include cf();
				margin-bottom: 10px;
				padding: 8px 0 3px 0;

				header {
					float: left;
					width: 35%;

					.entry-image {
						margin-bottom: 0;
					}
				}
				.entry-summary {
					float: left;
					width: 60%;

					font-size: 13px;
				}
			}

			.upw-after {
				text-align: center;
			}

			.button-inw-red {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				margin: 0 auto;
				border: 3px solid $red;

				&:hover {
					color: $red;
				}
			}
		}
		//WIDGETPORADY

		.widget_categories {
			background-color: #f5f5f5;
			padding: 20px 25px 20px 25px;
			margin-bottom: 22px !important;

			.widget-title {
				display: none;
			}

			ul {
				margin: 0;
				li {
					@include font($font__main, 13px, $darkgrey, 400);
					line-height: 22px;
					position: relative;
					border-bottom: 1px solid #dcdcdc;
					padding: 9px 0;

					&:last-of-type {
						border-bottom: none;
					}

					&:before{
						font-family:'FontAwesome';
						content:'\f105';
						margin: 0 5px 0 2px;
						color: $green;
						font-weight: bold;
					}

					&.current-cat {
						a {
							color: $red;
						}
					}
					a {
						@include font($font__main, 13px, $darkgrey, 400);
						text-decoration: none;
						text-transform: uppercase;
					}
				}
			}
		}
		//widgetcategories

		.widget_custom_widget_link {
			min-width: 100%;
			min-height: 86px;
			padding: 16px 0 12px 30px;
			@include cf();
			margin-bottom: 10px !important;
			margin-top: 0 !important;

			&:before {
				content: none;
			}

			.widget-title {
				display: none;
			}

			.wright {
				float: left;
				padding-left: 29px;
				padding-top: 15px;
				vertical-align: middle;
			}
			.wleft {
				float: left;
				width: 46px;
				height: auto;
			}

			a {
				@include font($font__main, 18px, #fff, 400);
				text-decoration: none;
				line-height: 26px;
			}

			&.czerwony-button {
				background-color: $lightred;
				margin-top: 11px;
				border-top: 1px solid #ebebeb;
				@include font($font__main, 18px, #fff, 400);
				position: relative;

				&:before {
/*					position: absolute;
					content: " ";
					width: 100%;
					height: 1px;
					background-color: #ebebeb;
					left: 0;
					top: -11px;*/
				}
			}

			&.zielony-button {
				background-color: $green;
				position: relative;
				margin-top: 12px;

				&:after {
					position: absolute;
					content: " ";
					width: 100%;
					height: 1px;
					background-color: #ebebeb;
					left: 0;
					bottom: -12px;
				}
			}
		}
		//customwidget
	}
	//secondary

	.sidebar-konto {
		padding-top: 40px;

		@include mmax(950) {
			width: 100%;
			float: none;
		}

		.title {
			@include font($font__main, 21px, $darkgrey, 600);
			line-height: normal;
			margin-bottom: 20px;
		}

		.side-menu {
			margin-bottom: 30px;
			ul {
				padding: 0;
				margin: 0;

				li {
					border: 1px solid #e1e1e1;
					padding-left: 0;
					padding-top: 5px;
					padding-bottom: 8px;
					margin-bottom: 7px;

					&.el1 {
						padding-left: 7px;
						a {
							&:before {
								background-image: url("../images/dzienniczek.svg");

							}
						}
					}
					&.el2{
						padding-left: 7px;
						a {
							&:before {
								background-image: url("../images/aktualna_dieta.svg");

							}
						}
					}
					&.el3 {
						padding-left: 7px;
						a {
							&:before {
								background-image: url("../images/historia_diety.svg");

							}
						}
					}
					&.el4 {
						padding-left: 7px;
						a {
							&:before {
								background-image: url("../images/platnosci.svg");

							}
						}
					}
					&.el5 {
						padding-left: 7px;
						a {
							&:before {
								background-image: url("../images/piramida.svg");

							}
						}
					}
					&.el6 {
						padding-left: 7px;
						background: $red;
						a {
							color: $white;
							&:hover{
								color: $black;
							}
							&:before {
								background-image: url("../images/info-icon-white.svg");

							}
						}
						&:hover{
							a{
								color: $black;
							}
						}
					}

					a {
						font-size: 14px;
						font-weight: normal;
						text-decoration: none;
						position: relative;
						padding-left: 40px;

						@include mmax(975) {
							font-size: 13px;
						}

						@include mmax(950) {
							font-size: 14px;
						}

						&:before {
							width: 28px;
							height: 26px;
							position: absolute;
							content: " ";
							left: 0;
							top: -5px;
						}
					}
				}
			}
		}
		//sidemenu

		.side-graph {
			.graph1 {
				width: 100%;
				height: 120px;
				background-color: $green;
			}
			.graph2 {
				width: 100%;
				height: 120px;
				background-color: $red;
			}
			.captions {
				margin-top: 5px;
				font-size: 10px;
				line-height: 10px;
				margin-bottom: 30px;

				.weight, .girth {
					padding-left: 12px;
					position: relative;
					margin-right: 7px;

					&:before {
						position: absolute;
						height: 7px;
						width: 7px;
						left: 0;
						top: 2px;
						@include border-radius(50%);
						content: " ";
					}
				}
				//weight

				.actual, .stomach {
					&:before {
						background-color: $green;
					}
				}
				//actual
				.target, .hips {
					&:before {
						background-color: $red;
					}
				}
				//target
				.waist {
					&:before {
						background-color: #a4c842;
					}
				}
				//target
			}
		}
		//sidegraph

		.side-subscription {
			text-align: center;

			@include mmax(768) {
				text-align: center;
			}
			.title {
				text-align: left;
			}
			.sbsp-info {
				font-size: 13px;
				line-height: normal;

				.expire {
					display: block;
					font-size: 18px;
					font-weight: bold;
					line-height: 26px;
				}
			}
		}
	}

	.sidebar-konto{
			.patient, .side-graph{
				margin-bottom: 30px;
			}
			.uploadFiles__container{
				margin-bottom: 10px;
				.uploadFiles__title{
					font-weight: 700;
				}

				.fileUploader__uploaded{
					padding: 0;
					margin: 0;
					width: 100%;
					text-decoration: none;
					position: relative;
					margin-bottom: 10px;
				}
				.fileUploader__uploadedIcon{
					display: block;
					position: absolute;
					margin: 0;
					padding: 0;
					left: 0;
					top: 0;
				}
				.fileUploader__uploadedName{
					font-size: 14px;
					text-align: left;
					padding-left: 40px;
					line-height: 1.1;
					min-height: 40px;
				}
			}
		}
