/*--------------------------------------------------------------
# Styles for home
--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "settings";

/*---------------------------------------------------------------
# Required SASS files - DO NOT REMOVE
--------------------------------------------------------------*/
.site-content {
	margin-top: -40px;
}
.h-p {
	clear: both;
	@include cf();

	.hp-sidebar {
		clear: both;
		@include cf();
		overflow: hidden;
		float: none;

		@include mmax(768) {
			margin-top: 0px;
		}
	}
	.about {
		margin-top: 96px;
		position: relative;
		clear: both;
		overflow: hidden;
		@include cf();
		@include mmax(853){
			margin-top: 20px;
		}
		&:before {
			background-color: #f6f6f6;
			width: 50%;
			left: 0;
			height: 100%;
			content: " ";
			top: 0;
			position: absolute;

			@include mmax(767) {
				height: 40%;
				width: 100%;
			}
		}

		> .container {
			padding: 0;
		}

		.l-wrapper {
			background-image: url("../images/bg-auout.png");
			background-repeat: no-repeat;
			background-position: right top;
			padding-right: 90px;
			font-size: 15px;
			line-height: 28px;
			padding-top: 57px;

			@include mmax(1100) {
				height: auto !important;
			};

			@include mmax(767) {
				background: #f6f6f6;
				margin-bottom: 20px;
				float: none;
				padding: 50px 30px 0;
			}

			h3 {
				max-width: 50%;
				font-size: 21px;
				line-height: 28px;

				@include mmax(768) {
					max-width: 100%;
				}
			}

			.button-inw {
				margin-bottom: 30px;
			}
		}
		//lwarpp

		.r-wrapper {
			float: right;

			@include mmax(1100) {
				padding-bottom: 20px;
				height: auto !important;
			}

			@include mmax(767) {
				margin-bottom: 0;
				float: none;
				background: #fff;
				padding-bottom: 0;
			}

			.txt-wrapper {
				width: 50%;
				float: right;
				padding-top: 57px;
				padding-left: 40px;

				@include mmax(1100) {
					width: 100%;
					padding-bottom: 20px;
				}
				@include mmax(767) {
					padding: 0;
					width: 60%;
					float: left;
					padding-bottom: 20px;
				}

				h6 {
					font-size: 15px;
					font-weight: normal;
					text-transform: uppercase;
					margin-bottom: 16px;
				}
				h5 {
					font-size: 21px;
					font-weight: bold;
					color: $darkgrey;
					margin-bottom: 3px;
				}
				.sub {
					font-size: 12px;
					font-weight: normal;
					color: $red;
				}
				.desc {
					font-size: 14px;
					line-height: 25px;
					margin-top: 25px;
				}
			}
			.thumb {
				width: 50%;
				float: right;
				line-height: 0;
				min-height: 474px;
				height: 100%;
/*				-webkit-background-size: 100%;
				background-size: 100%;
				background-position: bottom center;
				background-repeat: no-repeat;*/
				position: relative;


				@include mmax(1100) {
					width: 100%;
					height: auto;
					min-height: 200px;
					padding-bottom: 20px;
				}


				@include mmax(767) {
					max-width: 40%;
					line-height: 0;
					padding-top: 0;
					padding-bottom: 0;
				}


				img {
					display: block;
					position: absolute;
					bottom: 0;

					@include mmax(1100) {
						position: static;
						bottom: auto;
						height: 254px;
						width: auto;
						margin: 0 auto;
					}
				}
			}
		}

		.owl-dots {
			position: absolute;
			bottom: 11px;
			left: 19px;
			z-index: 100;

			@include mmax(1100) {
				bottom: -10px;
				left: 35px;
			}
			@include mmax(767) {
				bottom: 20px;
				left: auto;
				right: 0;
			}

			.owl-dot {
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				background-color: $lightred;
				display: inline-block;
				margin-right: 10px;
			}
		}

	}
	//about

	.ttm {
		overflow: hidden;
		clear: both;
		@include cf();
		width: 100%;
		min-height: 454px;
		background-color: $lightred;
		padding-top: 50px;
		padding-bottom: 59px;

		h2, h3, p {
			color: $white;
		}

		.head {
			h2, h3 {
				font-size: 21px;
				margin-bottom: 10px;
				line-height: 1.3;
			}
			h2{
				font-weight: 400;
				text-transform: uppercase;
			}
			h3{
				font-weight: 700;
				margin-bottom: 30px;
			}
		}

		.container {
			padding-left: 35px;
			padding-right: 35px;
		}
		.box-ttm {
			width: 100%;
			@include cf();
			clear: both;

			.item {
				min-height: 228px;
				margin-left: 0.5%;
				margin-right: 0.5%;
				background-color: #cf3a43;
				position: relative;
				float: left;
				padding-left: 42px;
				padding-top: 72px;
				padding-right: 42px;
				padding-bottom: 30px;
				display: block;
				text-decoration: none;

				&:before {
					position: absolute;
					content: "\f10d";
					font-family: "FontAwesome";
					font-size: 32px;
					color: #e8545c;
					top: 27px;
					left: 42px;

				}

				.who {
					text-align: right;
					color: $white;
					position: relative;
					span.ttm-more{
						position: absolute;
						left: 0;
						top: 0;
						font-size: 14px;
					}
					.r1 {
						font-weight: bold;
						display: block;
					}
					.r2	 {
						font-size: 12px;
						display: block;
					}
				}
			}
			//item
		}
		.owl-nav {
			display: block;
			width: 100%;

			.owl-prev, .owl-next {
				top: 100px;
				position: absolute;
				font-size: 20px;
				color: $white;
			}
			.owl-next {
				right: -15px;
			}
			.owl-prev {
				left: -15px;
			}
		}
	}
	//ttm
}
//hp

#owl-carousel-big {
	.owl-dots {
		position: absolute;
		bottom: 11px;
		left: 50%;
		z-index: 100;
		transform: translate(-50%, 0);

		@include mmax(1100) {
			bottom: -10px;
			left: 35px;
		}
		@include mmax(767) {
			bottom: 20px;
			left: auto;
			right: 0;
		}

		@include mmax(440) {
			display: none;
		};

		.owl-dot {
			width: 15px;
			height: 15px;
			@include border-radius(50%);
			background-color: #E4E4E4;
			border: 1px solid #b8b8b8;
			display: inline-block;
			margin-right: 10px;
			&:hover, &.active{
				background-color: $green;
			}
		}
	}
}

.tabs-wrapper {

}
// ======================================================================================================================
// .widget_custom_widget {
// 	width: 25%;
// 	//min-height: 189px;
// 	//display: inline-table;
// 	display: block;
// 	position: relative;
// 	@include border-radius-long(20px, 20px, 20px, 20px);
// 	padding-top: 17px;
// 	font-size: 15px;
// 	color: $white;
// 	line-height: 22px;
// 	padding-left: 85px;
// 	padding-right: 40px;
// 	padding-bottom: 10px;
// 	text-align: center;
// 	min-height: 200px;
// 	//height: 200px;
//
// 	&.active {
// 		@include border-radius-long(20px, 20px, 0px, 0px);
// 	}
//
// 	&:before {
// 		content:none;
// 	}
//
// 	&:after {
// 		position: absolute;
// 		right: -14px;
// 		top: 45%;
// 		width: 15px;
// 		height: 34px;
// 		content: " ";
// 		background-repeat: no-repeat;
// 		margin-top: -8px;
//
// 		@include mmax(853) {
// 			bottom: -24px;
// 			top: auto;
// 			left: 50%;
// 			margin-left: -7px;
// 			margin-top: 0;
// 			@include rotate(90deg);
// 		}
// 	}
//
// 	@include mmax(990) {
// 		font-size: 12px;
// 	}
// 	@include mmax(853) {
// 		width: 100%;
// 		margin-left: 0 !important;
// 		padding-left: 40px;
// 		margin-bottom: 40px;
// 		.outertri {
// 			bottom: 0;
// 			@include rotate(90);
// 		}
// 		h3 {
// 			left: 16px !important;
// 		}
// 	}
//
// 	&:nth-of-type(1) {
// 		background-color: $red;
// 		padding-left: 49px;
// 		z-index: 1000;
//
// 		&:after {
// 			background-image: url("../images/arr-red.png");
// 		}
//
// 	}
// 	&:nth-of-type(2) {
// 		background-color: $lightred;
// 		margin-left: -40px;
// 		z-index: 100;
//
// 		&:after {
// 			background-image: url("../images/arr-ltred.png");
// 		}
//
// 		h3 {
// 			left: 56px;
// 		}
// 	}
// 	&:nth-of-type(3) {
// 		background-color: $green;
// 		margin-left: -40px;
// 		z-index: 10;
//
// 		h3 {
// 			left: 56px;
// 		}
// 		&:after {
// 			background-image: url("../images/arr-green.png");
// 			content: none;
//
// 			@include mmax(853) {
// 				content: " ";
// 			}
// 		}
// 	}
//
// 	a {
// /*			display: block;
// 			float: left;
// 			width: 100%;
// 			position: relative*/
// 		}
// 		img {
// 			max-height: 66px;
// 			width: auto;
// 			max-width: 55px;
// 		}
// 		h3 {
// 			position: absolute;
// 			top: 5px;
// 			left: 16px;
// 			font-size: 20px;
// 			font-weight: 400;
// 			color: rgba(255, 255, 255, 0.35);
// 		}
// 		.btn-widget {
// 			padding-top: 15px;
// /*			position: absolute;
// 			right: 0;
// 			bottom: 20px;
// 			background: $green;
// 			@include font($font__main, 15px, $white, 400);
// 			text-transform: uppercase;
// 			text-decoration: none;
// 			padding: 10px 18px;
// 			@include border-radius-long(7px, 0, 0, 7px);*/
// 		}
// 		.scccale {
// 			transform:scale(0.26);
// 			-webkit-transform:scale(0.26);
// 			-moz-transform:scale(0.26);
// 			-o-transform:scale(0.26);
// 		}
// 		.innertri{
//
// 		}
//
// 		.outertri {
//
// 		}
// 	}
// ======================================================================================================================

.widget_custom_widget{
	display: table-cell;
	float: left;
	width: 25%;
	text-align: center;
	padding: 25px 35px;
	height: 260px;
	vertical-align: middle;
	h3{
		margin-bottom: 0 !important;
		display: none;
	}
	img{
		width: 85px;
		height: 85px;
		margin-bottom: 10px;
	}
	.tab-top-text{
		display: block;
		width: 100%;
		text-transform: uppercase;
	}
	p{
		font-size: 14px;
	}
	&:before{
		margin: 0;
	}
	&:nth-child(1){
		background: #eef6fa;
		&:before{
			content: '';
			display: none;
		}
	}
	&:nth-child(2), &:nth-child(3), &:nth-child(4){
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 30px;
			height: 260px;
			border-top: solid 130px transparent;
			border-bottom: solid 130px transparent;
			border-left: solid 30px;
			@include mmax(767){
				display: none;
			}
		}
	}
	&:nth-child(2){
		background: #d7e8f1;
		&:before{
			border-left-color:#eef6fa;
		}
	}
	&:nth-child(3){
		background: #c2dcea;
		&:before{
			border-left-color: #d7e8f1;
		}
	}
	&:nth-child(4){
		background: #acd4e9;
		&:before{
			border-left-color: #c2dcea;
		}
	}
	@include mmax(853) {
		display: none;
	}
	.more-box{
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 20px;
		font-size: 12px;
	}
}
	ul.tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: table;
		@include cf();
		margin-left: 0;

		@include mmax(853) {
			margin-left: 0;
		}
	}

	ul.tabs li {
		float: none;
		margin: 0;
		cursor: pointer;
		//overflow: hidden;
		position: relative;
	}

	.tab_last {  }

	ul.tabs li:hover {

	}

	ul.tabs li.active {

	}

	.tab_container {
		border-top: none;
		clear: both;
		float: left;
		width: 100%;
		background: #fff;
		//overflow: auto;
		margin-left: 0;

		@-moz-document url-prefix() {
			width: 100%;
		}

		@include mmax(853) {
			width: 100%;
			margin-left: 0;
		}

		.tab_drawer_heading {
			margin: 0;
			padding: 20px;
			@include font($font__main, 14px, #000, 300);
			line-height: 18px;
			cursor: pointer;
			&:after{
				content: '\f107';
				font-family: FontAwesome;
			}
			img {
				max-width: 33px;
				max-height: 33px;
				margin-bottom: 10px;
			}

			&:nth-of-type(1) {
				background-color:#eef6fa;

				// &:after {
				// 	background-image: url("../images/arr-red.png");
				// }

			}
			&:nth-of-type(2) {
				background-color: #d7e8f1;

				// &:after {
				// 	background-image: url("../images/arr-ltred.png");
				// }

				// h3 {
				// 	left: 56px;
				// }
			}
			&:nth-of-type(3) {
				background-color: #c2dcea;
				z-index: 10;

				// h3 {
				// 	left: 56px;
				// }
				// &:after {
				// 	background-image: url("../images/arr-green.png");
				// 	content: none;
        //
				// 	@include mmax(853) {
				// 		content: " ";
				// 	}
				//}
			}
			//nt3
			&:nth-of-type(4) {
				background-color: #acd4e9;
			}
		}

		.tab_content {
			padding: 70px 30px;
			display: none;
			margin-top: 0;
			@include font($font__main, 16px, #000, 300);
			text-align: left;
			position: relative;
			overflow: hidden;
			li{
				padding-left: 25px;
				position: relative;
				&:before{
					content: '\f00c';
					position: absolute;
					left: 0;
					top: 0;
					color: rgba(0,0,0, .6);
				}
			}
			&:nth-of-type(1) {
				background-color: #eef6fa;

				// &:after {
				// 	background-image: url("../images/arr-red.png");
				// }

			}
			&:nth-of-type(2) {
				background-color: #d7e8f1;

				// &:after {
				// 	background-image: url("../images/arr-ltred.png");
				// }


			}
			&:nth-of-type(3) {
				background-color: #c2dcea;
				z-index: 10;

				h3 {
					left: 56px;
				}
				&:after {
					background-image: url("../images/arr-green.png");
					// content: none;
          //
					// @include mmax(853) {
					// 	content: " ";
					// }
				}
			}
			//nt3
			&:nth-of-type(4) {
				background-color: #acd4e9;

				// &:after {
				// 	background-image: url("../images/arr-ltred.png");
				// }


			}
			.close {
				position: absolute;
				right: 20px;
				top: 20px;
				font-size: 40px;
			}
		}
		//content
	}
	//container



	.tab_drawer_heading { display: none; }

	@media screen and (max-width: 853px) {
		.tabs {
			display: none;
		}
		.tab_drawer_heading {
			display: block;
		}
		.d_active {
			background-color: #666;
			color: #fff;
		}
	}
.wdg-wrapper{
	margin-bottom: 100px;
	@include mmax(853){
		margin-bottom: 20px;
	}
}
.wdg-wrapper-1{
	margin-bottom: 0px;
	
	.title-container {
		position: relative;
		
		@include mmax(768) {
			margin-bottom: 10px;	
		}
		
		h3 {
			@include mmax(768) {
				margin-bottom: 10px;	
			}
		}
		
		@include mmax(768) {
			padding-bottom: 70px;	
		}
		.btn-how-it-works {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			text-decoration: none;
			@include mmax(768) {
				right: auto;
				top: auto;
				left: 50%;
				bottom: 10px;
				transform: translateX(-50%);
			}
		}
	}
}
	#demoTab1{
		ul.tabs{
			display: block;
			width: 100%;
			@include mmax(853){
				display: none !important;
			}
		}
		.widget_custom_widget{
			width: 25%;
			background-color: transparent;
			z-index: 20;
			display: block;
			float: left;
			padding: 0 10px;
			.tab-inner-box{
				width: 100%;
				display: block;
				vertical-align: middle;
				border: solid 1px #3888e9;
				border-bottom-color: #fff;
				position: relative;
				height: 260px;
				margin-bottom: 55px;
				position: relative;
				.tab-box{
					position: absolute;
					display: block;
					width: 100%;
					top: 50%;
					@include translate(translate(0,-50%));
				}
				&.border-btm{

					border-bottom-color: #3888e9;
				}
				.arrow{
					display: block;

					position: absolute;
					height: 55px;
					bottom: -55px;
					left: -1px;
					right: -1px;

					img{
						width: 100%;
						height: auto;

					}
					.more-box{
						position: absolute;
						display: block;
						width: 100%;
						top: 2px;
						font-size: 12px;

					}
					&.animated{
						display: none;
					}
				}
			}

			&:before{
				display: none !important;
			}
			&.active{
				.tab-inner-box{
					border: solid 1px #3888e9;
					border-bottom-color: #fff;
					.arrow{
						display: none;
					}
				}
			}
		}
		.tab_content{
			margin-top: -1px;
			background-color: #fff;

			border: solid 1px #3888e9;
			max-width: 100%;

			.row{
				text-align: center;
				font-size: 0;
			}
			@include mmax(853){
				margin-top: -21px;
				margin-bottom: 20px;
			}
		}
		.tab_drawer_heading{
			background-color: transparent !important;
			z-index: 20;
			border: solid 1px #dbdbdb;
			margin-bottom: 20px;
			&.d_active{

			}
		}

	}


.circle-container{
	text-align: center;
	margin-bottom: 30px;
	position: relative;


	h1, h2, h3, h4, h5, h6{
		font-size: 16px;
		color: #000;
		font-weight: 700;
	}
	.circle-box{
		display: inline-block;
		padding: 10px;
		background: #d7e8f1;
		width: 120px;
		height: 120px;
		@include border-radius(50%);
		font-weight: 700;
		font-size: 20px;
		line-height: 100px;
		position: relative;
	}
	.circle-box-cont{
		display: block;
		width: 100%;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			max-width: 100%;
			border: solid #c2dcea;
			border-width: 0 3px 3px 0;
			padding: 3px;
			position: absolute;
			top: 50%;
			right: -15px;
			@include translate(translate(0,-50%) rotate(-45deg));
		}
		+ p{
			margin-top: 20px ;
			padding: 10px;
			font-size: 16px;
		}
			@include mmax(767){
				&:after{
				display: none;
				}
			}
	}

}

.circle-container{
	&:last-of-type{
		.circle-box-cont{
			&:after{
				display: none;
			}
		}
	}
}

.arrow-container{
	display: block;
	float: right;
	text-align: center;
	margin-right: 10vw;
	margin-top: 0;
	@include mmax(767){
		display: none;
	}
	&.arrow-container-2{
		margin-right: 0;
		margin: 0 auto;
		float: none;
	}
	p{
		display: inline-block;
		text-transform: uppercase;
		font-weight: 700;
	}
	.arrow-box{
		width: 175px;
		height: 92px;
		display: inline-block;
		background: url("../images/arrow11.png") no-repeat;
		position: relative;
		margin: 0 20px;
		top: -50px;
	}
	@include mmax(767){
		display: none;
	}
	&.arrow-container-first{
		float: left;
		width: 100%;
		margin-right: 0;
		text-align: left;
		margin-top: -50px;
		margin-bottom: 50px;
		.arrow-box{
			width: 60%;
			top: 0;
			background: transparent;
			height: auto;
			@include mmax(872){
				width: 55%;
			}
		}
	}
}


#demoTab1 .tab_content{
	@include mmax(767){
		margin-top: -21px;
		margin-bottom: 20px;
	}
}

#demoTab1{
	#tab1, #tab3{
		.circle-container{
			float: none;
			display: inline-block;
		}
	}
}

.container-bg-btm{
	padding: 70px 0 20px;
	@include mmax(767){
		padding-top: 50px;
	}
	.col-8{
		padding-left: 15vw;
		@include mmax(767){
			padding-left: 10px;
		}
	}
	h2,h3{
		font-size: 21px;
		margin-bottom: 10px;
		line-height: 1;
	}
	h2{
		text-transform: uppercase;
		font-weight: 400;
		color: $red;
	}
	h3{
		font-weight: 700;
		color: #2b2523;
	}
	.btns-box{
		margin-top: 30px;
	}
	@include mmax(768){
		text-align: center;
	}
}


@include mmax(767){
	.mobile-hidden{
		display: none;
	}
}

.month-container{
	padding: 0px;
	position: relative;
	&:before{
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	h4, h5{
		margin: 0;
		font-size: 16px;
		color: #000;
		font-weight: 700;
		text-align: left;
		margin-bottom: 5px;
		padding-left: 10px;
	}

	.month-bottom{
		display: block;
		width: 100%;
		background: #eef6fa;
		height: 30px;
		position: relative;
			&:before{
				content: '';
				display: block;
				width: 30px;
				height: 30px;
				position: absolute;
				left: 0;
				top: 0;
				border-top: solid 15px transparent;
				border-bottom: solid 15px transparent;
				border-left: solid 20px;
			}
			@include mmax(767){
				&:before{
					display: none;
				}
			}
	}
	&:nth-of-type(1){
		&:before{
			background: #eef6fa;
		}
		.month-bottom{
			&:before{
				display: none;
			}
		}
	}
	&:nth-of-type(2){
		&:before{
			background: #eef6fa;
		}
		border-left-color: #eef6fa;
		.month-bottom{
			background: #d7e8f1;
			&:before{
				border-left-color: #eef6fa;
			}
		}
	}
	&:nth-of-type(3){
		&:before{
			background: #d7e8f1;
		}
		.month-bottom{
			background: #c2dcea;
			&:before{
				border-left-color: #d7e8f1;
			}
		}
	}
	&:nth-of-type(4){
		&:before{
			background: #c2dcea;
		}
		.month-bottom{
			background: #acd4e9;
			&:before{
				border-left-color: #c2dcea;
			}
		}
	}
}


.lightbox-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 80%;
	height: 698px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background: #fff;
	padding: 10px;
}


#main-slider {
	
	@include mmax(870) {
		top: -20px;
	}
	
	@include mmax(845) {
		top: 0;
	}
	

	.owl-carousel {
		.owl-overlay {
			@include mmax(1320) {
				max-width: 450px;
				top: 160px;
				right: 40px;
			}
			
			@include mmax(870) {
				top: 80px;
			}
			
			@include mmax(800) {
				top: 50px;
			}
			
			@include mmax(726) {
				top: 40px;
				max-width: 290px;
			}
			
			@include mmax(690) {
				max-width: 230px;
			}
			
			@include mmax(391) {
				top: 10px;
				max-width: 150px;
			}
			
			h2 {
				@include mmax(726) {
					font-size: 18px;
				}
				
				@include mmax(391) {
					font-size: 12px;
					margin-bottom: 10px;
				}
			}
			
			p {
				@include mmax(726) {
					font-size: 14px;
				}
				
				@include mmax(391) {
					font-size: 10px;
					line-height: 1.2;
				}
			}
			
			.button {
//				@include mmax(957) {
//					position: absolute;
//					right: 10px;
//				}
//				
				@include mmax(726) {
					font-size: 12px;
				}
				
				@include mmax(600) {
					display: none;
				}
			}
		}
		
		.owl-dots {
			@include mmax(1210) {
				bottom: 10px;
				left: 110px;
			}
			
			@include mmax(767) {
				right: auto;
			}
		}
		
	}
}

.slider-mobileBtn {
	display: none;
	text-align: center;
	font-size: 12px;
	
	.button {
		width: 100%;
		border-top-left-radius: 0;
    border-top-right-radius: 0;
	}
	@include mmax(600) {
		display: block;
	}
}


#main {
	@include mmax(957) {
		margin-top: 40px;
	}
}
