/*--------------------------------------------------------------
# Styles for sub pages
--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "settings";

@import "widgets";

#page {
	background-image: url("../images/bg-h.png");
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.site-content {
	margin-top: 0;
}
.header-sub {
	height: 170px;
}
.header-konto {
	height: 135px;
}

//common subs styling

.wrapper {
	@inlcude cf();
	position: relative;
	clear: both;
	padding-bottom: 46px;

	&:after {
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 100%;
		height: 1px;
		background-color: #ebebeb;
		content: " ";
	}

	h2 {
		@include font($font__main, 31px, #000, 600);
		line-height: normal;
		float: left;
		margin-bottom: 0;
	}

	.breadcrumbs {
		padding-top: 23px;
	}
}
//wrapper

.breadcrumbs {
	float: right;
	@include font($font__main, 10px, $red, 300);

	a {
		@include font($font__main, 10px, $darkgrey, 300);
		text-decoration: none;
	}
	span {
		padding: 0 5px;
	}
}

.wp-pagenavi {
	margin-top: 20px;
	float: right;
	font-size: 13px;

	a, span {
		padding: 3px 7px;
		margin: 3px;
	}

	span.current {
		border-color: transparent;
	}
	.pages {
		font-size: 13px;
		color: #000;
		border: none;
		font-weight: bold;
	}
	span.current {
		border: 1px solid #d7d7d7;
		font-weight: bold;
		color: $green;
		font-size: 13px;
	}
	a.page {
		font-size: 13px;
		border: none;

		&:hover {
			color:$green;
		}
	}
	.nextpostslink, .previouspostslink {
		border: none;

		&:hover {
			color:$green;
		}
	}
}

table {
	border: none;

	th {
		background-color: #fff;
		font-size: 13px;
		text-align: left;
		padding: 10px;
		border-top: 1px solid #f5f5f5;
		border-bottom: 2px solid #f5f5f5;
		position: relative;

		&:after {
			background-color: #fff;
			height: 2px;
			content: " ";
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 100%;
		}
	}
	td {

		font-size: 13px;
		padding: 10px;
	}
}

.basicBox__item{
	text-decoration: none;
}

@import "przepisy";

@import "porady";

@import "page";

@import "konto";
@import "misja";
@import "ankieta-czastkowa";
@import "ankieta";

.testimonials-box{
	display: block;
	width: 100%;
	background: #ededed;
	margin-bottom: 20px;
	padding: 75px 40px 40px;
	position: relative;
	&:before {
		position: absolute;
		content: "\f10d";
		font-family: "FontAwesome";
		font-size: 32px;
		color: rgba(0,0,0, .4);
		top: 27px;
		left: 42px;

	}

	.who {
		text-align: right;
		.r1 {
			font-weight: 700;
			display: block;
			font-size: 15px;
		}
		.r2	 {
			font-size: 12px;
			display: block;
		}
	}
}

.lekarz-row{
	display: table;
	padding: 30px 0;
	.lekarz-text, .lekarz-image{
		display: table-cell;
		vertical-align: middle;
	}
	.lekarz-text{
		width: 70%;
		text-align: justify;
		h5{
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	.lekarz-image{
		width: 30%;
	}
	.text-left{
		padding-right: 40px;
	}
	.text-right{
		padding-left: 40px;
	}
}

.priceList__item{
	&.col-3{
		width: 25%;
		padding: 10px;
		@include mmax(767){
			width: 33.3333%;
		}
		@include mmax(579){
			width: 100%;
		}
	}
}

.priceList-item__button{
	&.green-btn{
		background-color: $green !important;
		padding: 10px 18px !important;
		width: auto !important;
		min-width: auto;
		font-weight: 400 !important;
		font-size: 16px !important;
		&:hover{
			background-color: $green !important;
			opacity: .8;
		}
}
}

.page-template-cennik{
	.payment__navigation{
		text-align: center;
	}
	.button-green.payment__button{
		background: $green !important;
		border: 0;
		padding: 10px 18px !important;
	}

}

.priceList__item {
	.priceList-item{
		.priceList-item__headline{
			background: $red !important;
		}
		.priceList-item__headlight{
			background: $green !important;
		}
	}
}
@include mmax(579){
	.priceList-item{
		max-width: 100% !important;
	}
}

.cennik-right-box{
	padding: 10px;
}
.cennik-right-col-box{
	height: 100%;
}
.cennik-right-col{
	border: solid 1px #e2e2e2;
		height: 100%;
	.righ-box-heading{
		display: block;
		float: left;
		margin-bottom: 20px;
		background: $red !important;
	}
	.right-top-box{
		padding:0 20px 10px;
		display: block;
		width: 100%;
		float: left;
		margin-bottom: 10px;

		.icon{
			display: block;
			width: 20%;
			float: left;
		}
		.text-right{
			width: 75%;
			float: right;
			font-size: 14px;
			text-transform: uppercase;
		}
		.btn-box{
			display: block;
			width: 100%;
			float: left;
			text-align: center;
			margin: 30px 0 10px;
			padding: 10px 0;
			border-top: solid 1px #e2e2e2;
			border-bottom: solid 1px #e2e2e2;
			.button{
				font-size: 10px;
				padding: 7px 10px;
				margin: 5px 1px;
				border: solid 1px $green;
				&:first-of-type{
					background: $white;
					color: $green;
					&:hover{
						background: $green;
						color: $white;
					}
				}
			}
		}
	}
}

.priceList-item__navigation{
	.btn.priceList-item__button.js-buy-diet.btn-white{
		background: #fff !important;
		&:hover{
			background: $green !important;
		}
	}

}

.share{
	display: block;
	float: left;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	h3{
		font-size: 23px;
		line-height: 1;
		margin-bottom: 10px;
		display: inline-block;
		margin-right: 20px;
		color: #000;
	}
	a{
		font-size: 30px;
		display: inline-block;
		margin-right: 10px;
			.fa-facebook-square{
				color: #3b5998;
			}
			.fa-twitter-square{
				color: #1da1f2;
			}
			.fa-linkedin-square{
				color: #007bb6;
			}
		}
}

.dietTemplate__item{
	font-size: 14px;
	padding: 20px;
	border-top: solid 1px #ebebeb;
	&:last-of-type{
		border-bottom: solid 1px #ebebeb;
		margin-bottom: 20px;
	}
	.edit-btn:hover{
		background: $color__background_accent;
		color: #fff !important;
	}
	.delete_item{
		color: $red !important;
		border-color: $red;
		&:hover{
			color: #fff !important;
			background-color: $red !important;
			border-color: $red !important;
		}
	}

}
.dietTemplate__container{
	form{
		padding: 20px;
		border-top: solid 1px #ebebeb;
		label{
			font-size: 14px;
			margin-right: 10px;
		}
		input[type="text"]{
			height: 38px;
			margin-right: 10px;
		}
	}
}

.dietPicker__option{
	display: none !important;
	&.-active{
		display: block !important;
	}
}

.dietPicker-form__ingredients{
	&.hide-ingrediends{
		display: none;
	}
}

.diet-top-box{
	&.sticky-scroll-box{
		background: #fff;
	}
	&.fixed{
		padding: 10px;
		-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.09);
		-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.09);
		box-shadow: 0 2px 3px 1px rgba(0,0,0,0.09);
		h3{
			margin-bottom: 0 !important;
		}
	}
	h3{
		display: inline-block;
		margin-right: 15px;
	}
	.days-buttons-box{
		display: inline-block;
		span{
			display: inline-block;
			font-size: 14px;
			line-height: 1;
			cursor: pointer;
			padding: 5px 10px;
			background: #fff;
			text-align: center;
			&.all-btn, &.btn-skladniki{
				min-width: 124px;
			}
			&:hover, &.day-selected{
				background: $green;
				color: $white;
			}
		}
	}
}
.single-template_diet, .page-template-diet-laying-step-2{
	#page{
		overflow: visible;
	}
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 15px;
	width: 100%;
}


.page-template-ankieta_1{
	.fileUploader{
		@media screen and (max-width: 767px) {
			padding-right: 0;
		}
	}
}

textarea{
	&.form__moreTextarea{
		resize: vertical !important;
		max-width: 100%;
		min-height: 50px;
	}
}

.form-ankieta-1{
  .form-box{
    display: block;
    width: 100%;
		margin-bottom: 20px !important;
		.form__inputBox{
			padding-right: 15px;
			.form__label{
				margin-left: 0;
			}
			input{
				width: 100%;
			}
		}
		&:nth-child(1){
			.form__inputBox{
				width: 33.3333%;
				float: left;
				@media screen and (min-width: 768px) {
					width: 16.6667%;
				}
			}
		}
		&:nth-child(2), &:nth-child(3){
			.form__inputBox{
				.form__label, input{
					width: 50%;
					float: left;
				}
				.form__label{
					margin: 0;
					padding-top: 0;
					padding-right: 10px;
				}
				input{}
			}
		}
		&:nth-child(4){
			.form__inputBox{
				width: 33.3333%;
				float: left;
			}
		}
		@media screen and (max-width: 480px) {
			margin-bottom: 0 !important;
			.form__inputBox{
				width: 100% !important;
				padding-right: 0;
				.form__label{
					margin-left: 0;
					width: 100% !important;
					margin-bottom: 5px !important;
				}
				input{
					width: 100% !important;
				}
			}
		}
  }
}
	@media screen and (max-width: 480px) {
	.steps + form.form{
		max-width: 100%;
	}
}

.platnosci-opis{
  background: #f6f6f6;
  padding: 15px 25px;
  font-size: 14px;
	a, p, li{
		font-size: 14px;
	}
}


.payment-summary{
	display: inline-block;
	float: left;
	margin-top: 10px;
	font-size: 20px;
	span{
		font-weight: 700;
	}
}

.form__rowTitle,
.form__rowSubtitle {
	text-transform: uppercase;
}

.form__help {
	ol, ul {
		padding: 0;
		text-align: left;  
	}
}

.form__help-text {
	margin-bottom: 20px;
}
