/*--------------------------------------------------------------
# Styles for home
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors - do not remove variables. Use friendly names listed below
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Friendly names for colours
--------------------------------------------------------------*/
/*$lightgrey: $color__background_body;*/
/*$lightestgrey: $color__background_grey;
$grey0nblue: #cac8c8;*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base Typo
--------------------------------------------------------------*/
/* =========================================================== LIGHTBOX =================================================== */
/* ACTIVITY INDICATION */
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%; }

#imagelightbox-loading {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */ }

#imagelightbox-loading div {
  width: 1.25em;
  /* 20 */
  height: 1.25em;
  /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading 0.5s ease infinite;
  animation: imagelightbox-loading 0.5s ease infinite; }

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75); } }
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75); }
  50% {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: .5;
    transform: scale(0.75); } }
/* OVERLAY */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* "CLOSE" BUTTON */
#imagelightbox-close {
  width: 35px;
  height: 35px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  padding: 0;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  border: none; }

#imagelightbox-close:hover,
#imagelightbox-close:focus {
  background-color: rgba(0, 0, 0, 0.9); }

#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px; }

#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* CAPTION */
#imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */ }

/* NAVIGATION */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

#imagelightbox-nav button {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */ }

#imagelightbox-nav button.active {
  background-color: #fff; }

/* ARROWS */
.imagelightbox-arrow {
  width: 3.75em;
  /* 60 */
  height: 3.75em;
  /* 60 */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff !important;
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  margin-top: -1.75em;
  /* 60 */
  border: none;
  font-size: 30px; }

.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.75);
  border: none; }

.imagelightbox-arrow:active {
  background-color: #111; }

.imagelightbox-arrow-left {
  left: 2.5em;
  /* 40 */ }

.imagelightbox-arrow-right {
  right: 2.5em;
  /* 40 */ }

.imagelightbox-arrow:before {
  border: none;
  content: '';
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
  line-height: 30px; }

.imagelightbox-arrow-left:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px; }

.imagelightbox-arrow-right:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px; }

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
  -webkit-animation: fade-in 0.25s linear;
  animation: fade-in 0.25s linear; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media only screen and (max-width: 41.25em) {
  #container {
    width: 100%; }

  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */ }

  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */ }

  .imagelightbox-arrow {
    width: 2.5em;
    /* 40 */
    height: 3.75em;
    /* 60 */
    margin-top: -2.75em;
    /* 30 */ }

  .imagelightbox-arrow-left {
    left: 1.25em;
    /* 20 */ }

  .imagelightbox-arrow-right {
    right: 1.25em;
    /* 20 */ } }
@media only screen and (max-width: 20em) {
  .imagelightbox-arrow-left {
    left: 0; }

  .imagelightbox-arrow-right {
    right: 0; } }
#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none; }

/*---------------------------------------------------------------
# Required SASS files - DO NOT REMOVE
--------------------------------------------------------------*/
.site-content {
  margin-top: -40px; }

.h-p {
  clear: both; }
  .h-p:after {
    content: '';
    display: table;
    clear: both; }
  .h-p .hp-sidebar {
    clear: both;
    overflow: hidden;
    float: none; }
    .h-p .hp-sidebar:after {
      content: '';
      display: table;
      clear: both; }
    @media screen and (max-width: 768px) {
      .h-p .hp-sidebar {
        margin-top: 50px; } }
  .h-p .about {
    margin-top: 96px;
    position: relative;
    clear: both;
    overflow: hidden; }
    .h-p .about:after {
      content: '';
      display: table;
      clear: both; }
    .h-p .about:before {
      background-color: #f6f6f6;
      width: 50%;
      left: 0;
      height: 100%;
      content: " ";
      top: 0;
      position: absolute; }
      @media screen and (max-width: 767px) {
        .h-p .about:before {
          height: 40%;
          width: 100%; } }
    .h-p .about .l-wrapper {
      background-image: url("../images/bg-auout.png");
      background-repeat: no-repeat;
      background-position: right top;
      padding-right: 90px;
      font-size: 15px;
      line-height: 28px;
      padding-top: 57px; }
      @media screen and (max-width: 767px) {
        .h-p .about .l-wrapper {
          margin-bottom: 30px;
          float: none;
          padding-right: 0; } }
      .h-p .about .l-wrapper h3 {
        max-width: 50%;
        font-size: 21px;
        line-height: 28px; }
        @media screen and (max-width: 768px) {
          .h-p .about .l-wrapper h3 {
            max-width: 100%; } }
      .h-p .about .l-wrapper .button-inw {
        margin-bottom: 30px; }
    .h-p .about .r-wrapper {
      float: right; }
      @media screen and (max-width: 1100px) {
        .h-p .about .r-wrapper {
          padding-bottom: 20px; } }
      @media screen and (max-width: 767px) {
        .h-p .about .r-wrapper {
          margin-bottom: 0;
          float: none; } }
      .h-p .about .r-wrapper .txt-wrapper {
        width: 50%;
        float: right;
        padding-top: 57px;
        padding-left: 40px; }
        @media screen and (max-width: 1100px) {
          .h-p .about .r-wrapper .txt-wrapper {
            width: 100%;
            padding-bottom: 20px; } }
        @media screen and (max-width: 768px) {
          .h-p .about .r-wrapper .txt-wrapper {
            padding-bottom: 50px;
            padding-left: 20px; } }
        .h-p .about .r-wrapper .txt-wrapper h6 {
          font-size: 15px;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: 16px; }
        .h-p .about .r-wrapper .txt-wrapper h5 {
          font-size: 21px;
          font-weight: bold;
          color: #2b2523;
          margin-bottom: 3px; }
        .h-p .about .r-wrapper .txt-wrapper .sub {
          font-size: 12px;
          font-weight: normal;
          color: #ec2028; }
        .h-p .about .r-wrapper .txt-wrapper .desc {
          font-size: 14px;
          line-height: 25px;
          margin-top: 25px; }
      .h-p .about .r-wrapper .thumb {
        width: 50%;
        float: right;
        line-height: 0;
        min-height: 474px;
        height: 100%;
        /*				-webkit-background-size: 100%;
        				background-size: 100%;
        				background-position: bottom center;
        				background-repeat: no-repeat;*/
        position: relative; }
        @media screen and (max-width: 1100px) {
          .h-p .about .r-wrapper .thumb {
            width: 100%;
            height: auto;
            min-height: 200px;
            padding-bottom: 20px; } }
        @media screen and (max-width: 767px) {
          .h-p .about .r-wrapper .thumb {
            line-height: 0;
            padding-top: 80px; } }
        .h-p .about .r-wrapper .thumb img {
          position: absolute;
          bottom: 0; }
          @media screen and (max-width: 1100px) {
            .h-p .about .r-wrapper .thumb img {
              position: static;
              bottom: auto; } }
    .h-p .about .owl-dots {
      position: absolute;
      bottom: 11px;
      left: 19px;
      z-index: 100; }
      @media screen and (max-width: 1100px) {
        .h-p .about .owl-dots {
          bottom: -10px;
          left: 35px; } }
      @media screen and (max-width: 767px) {
        .h-p .about .owl-dots {
          bottom: 0;
          left: 0; } }
      .h-p .about .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #e8545c;
        display: inline-block;
        margin-right: 10px; }
  .h-p .ttm {
    overflow: hidden;
    clear: both;
    width: 100%;
    min-height: 454px;
    background-color: #e8545c;
    padding-top: 50px;
    padding-bottom: 59px; }
    .h-p .ttm:after {
      content: '';
      display: table;
      clear: both; }
    .h-p .ttm h2, .h-p .ttm h3, .h-p .ttm p {
      color: #fff; }
    .h-p .ttm .head h2, .h-p .ttm .head h3 {
      font-size: 21px;
      margin-bottom: 10px;
      line-height: 1.3; }
    .h-p .ttm .head h2 {
      font-weight: 400;
      text-transform: uppercase; }
    .h-p .ttm .head h3 {
      font-weight: 700;
      margin-bottom: 30px; }
    .h-p .ttm .container {
      padding-left: 35px;
      padding-right: 35px; }
    .h-p .ttm .box-ttm {
      width: 100%;
      clear: both; }
      .h-p .ttm .box-ttm:after {
        content: '';
        display: table;
        clear: both; }
      .h-p .ttm .box-ttm .item {
        min-height: 228px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        background-color: #cf3a43;
        position: relative;
        float: left;
        padding-left: 42px;
        padding-top: 72px;
        padding-right: 42px;
        padding-bottom: 30px;
        display: block;
        text-decoration: none; }
        .h-p .ttm .box-ttm .item:before {
          position: absolute;
          content: "\f10d";
          font-family: "FontAwesome";
          font-size: 32px;
          color: #e8545c;
          top: 27px;
          left: 42px; }
        .h-p .ttm .box-ttm .item .who {
          text-align: right;
          color: #fff;
          position: relative; }
          .h-p .ttm .box-ttm .item .who span.ttm-more {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14px; }
          .h-p .ttm .box-ttm .item .who .r1 {
            font-weight: bold;
            display: block; }
          .h-p .ttm .box-ttm .item .who .r2 {
            font-size: 12px;
            display: block; }
    .h-p .ttm .owl-nav {
      display: block;
      width: 100%; }
      .h-p .ttm .owl-nav .owl-prev, .h-p .ttm .owl-nav .owl-next {
        top: 100px;
        position: absolute;
        font-size: 20px;
        color: #fff; }
      .h-p .ttm .owl-nav .owl-next {
        right: -15px; }
      .h-p .ttm .owl-nav .owl-prev {
        left: -15px; }

.widget_custom_widget {
  display: table-cell;
  float: left;
  width: 25%;
  text-align: center;
  padding: 25px 35px;
  height: 260px;
  vertical-align: middle; }
  .widget_custom_widget h3 {
    margin-bottom: 0 !important;
    display: none; }
  .widget_custom_widget img {
    width: 85px;
    height: 85px;
    margin-bottom: 10px; }
  .widget_custom_widget .tab-top-text {
    display: block;
    width: 100%;
    text-transform: uppercase; }
  .widget_custom_widget p {
    font-size: 14px; }
  .widget_custom_widget:before {
    margin: 0; }
  .widget_custom_widget:nth-child(1) {
    background: #eef6fa; }
    .widget_custom_widget:nth-child(1):before {
      content: '';
      display: none; }
  .widget_custom_widget:nth-child(2):before, .widget_custom_widget:nth-child(3):before, .widget_custom_widget:nth-child(4):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 260px;
    border-top: solid 130px transparent;
    border-bottom: solid 130px transparent;
    border-left: solid 30px; }
    @media screen and (max-width: 767px) {
      .widget_custom_widget:nth-child(2):before, .widget_custom_widget:nth-child(3):before, .widget_custom_widget:nth-child(4):before {
        display: none; } }
  .widget_custom_widget:nth-child(2) {
    background: #d7e8f1; }
    .widget_custom_widget:nth-child(2):before {
      border-left-color: #eef6fa; }
  .widget_custom_widget:nth-child(3) {
    background: #c2dcea; }
    .widget_custom_widget:nth-child(3):before {
      border-left-color: #d7e8f1; }
  .widget_custom_widget:nth-child(4) {
    background: #acd4e9; }
    .widget_custom_widget:nth-child(4):before {
      border-left-color: #c2dcea; }
  @media screen and (max-width: 853px) {
    .widget_custom_widget {
      display: none; } }
  .widget_custom_widget .more-box {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    font-size: 12px; }

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  margin-left: 0; }
  ul.tabs:after {
    content: '';
    display: table;
    clear: both; }
  @media screen and (max-width: 853px) {
    ul.tabs {
      margin-left: 0; } }

ul.tabs li {
  float: none;
  margin: 0;
  cursor: pointer;
  position: relative; }

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  margin-left: 0; }
@-moz-document url-prefix() {
  .tab_container {
    width: 100%; } }
  @media screen and (max-width: 853px) {
    .tab_container {
      width: 100%;
      margin-left: 0; } }
  .tab_container .tab_drawer_heading {
    margin: 0;
    padding: 20px;
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    font-style: normal;
    line-height: 18px;
    cursor: pointer; }
    .tab_container .tab_drawer_heading:after {
      content: '\f107';
      font-family: FontAwesome; }
    .tab_container .tab_drawer_heading img {
      max-width: 33px;
      max-height: 33px;
      margin-bottom: 10px; }
    .tab_container .tab_drawer_heading:nth-of-type(1) {
      background-color: #eef6fa; }
    .tab_container .tab_drawer_heading:nth-of-type(2) {
      background-color: #d7e8f1; }
    .tab_container .tab_drawer_heading:nth-of-type(3) {
      background-color: #c2dcea;
      z-index: 10; }
    .tab_container .tab_drawer_heading:nth-of-type(4) {
      background-color: #acd4e9; }
  .tab_container .tab_content {
    padding: 70px 30px;
    display: none;
    margin-top: 0;
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    position: relative;
    overflow: hidden; }
    .tab_container .tab_content li {
      padding-left: 25px;
      position: relative; }
      .tab_container .tab_content li:before {
        content: '\f00c';
        position: absolute;
        left: 0;
        top: 0;
        color: rgba(0, 0, 0, 0.6); }
    .tab_container .tab_content:nth-of-type(1) {
      background-color: #eef6fa; }
    .tab_container .tab_content:nth-of-type(2) {
      background-color: #d7e8f1; }
    .tab_container .tab_content:nth-of-type(3) {
      background-color: #c2dcea;
      z-index: 10; }
      .tab_container .tab_content:nth-of-type(3) h3 {
        left: 56px; }
      .tab_container .tab_content:nth-of-type(3):after {
        background-image: url("../images/arr-green.png"); }
    .tab_container .tab_content:nth-of-type(4) {
      background-color: #acd4e9; }
    .tab_container .tab_content .close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 40px; }

.tab_drawer_heading {
  display: none; }

@media screen and (max-width: 853px) {
  .tabs {
    display: none; }

  .tab_drawer_heading {
    display: block; }

  .d_active {
    background-color: #666;
    color: #fff; } }
.wdg-wrapper {
  margin-bottom: 100px; }

.wdg-wrapper-1 {
  margin-bottom: 0px; }

#demoTab1 ul.tabs {
  display: block;
  width: 100%; }
  @media screen and (max-width: 853px) {
    #demoTab1 ul.tabs {
      display: none !important; } }
#demoTab1 .widget_custom_widget {
  width: 33.3334%;
  background-color: transparent;
  z-index: 20;
  display: block;
  float: left;
  padding: 0 10px; }
  #demoTab1 .widget_custom_widget .tab-inner-box {
    width: 100%;
    display: block;
    vertical-align: middle;
    border: solid 1px #3888e9;
    border-bottom-color: #fff;
    position: relative;
    height: 260px;
    margin-bottom: 55px;
    position: relative; }
    #demoTab1 .widget_custom_widget .tab-inner-box .tab-box {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    #demoTab1 .widget_custom_widget .tab-inner-box.border-btm {
      border-bottom-color: #3888e9; }
    #demoTab1 .widget_custom_widget .tab-inner-box .arrow {
      display: block;
      position: absolute;
      height: 55px;
      bottom: -55px;
      left: -1px;
      right: -1px; }
      #demoTab1 .widget_custom_widget .tab-inner-box .arrow img {
        width: 100%;
        height: auto; }
      #demoTab1 .widget_custom_widget .tab-inner-box .arrow .more-box {
        position: absolute;
        display: block;
        width: 100%;
        top: 2px;
        font-size: 12px; }
      #demoTab1 .widget_custom_widget .tab-inner-box .arrow.animated {
        display: none; }
  #demoTab1 .widget_custom_widget:before {
    display: none !important; }
  #demoTab1 .widget_custom_widget.active .tab-inner-box {
    border: solid 1px #3888e9;
    border-bottom-color: #fff; }
    #demoTab1 .widget_custom_widget.active .tab-inner-box .arrow {
      display: none; }
#demoTab1 .tab_content {
  margin-top: -1px;
  background-color: #fff;
  border: solid 1px #3888e9;
  max-width: 100%; }
  #demoTab1 .tab_content .row {
    text-align: center;
    font-size: 0; }
  @media screen and (max-width: 853px) {
    #demoTab1 .tab_content {
      margin-top: -21px;
      margin-bottom: 20px; } }
#demoTab1 .tab_drawer_heading {
  background-color: transparent !important;
  z-index: 20;
  border: solid 1px #dbdbdb;
  margin-bottom: 20px; }

.circle-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .circle-container h1, .circle-container h2, .circle-container h3, .circle-container h4, .circle-container h5, .circle-container h6 {
    font-size: 16px;
    color: #000;
    font-weight: 700; }
  .circle-container .circle-box {
    display: inline-block;
    padding: 10px;
    background: #d7e8f1;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    line-height: 100px;
    position: relative; }
  .circle-container .circle-box-cont {
    display: block;
    width: 100%;
    position: relative; }
    .circle-container .circle-box-cont:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      max-width: 100%;
      border: solid #c2dcea;
      border-width: 0 3px 3px 0;
      padding: 3px;
      position: absolute;
      top: 50%;
      right: -15px;
      -webkit-transform: translate(0, -50%) rotate(-45deg);
      -moz-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
      -o-transform: translate(0, -50%) rotate(-45deg);
      transform: translate(0, -50%) rotate(-45deg); }
    .circle-container .circle-box-cont + p {
      margin-top: 20px;
      padding: 10px;
      font-size: 16px; }
    @media screen and (max-width: 767px) {
      .circle-container .circle-box-cont:after {
        display: none; } }

.circle-container:last-of-type .circle-box-cont:after {
  display: none; }

.arrow-container {
  display: block;
  float: right;
  text-align: center;
  margin-right: 10vw;
  margin-top: 0; }
  @media screen and (max-width: 767px) {
    .arrow-container {
      display: none; } }
  .arrow-container.arrow-container-2 {
    margin-right: 0;
    margin: 0 auto;
    float: none; }
  .arrow-container p {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700; }
  .arrow-container .arrow-box {
    width: 175px;
    height: 92px;
    display: inline-block;
    background: url("../images/arrow11.png") no-repeat;
    position: relative;
    margin: 0 20px;
    top: -50px; }
  @media screen and (max-width: 767px) {
    .arrow-container {
      display: none; } }
  .arrow-container.arrow-container-first {
    float: left;
    width: 100%;
    margin-right: 0;
    text-align: left;
    margin-top: -50px;
    margin-bottom: 50px; }
    .arrow-container.arrow-container-first .arrow-box {
      width: 60%;
      top: 0;
      background: transparent;
      height: auto; }
      @media screen and (max-width: 872px) {
        .arrow-container.arrow-container-first .arrow-box {
          width: 55%; } }

@media screen and (max-width: 767px) {
  #demoTab1 .tab_content {
    margin-top: -21px;
    margin-bottom: 20px; } }

#demoTab1 #tab1 .circle-container, #demoTab1 #tab3 .circle-container {
  float: none;
  display: inline-block; }

.container-bg-btm {
  padding: 70px 0 20px; }
  .container-bg-btm .col-8 {
    padding-left: 15vw; }
  .container-bg-btm h2, .container-bg-btm h3 {
    font-size: 21px;
    margin-bottom: 10px;
    line-height: 1; }
  .container-bg-btm h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: #ec2028; }
  .container-bg-btm h3 {
    font-weight: 700;
    color: #2b2523; }
  .container-bg-btm .btns-box {
    margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .container-bg-btm {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none; } }
.month-container {
  padding: 0px;
  position: relative; }
  .month-container:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .month-container h4, .month-container h5 {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px; }
  .month-container .month-bottom {
    display: block;
    width: 100%;
    background: #eef6fa;
    height: 30px;
    position: relative; }
    .month-container .month-bottom:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      border-top: solid 15px transparent;
      border-bottom: solid 15px transparent;
      border-left: solid 20px; }
    @media screen and (max-width: 767px) {
      .month-container .month-bottom:before {
        display: none; } }
  .month-container:nth-of-type(1):before {
    background: #eef6fa; }
  .month-container:nth-of-type(1) .month-bottom:before {
    display: none; }
  .month-container:nth-of-type(2) {
    border-left-color: #eef6fa; }
    .month-container:nth-of-type(2):before {
      background: #eef6fa; }
    .month-container:nth-of-type(2) .month-bottom {
      background: #d7e8f1; }
      .month-container:nth-of-type(2) .month-bottom:before {
        border-left-color: #eef6fa; }
  .month-container:nth-of-type(3):before {
    background: #d7e8f1; }
  .month-container:nth-of-type(3) .month-bottom {
    background: #c2dcea; }
    .month-container:nth-of-type(3) .month-bottom:before {
      border-left-color: #d7e8f1; }
  .month-container:nth-of-type(4):before {
    background: #c2dcea; }
  .month-container:nth-of-type(4) .month-bottom {
    background: #acd4e9; }
    .month-container:nth-of-type(4) .month-bottom:before {
      border-left-color: #c2dcea; }

/*# sourceMappingURL=style-home.css.map */
