/*--------------------------------------------------------------
# Styles for sub pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Colors - do not remove variables. Use friendly names listed below
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Friendly names for colours
--------------------------------------------------------------*/
/*$lightgrey: $color__background_body;*/
/*$lightestgrey: $color__background_grey;
$grey0nblue: #cac8c8;*/
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base Typo
--------------------------------------------------------------*/
/* =========================================================== LIGHTBOX =================================================== */
/* ACTIVITY INDICATION */
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%; }

#imagelightbox-loading {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  -webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */ }

#imagelightbox-loading div {
  width: 1.25em;
  /* 20 */
  height: 1.25em;
  /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading 0.5s ease infinite;
  animation: imagelightbox-loading 0.5s ease infinite; }

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75); } }
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(0.75); }
  50% {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: .5;
    transform: scale(0.75); } }
/* OVERLAY */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* "CLOSE" BUTTON */
#imagelightbox-close {
  width: 35px;
  height: 35px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  padding: 0;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  border: none; }

#imagelightbox-close:hover,
#imagelightbox-close:focus {
  background-color: rgba(0, 0, 0, 0.9); }

#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px; }

#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* CAPTION */
#imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */ }

/* NAVIGATION */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

#imagelightbox-nav button {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */ }

#imagelightbox-nav button.active {
  background-color: #fff; }

/* ARROWS */
.imagelightbox-arrow {
  width: 3.75em;
  /* 60 */
  height: 3.75em;
  /* 60 */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff !important;
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  margin-top: -1.75em;
  /* 60 */
  border: none;
  font-size: 30px; }

.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.75);
  border: none; }

.imagelightbox-arrow:active {
  background-color: #111; }

.imagelightbox-arrow-left {
  left: 2.5em;
  /* 40 */ }

.imagelightbox-arrow-right {
  right: 2.5em;
  /* 40 */ }

.imagelightbox-arrow:before {
  border: none;
  content: '';
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
  line-height: 30px; }

.imagelightbox-arrow-left:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px; }

.imagelightbox-arrow-right:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px; }

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
  -webkit-animation: fade-in 0.25s linear;
  animation: fade-in 0.25s linear; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media only screen and (max-width: 41.25em) {
  #container {
    width: 100%; }

  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */ }

  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */ }

  .imagelightbox-arrow {
    width: 2.5em;
    /* 40 */
    height: 3.75em;
    /* 60 */
    margin-top: -2.75em;
    /* 30 */ }

  .imagelightbox-arrow-left {
    left: 1.25em;
    /* 20 */ }

  .imagelightbox-arrow-right {
    right: 1.25em;
    /* 20 */ } }
@media only screen and (max-width: 20em) {
  .imagelightbox-arrow-left {
    left: 0; }

  .imagelightbox-arrow-right {
    right: 0; } }
#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none; }

aside#secondary .widget-title {
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 16px;
  color: #ec2028;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  position: relative;
  margin-bottom: 25px; }
  aside#secondary .widget-title:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 90%;
    height: 1px;
    background-color: #e5f1f6;
    content: " "; }
aside#secondary .filterit {
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 13px;
  color: #2b2523;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 35px; }
  aside#secondary .filterit h2 {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 27px;
    color: #2b2523;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 10px; }
  aside#secondary .filterit .av .no {
    margin-left: 5px;
    color: #ec2028; }
aside#secondary .widget {
  margin-bottom: 30px; }
  aside#secondary .widget ul li {
    padding-left: 0; }
aside#secondary .widget_lc_taxonomy ul li {
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 13px;
  color: #2b2523;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  position: relative; }
  aside#secondary .widget_lc_taxonomy ul li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 2px;
    color: #ec2028;
    font-weight: bold; }
  aside#secondary .widget_lc_taxonomy ul li a {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 13px;
    color: #2b2523;
    font-weight: 400;
    font-style: normal;
    text-decoration: none; }
aside#secondary .new-recipes-widget ul li {
  padding-bottom: 5px; }
  aside#secondary .new-recipes-widget ul li:after {
    content: '';
    display: table;
    clear: both; }
aside#secondary .new-recipes-widget .upw-image {
  float: left;
  width: 70px; }
aside#secondary .new-recipes-widget .upw-content {
  float: left;
  max-width: 70%;
  clear: none; }
  aside#secondary .new-recipes-widget .upw-content .post-title {
    margin-bottom: 3px;
    line-height: 14px; }
    aside#secondary .new-recipes-widget .upw-content .post-title a {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 13px;
      color: #2b2523;
      font-weight: 400;
      font-style: normal;
      text-decoration: none; }
  aside#secondary .new-recipes-widget .upw-content .post-date {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
    font-style: normal; }
aside#secondary .featured-recipes-widget .upw-posts hfeed {
  padding-top: 20px; }
aside#secondary .featured-recipes-widget .upw-posts article {
  display: block;
  margin-bottom: 0;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: none; }
aside#secondary .featured-recipes-widget .entry-title {
  margin-top: -15px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 18px; }
  aside#secondary .featured-recipes-widget .entry-title a {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 15px;
    color: #2b2523;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: center; }
aside#secondary .featured-recipes-widget .entry-summary {
  margin-top: 5px; }
  aside#secondary .featured-recipes-widget .entry-summary p {
    margin: 0;
    line-height: 13px;
    text-align: center; }
  aside#secondary .featured-recipes-widget .entry-summary a {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 13px;
    color: #ec2028;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    line-height: 13px; }

#secondary {
  padding-top: 45px; }
  @media screen and (max-width: 1200px) {
    #secondary {
      width: 40%; } }
  @media screen and (max-width: 768px) {
    #secondary {
      width: 100%;
      float: none; } }
  #secondary .widget-porady {
    margin-top: 20px; }
    #secondary .widget-porady .widget-title {
      font-size: 22px;
      color: #000; }
      #secondary .widget-porady .widget-title:after {
        content: none; }
    #secondary .widget-porady article {
      margin-bottom: 10px;
      padding: 8px 0 3px 0; }
      #secondary .widget-porady article:after {
        content: '';
        display: table;
        clear: both; }
      #secondary .widget-porady article header {
        float: left;
        width: 35%; }
        #secondary .widget-porady article header .entry-image {
          margin-bottom: 0; }
      #secondary .widget-porady article .entry-summary {
        float: left;
        width: 60%;
        font-size: 13px; }
    #secondary .widget-porady .upw-after {
      text-align: center; }
    #secondary .widget-porady .button-inw-red {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      border: 3px solid #ec2028; }
      #secondary .widget-porady .button-inw-red:hover {
        color: #ec2028; }
  #secondary .widget_categories {
    background-color: #f5f5f5;
    padding: 20px 25px 20px 25px;
    margin-bottom: 22px !important; }
    #secondary .widget_categories .widget-title {
      display: none; }
    #secondary .widget_categories ul {
      margin: 0; }
      #secondary .widget_categories ul li {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 13px;
        color: #2b2523;
        font-weight: 400;
        font-style: normal;
        line-height: 22px;
        position: relative;
        border-bottom: 1px solid #dcdcdc;
        padding: 9px 0; }
        #secondary .widget_categories ul li:last-of-type {
          border-bottom: none; }
        #secondary .widget_categories ul li:before {
          font-family: 'FontAwesome';
          content: '\f105';
          margin: 0 5px 0 2px;
          color: #239e58;
          font-weight: bold; }
        #secondary .widget_categories ul li.current-cat a {
          color: #ec2028; }
        #secondary .widget_categories ul li a {
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 13px;
          color: #2b2523;
          font-weight: 400;
          font-style: normal;
          text-decoration: none;
          text-transform: uppercase; }
  #secondary .widget_custom_widget_link {
    min-width: 100%;
    min-height: 86px;
    padding: 16px 0 12px 30px;
    margin-bottom: 10px !important;
    margin-top: 0 !important; }
    #secondary .widget_custom_widget_link:after {
      content: '';
      display: table;
      clear: both; }
    #secondary .widget_custom_widget_link:before {
      content: none; }
    #secondary .widget_custom_widget_link .widget-title {
      display: none; }
    #secondary .widget_custom_widget_link .wright {
      float: left;
      padding-left: 29px;
      padding-top: 15px;
      vertical-align: middle; }
    #secondary .widget_custom_widget_link .wleft {
      float: left;
      width: 46px;
      height: auto; }
    #secondary .widget_custom_widget_link a {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      line-height: 26px; }
    #secondary .widget_custom_widget_link.czerwony-button {
      background-color: #e8545c;
      margin-top: 11px;
      border-top: 1px solid #ebebeb;
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      font-style: normal;
      position: relative; }
      #secondary .widget_custom_widget_link.czerwony-button:before {
        /*					position: absolute;
        					content: " ";
        					width: 100%;
        					height: 1px;
        					background-color: #ebebeb;
        					left: 0;
        					top: -11px;*/ }
    #secondary .widget_custom_widget_link.zielony-button {
      background-color: #239e58;
      position: relative;
      margin-top: 12px; }
      #secondary .widget_custom_widget_link.zielony-button:after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
        left: 0;
        bottom: -12px; }

.sidebar-konto {
  padding-top: 40px; }
  @media screen and (max-width: 950px) {
    .sidebar-konto {
      width: 100%;
      float: none; } }
  .sidebar-konto .title {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 21px;
    color: #2b2523;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px; }
  .sidebar-konto .side-menu {
    margin-bottom: 30px; }
    .sidebar-konto .side-menu ul {
      padding: 0;
      margin: 0; }
      .sidebar-konto .side-menu ul li {
        border: 1px solid #e1e1e1;
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 8px;
        margin-bottom: 7px; }
        .sidebar-konto .side-menu ul li.el1 {
          padding-left: 7px; }
          .sidebar-konto .side-menu ul li.el1 a:before {
            background-image: url("../images/dzienniczek.svg"); }
        .sidebar-konto .side-menu ul li.el2 {
          padding-left: 7px; }
          .sidebar-konto .side-menu ul li.el2 a:before {
            background-image: url("../images/aktualna_dieta.svg"); }
        .sidebar-konto .side-menu ul li.el3 {
          padding-left: 7px; }
          .sidebar-konto .side-menu ul li.el3 a:before {
            background-image: url("../images/historia_diety.svg"); }
        .sidebar-konto .side-menu ul li.el4 {
          padding-left: 7px; }
          .sidebar-konto .side-menu ul li.el4 a:before {
            background-image: url("../images/platnosci.svg"); }
        .sidebar-konto .side-menu ul li.el5 {
          padding-left: 7px; }
          .sidebar-konto .side-menu ul li.el5 a:before {
            background-image: url("../images/piramida.svg"); }
        .sidebar-konto .side-menu ul li a {
          font-size: 14px;
          font-weight: normal;
          text-decoration: none;
          position: relative;
          padding-left: 40px; }
          @media screen and (max-width: 975px) {
            .sidebar-konto .side-menu ul li a {
              font-size: 13px; } }
          @media screen and (max-width: 950px) {
            .sidebar-konto .side-menu ul li a {
              font-size: 14px; } }
          .sidebar-konto .side-menu ul li a:before {
            width: 28px;
            height: 26px;
            position: absolute;
            content: " ";
            left: 0;
            top: -5px; }
  .sidebar-konto .side-graph .graph1 {
    width: 100%;
    height: 120px;
    background-color: #239e58; }
  .sidebar-konto .side-graph .graph2 {
    width: 100%;
    height: 120px;
    background-color: #ec2028; }
  .sidebar-konto .side-graph .captions {
    margin-top: 5px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 30px; }
    .sidebar-konto .side-graph .captions .weight, .sidebar-konto .side-graph .captions .girth {
      padding-left: 12px;
      position: relative;
      margin-right: 7px; }
      .sidebar-konto .side-graph .captions .weight:before, .sidebar-konto .side-graph .captions .girth:before {
        position: absolute;
        height: 7px;
        width: 7px;
        left: 0;
        top: 2px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        content: " "; }
    .sidebar-konto .side-graph .captions .actual:before, .sidebar-konto .side-graph .captions .stomach:before {
      background-color: #239e58; }
    .sidebar-konto .side-graph .captions .target:before, .sidebar-konto .side-graph .captions .hips:before {
      background-color: #ec2028; }
    .sidebar-konto .side-graph .captions .waist:before {
      background-color: #a4c842; }
  .sidebar-konto .side-subscription {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .sidebar-konto .side-subscription {
        text-align: center; } }
    .sidebar-konto .side-subscription .title {
      text-align: left; }
    .sidebar-konto .side-subscription .sbsp-info {
      font-size: 13px;
      line-height: normal; }
      .sidebar-konto .side-subscription .sbsp-info .expire {
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px; }

.sidebar-konto .patient, .sidebar-konto .side-graph {
  margin-bottom: 30px; }
.sidebar-konto .uploadFiles__container {
  margin-bottom: 10px; }
  .sidebar-konto .uploadFiles__container .uploadFiles__title {
    font-weight: 700; }
  .sidebar-konto .uploadFiles__container .fileUploader__uploaded {
    padding: 0;
    margin: 0;
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px; }
  .sidebar-konto .uploadFiles__container .fileUploader__uploadedIcon {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0; }
  .sidebar-konto .uploadFiles__container .fileUploader__uploadedName {
    font-size: 14px;
    text-align: left;
    padding-left: 40px;
    line-height: 1.1;
    min-height: 40px; }

#page {
  background-image: url("../images/bg-h.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%; }

.site-content {
  margin-top: 0; }

.header-sub {
  height: 170px; }

.header-konto {
  height: 135px; }

.wrapper {
  @inlcude cf();
  position: relative;
  clear: both;
  padding-bottom: 46px; }
  .wrapper:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    content: " "; }
  .wrapper h2 {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 31px;
    color: #000;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    float: left;
    margin-bottom: 0; }
  .wrapper .breadcrumbs {
    padding-top: 23px; }

.breadcrumbs {
  float: right;
  font-family: "Asap", sans-serif, Helvetivca, sans-serif;
  font-size: 10px;
  color: #ec2028;
  font-weight: 300;
  font-style: normal; }
  .breadcrumbs a {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 10px;
    color: #2b2523;
    font-weight: 300;
    font-style: normal;
    text-decoration: none; }
  .breadcrumbs span {
    padding: 0 5px; }

.wp-pagenavi {
  margin-top: 20px;
  float: right;
  font-size: 13px; }
  .wp-pagenavi a, .wp-pagenavi span {
    padding: 3px 7px;
    margin: 3px; }
  .wp-pagenavi span.current {
    border-color: transparent; }
  .wp-pagenavi .pages {
    font-size: 13px;
    color: #000;
    border: none;
    font-weight: bold; }
  .wp-pagenavi span.current {
    border: 1px solid #d7d7d7;
    font-weight: bold;
    color: #239e58;
    font-size: 13px; }
  .wp-pagenavi a.page {
    font-size: 13px;
    border: none; }
    .wp-pagenavi a.page:hover {
      color: #239e58; }
  .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
    border: none; }
    .wp-pagenavi .nextpostslink:hover, .wp-pagenavi .previouspostslink:hover {
      color: #239e58; }

table {
  border: none; }
  table th {
    background-color: #fff;
    font-size: 13px;
    text-align: left;
    padding: 10px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    position: relative; }
    table th:after {
      background-color: #fff;
      height: 2px;
      content: " ";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%; }
  table td {
    font-size: 13px;
    padding: 10px; }

.basicBox__item {
  text-decoration: none; }

.single-przepisy aside#secondary {
  margin-top: 20px; }
.single-przepisy .site-main {
  margin-top: 50px; }
  .single-przepisy .site-main article header.art {
    background-color: #f3f3f3;
    min-height: 127px;
    padding: 37px 38px 20px 38px;
    background-image: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .single-przepisy .site-main article header.art h1.title {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 27px;
      color: #2b2523;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      margin-bottom: 19px; }
    .single-przepisy .site-main article header.art .meta {
      clear: both; }
      .single-przepisy .site-main article header.art .meta:after {
        content: '';
        display: table;
        clear: both; }
      .single-przepisy .site-main article header.art .meta .kategoria, .single-przepisy .site-main article header.art .meta .time, .single-przepisy .site-main article header.art .meta .level {
        float: left;
        position: relative;
        margin-left: 35px;
        margin-right: 20px; }
        .single-przepisy .site-main article header.art .meta .kategoria:after, .single-przepisy .site-main article header.art .meta .time:after, .single-przepisy .site-main article header.art .meta .level:after {
          content: '';
          display: table;
          clear: both; }
        .single-przepisy .site-main article header.art .meta .kategoria .name, .single-przepisy .site-main article header.art .meta .kategoria .res, .single-przepisy .site-main article header.art .meta .time .name, .single-przepisy .site-main article header.art .meta .time .res, .single-przepisy .site-main article header.art .meta .level .name, .single-przepisy .site-main article header.art .meta .level .res {
          float: left;
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 14px;
          color: #787878;
          font-weight: 400;
          font-style: normal;
          letter-spacing: -0.2px; }
        .single-przepisy .site-main article header.art .meta .kategoria .name, .single-przepisy .site-main article header.art .meta .time .name, .single-przepisy .site-main article header.art .meta .level .name {
          font-weight: 600;
          margin-right: 3px; }
      .single-przepisy .site-main article header.art .meta .kategoria:before {
        position: absolute;
        content: " ";
        width: 23px;
        height: 21px;
        left: -28px;
        top: 0px;
        background-image: url("../images/ico-cat.png");
        background-repeat: no-repeat; }
      .single-przepisy .site-main article header.art .meta .time:before {
        position: absolute;
        content: " ";
        width: 21px;
        height: 20px;
        left: -28px;
        top: 1px;
        background-image: url("../images/ico-clock.png");
        background-repeat: no-repeat; }
      .single-przepisy .site-main article header.art .meta .level:before {
        position: absolute;
        content: " ";
        width: 20px;
        height: 18px;
        left: -28px;
        top: 1px;
        background-image: url("../images/ico-level.png");
        background-repeat: no-repeat; }
  .single-przepisy .site-main .im-gallery {
    height: 424px;
    position: relative;
    display: table;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
    .single-przepisy .site-main .im-gallery ul {
      text-align: center;
      margin: 0;
      display: table-cell;
      vertical-align: bottom; }
      .single-przepisy .site-main .im-gallery ul li {
        display: inline-block;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px; }
        .single-przepisy .site-main .im-gallery ul li a {
          border: 4px solid #fff;
          display: block; }
          .single-przepisy .site-main .im-gallery ul li a img {
            display: block; }
        .single-przepisy .site-main .im-gallery ul li:before {
          content: none; }
  .single-przepisy .site-main .wrapper-p {
    padding-top: 15px; }
    .single-przepisy .site-main .wrapper-p:after {
      content: '';
      display: table;
      clear: both; }
    .single-przepisy .site-main .wrapper-p aside.ingredients {
      background-color: #f3f3f3;
      padding: 10px 25px 25px 25px; }
      .single-przepisy .site-main .wrapper-p aside.ingredients h3 {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 18px;
        color: #2b2523;
        font-weight: 600;
        font-style: normal;
        margin-top: 15px;
        margin-bottom: 10px;
        line-height: normal; }
      .single-przepisy .site-main .wrapper-p aside.ingredients ul {
        list-style: none;
        padding-bottom: 10px; }
        .single-przepisy .site-main .wrapper-p aside.ingredients ul li {
          display: block;
          padding: 5px 0;
          border-bottom: 1px solid #dcdcdc;
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 13px;
          color: #2b2523;
          font-weight: 400;
          font-style: normal;
          line-height: 25px; }
          .single-przepisy .site-main .wrapper-p aside.ingredients ul li:before {
            content: none; }
    .single-przepisy .site-main .wrapper-p .main-content {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 13px;
      color: #2b2523;
      font-weight: 400;
      font-style: normal;
      line-height: 23px;
      padding-left: 25px; }
      .single-przepisy .site-main .wrapper-p .main-content h2 {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 25px;
        color: #2b2523;
        font-weight: 600;
        font-style: normal;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: normal; }
      .single-przepisy .site-main .wrapper-p .main-content h4 {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 13px;
        color: #2b2523;
        font-weight: 600;
        font-style: normal;
        margin-top: 30px;
        margin-bottom: 5px;
        line-height: normal; }
      .single-przepisy .site-main .wrapper-p .main-content p {
        margin: 0; }

.post-type-archive-przepisy .site-main, .tax-rodzaj .site-main {
  margin-top: 50px;
  padding-left: 10px; }
.post-type-archive-przepisy aside#secondary, .tax-rodzaj aside#secondary {
  margin-top: 20px; }
.post-type-archive-przepisy .search-header, .tax-rodzaj .search-header {
  background-color: #f3f3f3;
  min-height: 141px;
  padding: 37px 38px 20px 38px;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .post-type-archive-przepisy .search-header label, .tax-rodzaj .search-header label {
    float: left;
    width: 82%; }
  .post-type-archive-przepisy .search-header .search-field, .tax-rodzaj .search-header .search-field {
    height: 41px;
    width: 100%;
    padding-left: 10px; }
  .post-type-archive-przepisy .search-header h2, .tax-rodzaj .search-header h2 {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 27px;
    color: #2b2523;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 10px; }
  .post-type-archive-przepisy .search-header .search-button, .tax-rodzaj .search-header .search-button {
    width: 136px;
    height: 41px;
    background-color: #239e58;
    border: none;
    outline: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    float: right;
    margin-left: 10px; }
.post-type-archive-przepisy .resport-wrapper, .tax-rodzaj .resport-wrapper {
  clear: both;
  padding-top: 20px; }
  .post-type-archive-przepisy .resport-wrapper:after, .tax-rodzaj .resport-wrapper:after {
    content: '';
    display: table;
    clear: both; }
  .post-type-archive-przepisy .resport-wrapper .respost, .tax-rodzaj .resport-wrapper .respost {
    float: left;
    width: 25%;
    padding: 2px; }
    .post-type-archive-przepisy .resport-wrapper .respost .thumb img, .tax-rodzaj .resport-wrapper .respost .thumb img {
      width: 228px; }
    .post-type-archive-przepisy .resport-wrapper .respost .lnk, .tax-rodzaj .resport-wrapper .respost .lnk {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 12px;
      color: #ec2028;
      font-weight: 300;
      font-style: normal;
      text-transform: uppercase;
      text-decoration: none; }
    .post-type-archive-przepisy .resport-wrapper .respost .r-title, .tax-rodzaj .resport-wrapper .respost .r-title {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 15px;
      color: #2b2523;
      font-weight: 300;
      font-style: normal;
      text-decoration: none; }

.mb {
  padding-bottom: 30px; }
  .mb .site-main {
    clear: both; }
    .mb .site-main:after {
      content: '';
      display: table;
      clear: both; }
    @media screen and (max-width: 1200px) {
      .mb .site-main {
        width: 60%; } }
    @media screen and (max-width: 768px) {
      .mb .site-main {
        width: 100%;
        float: none; } }
    .mb .site-main .p-article {
      padding-top: 63px; }
      .mb .site-main .p-article h1 {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 28px;
        color: #2b2523;
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        margin-bottom: 24px;
        text-transform: uppercase; }
      .mb .site-main .p-article .entry-content {
        padding-top: 30px;
        line-height: 23px; }
        .mb .site-main .p-article .entry-content p {
          line-height: 23px; }
      .mb .site-main .p-article .entry-meta {
        width: 100%;
        margin-top: 20px;
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 13px;
        color: #bababa;
        font-weight: 400;
        font-style: normal; }
        .mb .site-main .p-article .entry-meta:after {
          content: '';
          display: table;
          clear: both; }
        .mb .site-main .p-article .entry-meta a, .mb .site-main .p-article .entry-meta h5 {
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 13px;
          color: #bababa;
          font-weight: 400;
          font-style: normal;
          text-decoration: none; }
        .mb .site-main .p-article .entry-meta .tags {
          float: left; }
          @media screen and (max-width: 768px) {
            .mb .site-main .p-article .entry-meta .tags {
              width: 100%;
              float: none; } }
        .mb .site-main .p-article .entry-meta .date {
          float: right; }
          @media screen and (max-width: 768px) {
            .mb .site-main .p-article .entry-meta .date {
              width: 100%;
              float: none; } }
          .mb .site-main .p-article .entry-meta .date:after {
            content: '';
            display: table;
            clear: both; }
          .mb .site-main .p-article .entry-meta .date .fa {
            margin-right: 10px;
            display: inline-block; }
          .mb .site-main .p-article .entry-meta .date h5 {
            display: inline-block; }
  .mb .spl {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    padding-top: 40px; }
    .mb .spl .row:after {
      content: '';
      display: table;
      clear: both; }
    .mb .spl h3 {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 21px;
      color: #2b2523;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .mb .spl .thumb {
      float: left;
      max-width: 40%;
      padding-right: 3%; }
    .mb .spl .entry {
      float: left;
      max-width: 100%;
      padding-right: 3%;
      font-size: 15px;
      line-height: 23px; }
      .mb .spl .entry .meta {
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 13px;
        color: #bababa;
        font-weight: 400;
        font-style: normal;
        margin-top: 30px; }
        .mb .spl .entry .meta:after {
          content: '';
          display: table;
          clear: both; }
        .mb .spl .entry .meta a, .mb .spl .entry .meta h5 {
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 13px;
          color: #bababa;
          font-weight: 400;
          font-style: normal;
          text-decoration: none; }
        .mb .spl .entry .meta .btn {
          float: left;
          color: #fff;
          font-size: 16px;
          font-weight: 400; }
        .mb .spl .entry .meta .tags {
          float: right;
          margin-top: 7px;
          font-weight: bold; }
          .mb .spl .entry .meta .tags a {
            font-weight: normal; }

.single-btm-box {
  text-align: center; }
  .single-btm-box p {
    text-align: center; }

.page-template-default .site-main {
  margin-top: 50px;
  font-size: 15px;
  line-height: 23px;
  padding-right: 50px; }
  .page-template-default .site-main p, .page-template-default .site-main span {
    font-size: 15px;
    line-height: 23px; }
  .page-template-default .site-main ul {
    padding-left: 30px; }
    .page-template-default .site-main ul li {
      padding: 0 0 0 20px; }
      .page-template-default .site-main ul li:before {
        position: absolute;
        left: 0;
        top: 9px;
        width: 5px;
        height: 5px;
        background-color: #ec2028;
        content: " ";
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }

.konto-tpl {
  background-color: #fff;
  padding-top: 45px; }
  .konto-tpl .wrapper {
    padding-bottom: 35px; }
    @media screen and (max-width: 600px) {
      .konto-tpl .wrapper {
        padding-bottom: 50px; } }
    .konto-tpl .wrapper .breadcrumbs {
      padding-top: 4px; }
      @media screen and (max-width: 600px) {
        .konto-tpl .wrapper .breadcrumbs {
          padding-top: 18px; } }
    .konto-tpl .wrapper .title {
      float: left;
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 16px;
      color: #2b2523;
      font-weight: 300;
      font-style: normal;
      line-height: normal; }
      .konto-tpl .wrapper .title .name {
        font-weight: bold;
        color: #ec2028; }
  .konto-tpl main.account-p {
    padding-top: 40px; }
    @media screen and (max-width: 950px) {
      .konto-tpl main.account-p {
        width: 100%;
        float: none; } }
    .konto-tpl main.account-p h3 {
      font-family: "Asap", sans-serif, Helvetivca, sans-serif;
      font-size: 21px;
      color: #2b2523;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      margin-bottom: 20px; }
    .konto-tpl main.account-p .diet-header {
      border-bottom: 1px solid #f6f6f6;
      padding-bottom: 20px; }
      .konto-tpl main.account-p .diet-header:after {
        content: '';
        display: table;
        clear: both; }
      .konto-tpl main.account-p .diet-header .left-info {
        float: left;
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 14px;
        color: #2b2523;
        font-weight: 400;
        font-style: normal;
        line-height: normal; }
        @media screen and (max-width: 1176px) {
          .konto-tpl main.account-p .diet-header .left-info {
            width: 100%;
            margin-bottom: 14px; } }
      .konto-tpl main.account-p .diet-header .msrmnt {
        float: right;
        background-color: #f6f6f6;
        font-family: "Asap", sans-serif, Helvetivca, sans-serif;
        font-size: 13px;
        color: #2b2523;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        padding-right: 20px;
        padding-top: 20px; }
        @media screen and (max-width: 1176px) {
          .konto-tpl main.account-p .diet-header .msrmnt {
            width: 100%; } }
        @media screen and (max-width: 600px) {
          .konto-tpl main.account-p .diet-header .msrmnt {
            padding-right: 10px;
            padding-left: 10px; } }
        .konto-tpl main.account-p .diet-header .msrmnt h4 {
          font-family: "Asap", sans-serif, Helvetivca, sans-serif;
          font-size: 16px;
          color: #2b2523;
          font-weight: 400;
          font-style: normal;
          line-height: normal;
          text-transform: uppercase;
          text-align: right;
          margin-bottom: 18px; }
        .konto-tpl main.account-p .diet-header .msrmnt fieldset {
          padding: 0;
          border: none;
          text-align: right;
          margin-bottom: 23px; }
          .konto-tpl main.account-p .diet-header .msrmnt fieldset input[type="text"] {
            width: 93px;
            height: 30px;
            padding-left: 7px; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-header .msrmnt fieldset input[type="text"] {
                width: 100%; } }
          .konto-tpl main.account-p .diet-header .msrmnt fieldset input[type="submit"] {
            padding: 7px 12px;
            font-weight: 600;
            border-radius: 5px;
            font-size: 13px;
            margin-left: 4px; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-header .msrmnt fieldset input[type="submit"] {
                margin-top: 5px; } }
          .konto-tpl main.account-p .diet-header .msrmnt fieldset .kg {
            position: relative; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-header .msrmnt fieldset .kg {
                width: 100%; } }
            .konto-tpl main.account-p .diet-header .msrmnt fieldset .kg:after {
              content: "kg";
              font-size: 12px;
              position: absolute;
              right: 10px;
              top: 0;
              color: #989898; }
              @media screen and (max-width: 600px) {
                .konto-tpl main.account-p .diet-header .msrmnt fieldset .kg:after {
                  top: 23px; } }
          .konto-tpl main.account-p .diet-header .msrmnt fieldset .cm {
            position: relative; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-header .msrmnt fieldset .cm {
                width: 100%; } }
            .konto-tpl main.account-p .diet-header .msrmnt fieldset .cm:after {
              content: "cm";
              font-size: 12px;
              position: absolute;
              right: 10px;
              top: 0;
              color: #989898; }
          .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div {
            display: inline-block; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div {
                width: 100%;
                margin-right: 0 !important;
                margin-bottom: 5px; } }
            .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div:nth-of-type(1) {
              margin-right: 10px; }
            .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div:nth-of-type(2) {
              margin-right: 10px; }
            .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div label {
              display: block;
              text-align: left;
              margin-bottom: 3px; }
              @media screen and (max-width: 600px) {
                .konto-tpl main.account-p .diet-header .msrmnt fieldset.row2 div label {
                  text-align: right; } }
    .konto-tpl main.account-p .diet-calendar {
      margin-top: 30px; }
      .konto-tpl main.account-p .diet-calendar .before-table {
        padding-bottom: 30px; }
        .konto-tpl main.account-p .diet-calendar .before-table:after {
          content: '';
          display: table;
          clear: both; }
        @media screen and (max-width: 600px) {
          .konto-tpl main.account-p .diet-calendar .before-table {
            text-align: center; } }
        .konto-tpl main.account-p .diet-calendar .before-table h3 {
          float: left;
          margin-bottom: 0; }
        .konto-tpl main.account-p .diet-calendar .before-table .date-range {
          float: left;
          margin-left: 30px;
          color: #239e58;
          font-size: 15px;
          margin-top: 4px; }
          .konto-tpl main.account-p .diet-calendar .before-table .date-range a {
            color: #239e58;
            font-size: 15px; }
        .konto-tpl main.account-p .diet-calendar .before-table a.button {
          float: right;
          font-size: 13px;
          font-weight: bold;
          margin-top: -7px; }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-calendar .before-table a.button {
              float: none;
              text-align: center;
              margin-top: 10px; } }
      .konto-tpl main.account-p .diet-calendar .diet-table .inner-day-table {
        margin: 0; }
      .konto-tpl main.account-p .diet-calendar .diet-table tr th {
        background-color: #ebebeb;
        padding-left: 20px; }
        .konto-tpl main.account-p .diet-calendar .diet-table tr th:after {
          content: none; }
        .konto-tpl main.account-p .diet-calendar .diet-table tr th.th1 {
          width: 15%; }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-calendar .diet-table tr th.th1 {
              width: auto; } }
        .konto-tpl main.account-p .diet-calendar .diet-table tr th.th2 {
          border-bottom: none; }
          .konto-tpl main.account-p .diet-calendar .diet-table tr th.th2:before {
            width: 4px;
            height: 100%;
            background-color: #fff;
            content: " ";
            position: absolute;
            left: 0;
            top: 0; }
        .konto-tpl main.account-p .diet-calendar .diet-table tr th.th3 {
          width: 20%; }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-calendar .diet-table tr th.th3 {
              width: auto; } }
          .konto-tpl main.account-p .diet-calendar .diet-table tr th.th3:before {
            width: 4px;
            height: 100%;
            background-color: #fff;
            content: " ";
            position: absolute;
            left: 0;
            top: 0; }
      .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked {
        background-color: #f7ebeb !important; }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .day-col {
          background-color: #f7ebeb !important; }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .day-wrap {
          background-color: #fff3f3 !important; }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .meal-col {
          background-color: #fff3f3 !important; }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .meal-row .fun-col {
          background-color: #fff3f3 !important; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .meal-row .fun-col .confirmed {
            text-decoration: none;
            font-size: 13px;
            color: #d9d9d9;
            font-weight: normal;
            cursor: text; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row.marked .meal-row .fun-col .confirmed {
                font-size: 0; } }
      .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-col {
        background-color: #f5f5f5;
        width: 15%; }
        @media screen and (max-width: 600px) {
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-col {
            width: auto; } }
      .konto-tpl main.account-p .diet-calendar .diet-table .day-row .fun-col {
        background-color: #fff;
        width: 35%; }
        @media screen and (max-width: 600px) {
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .fun-col {
            width: auto;
            text-align: center; } }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row .fun-col a {
          margin-right: 20px; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .fun-col a i {
            margin-right: 10px; }
      .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap {
        background-color: #fff;
        width: 85%;
        padding-bottom: 0;
        border-bottom: 2px solid #f6f6f6; }
        .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row {
          border-bottom: 1px dashed #d7d7d7; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row:last-child {
            border-bottom: none; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .confirmed {
            text-decoration: none;
            font-size: 13px;
            color: #239e58;
            font-weight: bold; }
            @media screen and (max-width: 1160px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .confirmed {
                display: block; } }
            @media screen and (max-width: 950px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .confirmed {
                float: left; } }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .confirmed {
                display: inline-block;
                font-size: 0;
                float: none;
                margin-right: 0; } }
            .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .confirmed i {
              display: inline-block;
              font-size: 13px; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .unconfirmed {
            text-decoration: none;
            font-size: 13px;
            color: #ec2028;
            font-weight: bold; }
            @media screen and (max-width: 1160px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .unconfirmed {
                display: block; } }
            @media screen and (max-width: 950px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .unconfirmed {
                float: left; } }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .unconfirmed {
                display: inline-block;
                font-size: 0;
                float: none;
                margin-right: 0; } }
            .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .unconfirmed i {
              margin-top: -5px;
              display: inline-block;
              font-size: 13px; }
          .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .meal-col {
            font-size: 14px;
            font-weight: bold;
            color: #26849b;
            text-transform: uppercase;
            background-color: #fff; }
            @media screen and (max-width: 600px) {
              .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .meal-col {
                font-size: 10px; } }
            .konto-tpl main.account-p .diet-calendar .diet-table .day-row .day-wrap .meal-row .meal-col span {
              color: #565656;
              text-transform: none;
              display: block;
              font-weight: normal; }
      .konto-tpl main.account-p .diet-calendar .diet-summary {
        font-size: 17px;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase; }
        .konto-tpl main.account-p .diet-calendar .diet-summary i {
          margin-right: 12px; }
    .konto-tpl main.account-p .diet-info {
      border-top: 1px solid #f5f5f5;
      margin-top: 30px;
      padding-top: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f5f5f5; }
      .konto-tpl main.account-p .diet-info:after {
        content: '';
        display: table;
        clear: both; }
      .konto-tpl main.account-p .diet-info .box-info h3 {
        margin-bottom: 10px; }
      .konto-tpl main.account-p .diet-info .box-info .inner-box {
        background-color: #f5f5f5;
        padding: 25px;
        border: solid 1px #e6e6e6;
        font-size: 13px; }
        .konto-tpl main.account-p .diet-info .box-info .inner-box strong {
          display: block; }
    .konto-tpl main.account-p .diet-basket {
      margin-top: 30px; }
      .konto-tpl main.account-p .diet-basket .rowp {
        margin-bottom: 10px; }
        @media screen and (max-width: 600px) {
          .konto-tpl main.account-p .diet-basket .rowp {
            width: 100%;
            padding-left: 0 !important; } }
        .konto-tpl main.account-p .diet-basket .rowp .rmlink, .konto-tpl main.account-p .diet-basket .rowp .rslink {
          font-size: 11px;
          background-color: transparent;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 0;
          white-space: nowrap;
          margin-bottom: 0;
          position: absolute;
          right: 0;
          width: auto;
          text-decoration: none;
          font-weight: bold; }
        .konto-tpl main.account-p .diet-basket .rowp a {
          font-size: 10px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 2px 10px;
          white-space: nowrap;
          margin-bottom: 1px;
          cursor: pointer;
          display: inline-block; }
        .konto-tpl main.account-p .diet-basket .rowp .bg-top {
          background-repeat: no-repeat;
          background-position: right top;
          position: absolute;
          left: 0; }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-basket .rowp .bg-top {
              position: static;
              left: auto;
              background-position: center top;
              width: 100% !important;
              margin-bottom: 30px; } }
        .konto-tpl main.account-p .diet-basket .rowp .txtp {
          float: right; }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-basket .rowp .txtp {
              width: 100%;
              text-align: center; } }
          .konto-tpl main.account-p .diet-basket .rowp .txtp h4 {
            font-size: 13px;
            font-weight: bold; }
      .konto-tpl main.account-p .diet-basket .row1 {
        clear: both;
        color: #ec2028;
        position: relative;
        padding-left: 258px; }
        .konto-tpl main.account-p .diet-basket .row1:after {
          content: '';
          display: table;
          clear: both; }
        .konto-tpl main.account-p .diet-basket .row1 h4, .konto-tpl main.account-p .diet-basket .row1 a {
          color: #ec2028;
          text-transform: uppercase; }
        .konto-tpl main.account-p .diet-basket .row1 h4 {
          margin-bottom: 5px;
          line-height: normal; }
        .konto-tpl main.account-p .diet-basket .row1 a {
          background-color: #fddbdd; }
        .konto-tpl main.account-p .diet-basket .row1 .bg-top {
          width: 252px;
          height: 114px;
          background-image: url("../images/pir-1.svg"); }
          @media screen and (max-width: 600px) {
            .konto-tpl main.account-p .diet-basket .row1 .bg-top {
              margin-bottom: 0; } }
        .konto-tpl main.account-p .diet-basket .row1 .txt-top {
          padding-bottom: 5px;
          border-bottom: 3px solid #ec2028; }
          .konto-tpl main.account-p .diet-basket .row1 .txt-top .spacert {
            width: 100%;
            height: 38px; }
      .konto-tpl main.account-p .diet-basket .row2 {
        clear: both;
        color: #f8d31a;
        padding-left: 300px; }
        .konto-tpl main.account-p .diet-basket .row2:after {
          content: '';
          display: table;
          clear: both; }
        .konto-tpl main.account-p .diet-basket .row2 h4, .konto-tpl main.account-p .diet-basket .row2 a {
          color: #f8d31a;
          text-transform: uppercase; }
        .konto-tpl main.account-p .diet-basket .row2 h4 {
          margin-bottom: 5px;
          line-height: normal; }
        .konto-tpl main.account-p .diet-basket .row2 a {
          background-color: #fff6cc; }
        .konto-tpl main.account-p .diet-basket .row2 .bg-top {
          width: 305px;
          height: 75px;
          background-image: url("../images/pir-2.svg"); }
        .konto-tpl main.account-p .diet-basket .row2 .txt-top {
          padding-bottom: 5px;
          border-bottom: 3px solid #f8d31a; }
      .konto-tpl main.account-p .diet-basket .row3 {
        clear: both;
        color: #239e58;
        padding-left: 350px; }
        .konto-tpl main.account-p .diet-basket .row3:after {
          content: '';
          display: table;
          clear: both; }
        .konto-tpl main.account-p .diet-basket .row3 h4, .konto-tpl main.account-p .diet-basket .row3 a {
          color: #239e58;
          text-transform: uppercase; }
        .konto-tpl main.account-p .diet-basket .row3 h4 {
          margin-bottom: 5px;
          line-height: normal; }
        .konto-tpl main.account-p .diet-basket .row3 a {
          background-color: #cefadf; }
        .konto-tpl main.account-p .diet-basket .row3 .bg-top {
          width: 354px;
          height: 75px;
          background-image: url("../images/pir-3.svg"); }
        .konto-tpl main.account-p .diet-basket .row3 .txt-top {
          padding-bottom: 5px;
          border-bottom: 3px solid #239e58; }
  .konto-tpl .user-p h3.acc-title {
    font-size: 26px;
    line-height: normal;
    font-weight: 600; }
  .konto-tpl .user-p .info-box {
    border-width: 1px;
    border-style: solid; }
    .konto-tpl .user-p .info-box.grn {
      border-color: #239e58; }
      .konto-tpl .user-p .info-box.grn .header {
        background-color: #239e58; }
        .konto-tpl .user-p .info-box.grn .header h4 {
          color: #ffffff; }
    .konto-tpl .user-p .info-box.gra {
      border-color: #e8e8e8; }
      .konto-tpl .user-p .info-box.gra .header {
        background-color: #e8e8e8; }
    .konto-tpl .user-p .info-box .header {
      padding: 13px 30px; }
      .konto-tpl .user-p .info-box .header h4 {
        font-size: 20px;
        margin-bottom: 0; }
    .konto-tpl .user-p .info-box .body {
      padding: 20px 20px 10px 20px;
      font-size: 14px;
      border-bottom: 1px solid #e8e8e8; }
      .konto-tpl .user-p .info-box .body:after {
        content: '';
        display: table;
        clear: both; }
    .konto-tpl .user-p .info-box .btn-wrapp {
      text-align: right;
      padding: 10px 30px 10px 30px; }

.questionnaire .grey-box {
  background-color: #f2f2f2;
  padding: 30px; }
  .questionnaire .grey-box:after {
    content: '';
    display: table;
    clear: both; }
  @media screen and (max-width: 950px) {
    .questionnaire .grey-box {
      text-align: center; } }
  .questionnaire .grey-box .g-ico {
    width: 38px;
    height: 47px;
    float: left;
    margin-right: 30px; }
    @media screen and (max-width: 950px) {
      .questionnaire .grey-box .g-ico {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px; } }
  .questionnaire .grey-box .info {
    float: left;
    font-size: 21px;
    margin-top: 10px; }
    @media screen and (max-width: 950px) {
      .questionnaire .grey-box .info {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px; } }
  .questionnaire .grey-box .btn {
    float: right;
    margin-top: 8px; }
    @media screen and (max-width: 1200px) {
      .questionnaire .grey-box .btn {
        float: left;
        display: block; } }
    @media screen and (max-width: 950px) {
      .questionnaire .grey-box .btn {
        float: none;
        margin: 0 auto; } }

.historia-diety {
  padding-top: 40px; }
  .historia-diety h3 {
    font-family: "Asap", sans-serif, Helvetivca, sans-serif;
    font-size: 21px;
    color: #2b2523;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    margin-bottom: 20px; }
  .historia-diety .historia-diety-szczegoly {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 20px; }

.calendarTable {
  overflow-x: visible !important; }
  @media screen and (max-width: 480px) {
    .calendarTable {
      overflow-x: scroll !important; } }

.calendarTable__stats {
  min-width: auto !important; }

.calendarTable__content {
  min-width: auto !important;
  width: 100%;
  max-width: 100%; }

.diet-table .day-col {
  padding: 0 !important; }
  .diet-table .day-col tr th {
    padding-left: 10px !important;
    border-bottom: none; }
  .diet-table .day-col tr td {
    background-color: transparent; }
.diet-table .day-wrap {
  padding: 0 !important; }
  .diet-table .day-wrap table tr th {
    padding-left: 10px !important;
    border-bottom: none;
    border-left: solid 2px #fff; }
  .diet-table .day-wrap table tr td.calendarTable__stats {
    padding-right: 10px; }

.dietPicker__form .dietPicker__header {
  font-weight: 700; }

.dietPicker-form__item {
  padding-left: 0 !important; }

.konto-tpl td.meal-col .meal-title {
  margin-bottom: 5px; }
.konto-tpl td.meal-col .meal-left {
  float: left;
  width: 20%;
  padding-right: 20px; }
  .konto-tpl td.meal-col .meal-left img {
    display: block;
    width: 100%;
    max-width: 100%; }
.konto-tpl td.meal-col .meal-center {
  float: left;
  width: 55%; }
  .konto-tpl td.meal-col .meal-center .recipe-title {
    text-transform: none;
    font-weight: 400;
    color: #565656; }
  .konto-tpl td.meal-col .meal-center .components-box {
    color: #a1a1a1 !important;
    font-size: 15px;
    text-transform: none !important;
    font-weight: 400; }
    .konto-tpl td.meal-col .meal-center .components-box span {
      color: #a1a1a1 !important;
      font-size: 11px;
      text-transform: uppercase !important;
      display: inline-block !important;
      width: 25%;
      float: left; }
    .konto-tpl td.meal-col .meal-center .components-box ul.components-list {
      display: inline-block;
      width: 75%;
      float: left; }
      .konto-tpl td.meal-col .meal-center .components-box ul.components-list li {
        padding: 0;
        font-size: 14px;
        line-height: 1.2;
        padding-bottom: 5px; }
        .konto-tpl td.meal-col .meal-center .components-box ul.components-list li:before {
          display: none; }
    @media screen and (max-width: 1069px) and (min-width: 951px) {
      .konto-tpl td.meal-col .meal-center .components-box span, .konto-tpl td.meal-col .meal-center .components-box ul.components-list {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .konto-tpl td.meal-col .meal-center .components-box span, .konto-tpl td.meal-col .meal-center .components-box ul.components-list {
        width: 100%; } }
.konto-tpl td.meal-col .meal-right {
  float: left;
  width: 25%;
  padding-left: 10px;
  text-align: right; }
  .konto-tpl td.meal-col .meal-right a {
    text-decoration: none !important;
    font-size: 11px;
    color: #289f58; }
    .konto-tpl td.meal-col .meal-right a:after {
      content: '\f105';
      font-family: FontAwesome;
      padding-left: 5px; }

.page-template-page-misja .header-sub {
  height: auto;
  border-bottom: solid 2px #fff; }

@media screen and (max-width: 767px) {
  .page-template-page-misja .col-12, .page-template-diagnostyka .col-12, .page-template-badania .col-12 {
    margin-bottom: 0; } }
.page-template-page-misja #main h5, .page-template-diagnostyka #main h5, .page-template-badania #main h5 {
  font-size: 21px;
  color: #2b2523;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 700; }
.page-template-page-misja #main h6, .page-template-diagnostyka #main h6, .page-template-badania #main h6 {
  font-size: 21px;
  font-weight: 400;
  color: #ec2028;
  margin-bottom: 5px;
  text-transform: uppercase; }
.page-template-page-misja .misja-top, .page-template-diagnostyka .misja-top, .page-template-badania .misja-top {
  padding: 40px 0;
  min-height: 738px;
  margin-bottom: 50px;
  position: relative; }
  @media screen and (max-width: 1129px) {
    .page-template-page-misja .misja-top, .page-template-diagnostyka .misja-top, .page-template-badania .misja-top {
      min-height: 500px; } }
  @media screen and (max-width: 767px) {
    .page-template-page-misja .misja-top, .page-template-diagnostyka .misja-top, .page-template-badania .misja-top {
      min-height: 300px; } }
  .page-template-page-misja .misja-top .misja-top-overlay, .page-template-diagnostyka .misja-top .misja-top-overlay, .page-template-badania .misja-top .misja-top-overlay {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%; }
    .page-template-page-misja .misja-top .misja-top-overlay a, .page-template-diagnostyka .misja-top .misja-top-overlay a, .page-template-badania .misja-top .misja-top-overlay a {
      text-decoration: none; }
    @media screen and (max-width: 1129px) {
      .page-template-page-misja .misja-top .misja-top-overlay, .page-template-diagnostyka .misja-top .misja-top-overlay, .page-template-badania .misja-top .misja-top-overlay {
        top: 50px; } }
    .page-template-page-misja .misja-top .misja-top-overlay h1, .page-template-diagnostyka .misja-top .misja-top-overlay h1, .page-template-badania .misja-top .misja-top-overlay h1 {
      font-size: 21px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 400; }
    .page-template-page-misja .misja-top .misja-top-overlay h2, .page-template-diagnostyka .misja-top .misja-top-overlay h2, .page-template-badania .misja-top .misja-top-overlay h2 {
      font-size: 21px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 40px; }
.page-template-page-misja .container-img, .page-template-diagnostyka .container-img, .page-template-badania .container-img {
  margin-bottom: 75px; }
  .page-template-page-misja .container-img .col-6, .page-template-diagnostyka .container-img .col-6, .page-template-badania .container-img .col-6 {
    position: relative;
    float: left;
    display: table; }
    .page-template-page-misja .container-img .col-6.pr, .page-template-diagnostyka .container-img .col-6.pr, .page-template-badania .container-img .col-6.pr {
      padding-right: 60px; }
    .page-template-page-misja .container-img .col-6.pl, .page-template-diagnostyka .container-img .col-6.pl, .page-template-badania .container-img .col-6.pl {
      padding-left: 60px; }
    .page-template-page-misja .container-img .col-6.fl, .page-template-diagnostyka .container-img .col-6.fl, .page-template-badania .container-img .col-6.fl {
      float: left; }
    .page-template-page-misja .container-img .col-6.fr, .page-template-diagnostyka .container-img .col-6.fr, .page-template-badania .container-img .col-6.fr {
      float: right; }
    .page-template-page-misja .container-img .col-6 .text-box, .page-template-diagnostyka .container-img .col-6 .text-box, .page-template-badania .container-img .col-6 .text-box {
      display: table-cell;
      vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .page-template-page-misja .container-img, .page-template-diagnostyka .container-img, .page-template-badania .container-img {
      margin-bottom: 20px; }
      .page-template-page-misja .container-img .col-6, .page-template-diagnostyka .container-img .col-6, .page-template-badania .container-img .col-6 {
        display: block;
        width: 100%;
        float: left;
        text-align: center; }
        .page-template-page-misja .container-img .col-6.pr, .page-template-diagnostyka .container-img .col-6.pr, .page-template-badania .container-img .col-6.pr {
          padding-right: 10px; }
        .page-template-page-misja .container-img .col-6.pl, .page-template-diagnostyka .container-img .col-6.pl, .page-template-badania .container-img .col-6.pl {
          padding-left: 10px; }
        .page-template-page-misja .container-img .col-6.fl, .page-template-diagnostyka .container-img .col-6.fl, .page-template-badania .container-img .col-6.fl {
          float: left; }
        .page-template-page-misja .container-img .col-6.fr, .page-template-diagnostyka .container-img .col-6.fr, .page-template-badania .container-img .col-6.fr {
          float: left; }
        .page-template-page-misja .container-img .col-6 .text-box, .page-template-diagnostyka .container-img .col-6 .text-box, .page-template-badania .container-img .col-6 .text-box {
          display: block;
          width: 100%; } }
.page-template-page-misja .container-50, .page-template-diagnostyka .container-50, .page-template-badania .container-50 {
  max-width: 50%;
  margin: 0 auto 75px;
  padding: 40px 0;
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf; }
  @media screen and (max-width: 767px) {
    .page-template-page-misja .container-50, .page-template-diagnostyka .container-50, .page-template-badania .container-50 {
      max-width: 100%; } }
.page-template-page-misja .bg-container, .page-template-diagnostyka .bg-container, .page-template-badania .bg-container {
  display: table;
  width: 100%;
  position: relative; }
  .page-template-page-misja .bg-container:before, .page-template-diagnostyka .bg-container:before, .page-template-badania .bg-container:before {
    content: '';
    display: block;
    position: absolute;
    right: 50%;
    top: 0;
    width: 100%;
    height: 60%;
    background: #eef6fa; }
    @media screen and (max-width: 767px) {
      .page-template-page-misja .bg-container:before, .page-template-diagnostyka .bg-container:before, .page-template-badania .bg-container:before {
        right: 0;
        height: 40%; } }
  .page-template-page-misja .bg-container .col-6, .page-template-diagnostyka .bg-container .col-6, .page-template-badania .bg-container .col-6 {
    float: none;
    display: table-cell;
    vertical-align: middle; }
    .page-template-page-misja .bg-container .col-6.pl, .page-template-diagnostyka .bg-container .col-6.pl, .page-template-badania .bg-container .col-6.pl {
      padding-left: 60px; }
      .page-template-page-misja .bg-container .col-6.pl h5, .page-template-diagnostyka .bg-container .col-6.pl h5, .page-template-badania .bg-container .col-6.pl h5 {
        margin-top: -60px; }
    @media screen and (max-width: 767px) {
      .page-template-page-misja .bg-container .col-6, .page-template-diagnostyka .bg-container .col-6, .page-template-badania .bg-container .col-6 {
        display: block;
        float: left;
        width: 100%;
        text-align: center; }
        .page-template-page-misja .bg-container .col-6.pl, .page-template-diagnostyka .bg-container .col-6.pl, .page-template-badania .bg-container .col-6.pl {
          padding-left: 10px; }
          .page-template-page-misja .bg-container .col-6.pl h5, .page-template-diagnostyka .bg-container .col-6.pl h5, .page-template-badania .bg-container .col-6.pl h5 {
            margin-top: 0; } }

.etapy-top-title {
  text-align: center; }
  .etapy-top-title h6 {
    padding: 40px 0;
    border-top: solid 1px #dfdfdf; }

.container-etap {
  margin-bottom: 100px; }

.etap-box {
  display: block;
  float: left;
  width: 33.3333%;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .etap-box {
      width: 100%;
      margin-bottom: 30px; } }
  .etap-box .etap-box-top {
    padding: 25px 30px;
    position: relative;
    height: 260px; }
    @media screen and (max-width: 767px) {
      .etap-box .etap-box-top {
        height: auto; } }
    .etap-box .etap-box-top img {
      width: 85px;
      height: 85px; }
    .etap-box .etap-box-top p {
      position: relative;
      display: block; }
      .etap-box .etap-box-top p:nth-child(2) {
        font-size: 15px;
        margin-bottom: 20px; }
  .etap-box:nth-child(1) .etap-box-top {
    background: #eef6fa; }
  .etap-box:nth-child(2) .etap-box-top:before, .etap-box:nth-child(3) .etap-box-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 260px;
    border-top: solid 130px transparent;
    border-bottom: solid 130px transparent;
    border-left: solid 40px; }
    @media screen and (max-width: 767px) {
      .etap-box:nth-child(2) .etap-box-top:before, .etap-box:nth-child(3) .etap-box-top:before {
        display: none; } }
  .etap-box:nth-child(2) .etap-box-top {
    background: #d7e8f1; }
    .etap-box:nth-child(2) .etap-box-top:before {
      border-left-color: #eef6fa; }
  .etap-box:nth-child(3) .etap-box-top {
    background: #c2dcea; }
    .etap-box:nth-child(3) .etap-box-top:before {
      border-left-color: #d7e8f1; }
  .etap-box .etap-box-middle {
    padding: 25px;
    border: solid 1px #dfdfdf;
    border-top: none;
    margin-bottom: 20px; }
    .etap-box .etap-box-middle p:nth-child(2) {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: solid 1px #dfdfdf; }
    .etap-box .etap-box-middle .button {
      font-size: 13px; }
    .etap-box .etap-box-middle .etap-lista ul {
      padding-left: 0; }
    .etap-box .etap-box-middle .etap-lista li {
      text-align: left;
      padding-left: 25px;
      padding-bottom: 10px;
      border-bottom: solid 1px #dfdfdf;
      margin-bottom: 10px;
      list-style-type: none; }
      .etap-box .etap-box-middle .etap-lista li:last-child {
        border: none;
        margin-bottom: 0; }
      .etap-box .etap-box-middle .etap-lista li:before {
        content: '\f00c';
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        top: 0;
        color: #239e58;
        width: 0;
        height: 0;
        background-color: transparent; }
  @media screen and (min-width: 768px) {
    .etap-box:nth-child(1) .etap-box-middle, .etap-box:nth-child(2) .etap-box-middle {
      border-right: none; } }
  .etap-box .etap-box-btm p {
    margin-bottom: 2px; }
  .etap-box .etap-box-btm .etapy-cart {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700; }
    .etap-box .etap-box-btm .etapy-cart.green {
      color: #9fb951; }
    .etap-box .etap-box-btm .etapy-cart.yellow {
      color: #eeda00; }
    .etap-box .etap-box-btm .etapy-cart.red {
      color: #ec2028; }

@media screen and (min-width: 768px) {
  .single .etap-box .etap-box-top p, .page-template-default .etap-box .etap-box-top p {
    font-size: 14px; }
    .single .etap-box .etap-box-top p:nth-child(2), .page-template-default .etap-box .etap-box-top p:nth-child(2) {
      font-size: 13px;
      margin-bottom: 15px; }
  .single .etap-box .etap-box-middle p, .page-template-default .etap-box .etap-box-middle p {
    font-size: 13px; }
  .single .etap-box .etap-box-middle .etap-lista li, .page-template-default .etap-box .etap-box-middle .etap-lista li {
    font-size: 13px; }
  .single .etap-box .etap-box-btm p, .page-template-default .etap-box .etap-box-btm p {
    margin-bottom: 2px;
    font-size: 13px; }
  .single .etap-box .etap-box-btm .etapy-cart, .page-template-default .etap-box .etap-box-btm .etapy-cart {
    font-size: 11px;
    line-height: 16px; }
    .single .etap-box .etap-box-btm .etapy-cart img, .page-template-default .etap-box .etap-box-btm .etapy-cart img {
      width: 14px;
      height: 14px;
      margin-right: 5px; } }

.survey-etap-box {
  position: relative; }
  .survey-etap-box .top-text {
    font-size: 21px;
    font-weight: 700; }
  .survey-etap-box img {
    width: 60px;
    height: 60px;
    margin: 10px; }
  .survey-etap-box.box-0 {
    background: #eef6fa; }
  .survey-etap-box.box-1 {
    background: #d7e8f1; }
  .survey-etap-box.box-2 {
    background: #c2dcea; }
  .survey-etap-box.box-1:before, .survey-etap-box.box-2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 260px;
    border-top: solid 130px transparent;
    border-bottom: solid 130px transparent;
    border-left: solid 40px; }
    @media screen and (max-width: 767px) {
      .survey-etap-box.box-1:before, .survey-etap-box.box-2:before {
        display: none; } }
  .survey-etap-box.box-1:before {
    border-left-color: #eef6fa; }
  .survey-etap-box.box-2:before {
    border-left-color: #d7e8f1; }

.container-misja-btm {
  padding: 75px 0;
  margin-bottom: 100px;
  background-position: -10vw center !important; }
  @media screen and (max-width: 767px) {
    .container-misja-btm {
      padding: 20px 0;
      background: none !important; } }
  .container-misja-btm .right {
    width: 50%;
    max-width: 100%;
    float: right; }
    @media screen and (max-width: 767px) {
      .container-misja-btm .right {
        width: 100%;
        text-align: center; } }
    .container-misja-btm .right .btns-box .button {
      margin-right: 10px;
      font-size: 15px;
      border: solid 1px #239e58; }
      @media screen and (max-width: 767px) {
        .container-misja-btm .right .btns-box .button {
          margin-bottom: 10px; } }
      .container-misja-btm .right .btns-box .button:nth-child(1), .container-misja-btm .right .btns-box .button:nth-child(2) {
        background: #fff;
        color: #239e58; }
        .container-misja-btm .right .btns-box .button:nth-child(1):hover, .container-misja-btm .right .btns-box .button:nth-child(2):hover {
          background: #239e58;
          color: #fff; }

.container-img2 {
  margin-bottom: 70px; }
  .container-img2 > .col-6:nth-child(1) {
    padding-left: 80px; }
    @media screen and (max-width: 767px) {
      .container-img2 > .col-6:nth-child(1) {
        padding-left: 10px;
        text-align: center; } }
    .container-img2 > .col-6:nth-child(1) .btns-box {
      display: block;
      margin-top: 30px;
      float: left;
      width: 100%; }
      .container-img2 > .col-6:nth-child(1) .btns-box .button {
        margin-right: 10px;
        font-size: 15px;
        border: solid 1px #239e58; }
        @media screen and (max-width: 767px) {
          .container-img2 > .col-6:nth-child(1) .btns-box .button {
            margin-bottom: 10px; } }
        .container-img2 > .col-6:nth-child(1) .btns-box .button:nth-child(1) {
          background: #fff;
          color: #239e58; }
          .container-img2 > .col-6:nth-child(1) .btns-box .button:nth-child(1):hover {
            background: #239e58;
            color: #fff; }
  @media screen and (max-width: 767px) {
    .container-img2 > .col-6 .col-6 {
      width: 50%;
      float: left; }
      .container-img2 > .col-6 .col-6 img {
        float: none; } }
  @media screen and (max-width: 480px) {
    .container-img2 > .col-6 .col-6 {
      width: 100%; } }

.container-bg-btm {
  padding: 70px 0 20px; }
  .container-bg-btm .col-8 {
    padding-left: 15vw; }
    @media screen and (max-width: 767px) {
      .container-bg-btm .col-8 {
        padding-left: 10px; } }
  .container-bg-btm h2, .container-bg-btm h3 {
    font-size: 21px;
    margin-bottom: 10px;
    line-height: 1; }
  .container-bg-btm h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: #ec2028; }
  .container-bg-btm h3 {
    font-weight: 700;
    color: #2b2523; }
  .container-bg-btm .btns-box {
    margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .container-bg-btm {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none; } }
.survey-title {
  font-size: 21px;
  line-height: 1.3;
  color: #ec2028;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: 400; }

.text-margin {
  margin: 30px 0; }

.survey-box {
  background: #f6f6f6;
  padding: 30px 15px;
  text-align: center; }
  .survey-box .survey-box-top {
    margin-bottom: 20px; }
    .survey-box .survey-box-top img {
      display: inline-block; }
  .survey-box .survey-box-text {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .survey-box .survey-box-btm a.button {
    font-size: 13px;
    margin: 0 5px;
    margin-bottom: 5px; }

hr.survey-line {
  background-color: #ededed;
  margin-bottom: 40px; }

.btm-margin {
  margin-bottom: 35px; }

.no-before li:before {
  display: none; }

@media screen and (min-width: 768px) {
  .big-size {
    width: 60%; }

  .small-size {
    width: 40%; } }
.page-template-page-comozeszosiagnac .single-btm-box {
  margin-top: 100px; }

.sciezki {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .sciezki > .col-4 {
      padding-right: 0;
      width: 41.6667%; }
    .sciezki > .col-8 {
      padding-left: 0;
      width: 58.3333%; } }
  @media screen and (max-width: 767px) {
    .sciezki > .col-4 {
      margin-bottom: 0; } }
  .sciezki h4 {
    text-transform: uppercase;
    font-size: 18px; }
  .sciezki img {
    width: 60px;
    height: 60px; }
  .sciezki .sciezka-box-text {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .sciezki .sciezka-box-btm a.button {
    font-size: 13px;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #239e58; }
    .sciezki .sciezka-box-btm a.button:first-of-type {
      background: #fff;
      color: #239e58; }
      .sciezki .sciezka-box-btm a.button:first-of-type:hover {
        background: #239e58;
        color: #fff; }
  .sciezki .sciezka-s, .sciezki .sciezka-z {
    padding: 20px; }
  .sciezki .sciezka-s {
    background: #d7e8f1; }
  .sciezki .sciezka-z {
    background: #c2dcea; }
  .sciezki .sciezka-white-bg {
    background: #fff;
    padding: 20px 10px; }

.btn-white {
  background: #fff !important;
  color: #239e58 !important;
  border: solid 1px #239e58 !important; }
  .btn-white:hover {
    color: #fff !important;
    background: #239e58 !important;
    border: solid 1px #239e58 !important; }

.green {
  color: #239e58; }

.page-template-badania .badania-title-box {
  margin-bottom: 50px; }
.page-template-badania .badania-title {
  font-size: 21px;
  color: #ec2028;
  text-align: center;
  margin-bottom: 0; }
.page-template-badania .badania-subtitle {
  color: #000;
  font-size: 19px;
  line-height: 25px;
  text-align: center; }
.page-template-badania h5 {
  font-size: 21px;
  color: #2b2523;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 700; }
.page-template-badania h6 {
  font-size: 21px;
  font-weight: 400;
  color: #ec2028;
  margin-bottom: 5px; }
.page-template-badania .misja-top {
  min-height: 527px; }
  .page-template-badania .misja-top p {
    line-height: 29px; }
.page-template-badania .badania-blok-25 {
  text-align: center; }
  .page-template-badania .badania-blok-25.badania-blok-20 {
    width: 20%; }
  .page-template-badania .badania-blok-25 img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px; }
  .page-template-badania .badania-blok-25 h4 {
    font-size: 15px;
    font-weight: 700 !important; }
  .page-template-badania .badania-blok-25 li {
    text-align: left;
    font-size: 13px;
    line-height: 1.2;
    padding-left: 20px;
    margin-bottom: 10px; }
    .page-template-badania .badania-blok-25 li:before {
      display: none; }
    .page-template-badania .badania-blok-25 li i {
      display: block;
      position: absolute;
      left: 0;
      top: 1px; }
.page-template-badania .block-text-image .text-right {
  text-align: right; }
.page-template-badania .text-box li:before {
  display: none; }
.page-template-badania .container-bg-btm {
  padding: 30px 0; }

.badania-tabs {
  margin: 0; }
  .badania-tabs .badania-tab-link {
    position: relative;
    padding: 30px;
    display: inline-block;
    border: solid 1px transparent;
    cursor: pointer;
    text-transform: uppercase; }
    .badania-tabs .badania-tab-link:before {
      display: none; }
    .badania-tabs .badania-tab-link.current {
      border-color: #dbdbdb;
      border-bottom-color: #fff;
      z-index: 20; }
    @media screen and (max-width: 767px) {
      .badania-tabs .badania-tab-link {
        padding: 10px;
        font-size: 10px; } }
    @media screen and (max-width: 480px) {
      .badania-tabs .badania-tab-link {
        width: 100%;
        border-color: #dbdbdb; }
        .badania-tabs .badania-tab-link.current {
          border-bottom-color: #dbdbdb;
          background-color: rgba(0, 0, 0, 0.02); } }

.badania-tab-content {
  display: none;
  border: solid 1px #dbdbdb;
  padding: 45px 30px;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .badania-tab-content {
      padding: 20px 10px; } }
  .badania-tab-content.current {
    display: block; }
  .badania-tab-content li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px; }
    .badania-tab-content li:before {
      content: '\f046';
      font-family: FontAwesome;
      position: absolute;
      left: 0; }
  .badania-tab-content ol {
    margin-top: 0;
    padding-left: 25px; }
    .badania-tab-content ol li {
      padding-left: 0; }
      .badania-tab-content ol li:before {
        display: none; }

.banner-box .col-12 h5, .banner-box .col-12 h6 {
  text-align: center; }
.banner-box .col-left, .banner-box .col-right {
  display: table;
  vertical-align: middle; }
  .banner-box .col-left .banner-btm-left, .banner-box .col-left .banner-btm-right, .banner-box .col-right .banner-btm-left, .banner-box .col-right .banner-btm-right {
    display: table-cell;
    vertical-align: middle; }
  .banner-box .col-left h6, .banner-box .col-right h6 {
    color: #000; }
.banner-box .col-left .banner-btm-left {
  text-align: right; }
.banner-box .col-left .banner-btm-right {
  text-align: left; }
.banner-box .col-right .banner-btm-left {
  text-align: right; }
.banner-box .col-right .banner-btm-right {
  text-align: left; }

.margin-container {
  display: block;
  margin-bottom: 50px; }

.container-100 {
  margin-bottom: 50px; }

.testimonials-box {
  display: block;
  width: 100%;
  background: #ededed;
  margin-bottom: 20px;
  padding: 75px 40px 40px;
  position: relative; }
  .testimonials-box:before {
    position: absolute;
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: rgba(0, 0, 0, 0.4);
    top: 27px;
    left: 42px; }
  .testimonials-box .who {
    text-align: right; }
    .testimonials-box .who .r1 {
      font-weight: 700;
      display: block;
      font-size: 15px; }
    .testimonials-box .who .r2 {
      font-size: 12px;
      display: block; }

.lekarz-row {
  display: table;
  padding: 30px 0; }
  .lekarz-row .lekarz-text, .lekarz-row .lekarz-image {
    display: table-cell;
    vertical-align: middle; }
  .lekarz-row .lekarz-text {
    width: 70%;
    text-align: justify; }
    .lekarz-row .lekarz-text h5 {
      font-size: 20px;
      margin-bottom: 10px; }
  .lekarz-row .lekarz-image {
    width: 30%; }
  .lekarz-row .text-left {
    padding-right: 40px; }
  .lekarz-row .text-right {
    padding-left: 40px; }

.priceList__item.col-3 {
  width: 25%;
  padding: 10px; }
  @media screen and (max-width: 767px) {
    .priceList__item.col-3 {
      width: 33.3333%; } }
  @media screen and (max-width: 579px) {
    .priceList__item.col-3 {
      width: 100%; } }

.priceList-item__button.green-btn {
  background-color: #239e58 !important;
  padding: 10px 18px !important;
  width: auto !important;
  min-width: auto;
  font-weight: 400 !important;
  font-size: 16px !important; }
  .priceList-item__button.green-btn:hover {
    background-color: #239e58 !important;
    opacity: .8; }

.page-template-cennik .payment__navigation {
  text-align: center; }
.page-template-cennik .button-green.payment__button {
  background: #239e58 !important;
  border: 0;
  padding: 10px 18px !important; }

.priceList__item .priceList-item .priceList-item__headline {
  background: #ec2028 !important; }
.priceList__item .priceList-item .priceList-item__headlight {
  background: #239e58 !important; }

@media screen and (max-width: 579px) {
  .priceList-item {
    max-width: 100% !important; } }
.cennik-right-box {
  padding: 10px; }

.cennik-right-col-box {
  height: 100%; }

.cennik-right-col {
  border: solid 1px #e2e2e2;
  height: 100%; }
  .cennik-right-col .righ-box-heading {
    display: block;
    float: left;
    margin-bottom: 20px;
    background: #ec2028 !important; }
  .cennik-right-col .right-top-box {
    padding: 0 20px 10px;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px; }
    .cennik-right-col .right-top-box .icon {
      display: block;
      width: 20%;
      float: left; }
    .cennik-right-col .right-top-box .text-right {
      width: 75%;
      float: right;
      font-size: 14px;
      text-transform: uppercase; }
    .cennik-right-col .right-top-box .btn-box {
      display: block;
      width: 100%;
      float: left;
      text-align: center;
      margin: 30px 0 10px;
      padding: 10px 0;
      border-top: solid 1px #e2e2e2;
      border-bottom: solid 1px #e2e2e2; }
      .cennik-right-col .right-top-box .btn-box .button {
        font-size: 10px;
        padding: 7px 10px;
        margin: 5px 1px;
        border: solid 1px #239e58; }
        .cennik-right-col .right-top-box .btn-box .button:first-of-type {
          background: #fff;
          color: #239e58; }
          .cennik-right-col .right-top-box .btn-box .button:first-of-type:hover {
            background: #239e58;
            color: #fff; }

.priceList-item__navigation .btn.priceList-item__button.js-buy-diet.btn-white {
  background: #fff !important; }
  .priceList-item__navigation .btn.priceList-item__button.js-buy-diet.btn-white:hover {
    background: #239e58 !important; }

.share {
  display: block;
  float: left;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px; }
  .share h3 {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
    color: #000; }
  .share a {
    font-size: 30px;
    display: inline-block;
    margin-right: 10px; }
    .share a .fa-facebook-square {
      color: #3b5998; }
    .share a .fa-twitter-square {
      color: #1da1f2; }
    .share a .fa-linkedin-square {
      color: #007bb6; }

.dietTemplate__item {
  font-size: 14px;
  padding: 20px;
  border-top: solid 1px #ebebeb; }
  .dietTemplate__item:last-of-type {
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 20px; }
  .dietTemplate__item .edit-btn:hover {
    background: #239e58;
    color: #fff !important; }
  .dietTemplate__item .delete_item {
    color: #ec2028 !important;
    border-color: #ec2028; }
    .dietTemplate__item .delete_item:hover {
      color: #fff !important;
      background-color: #ec2028 !important;
      border-color: #ec2028 !important; }

.dietTemplate__container form {
  padding: 20px;
  border-top: solid 1px #ebebeb; }
  .dietTemplate__container form label {
    font-size: 14px;
    margin-right: 10px; }
  .dietTemplate__container form input[type="text"] {
    height: 38px;
    margin-right: 10px; }

/*# sourceMappingURL=style-sub.css.map */
