.modal.modal-survey
  max-width: 1000px
  a.close-modal
    display: none

.modal__step2
  display: none

.modal__centerButton
  width: 100%
  text-align: center
  button
    &:disabled
      background-color: grey