.priceList-item
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  max-width: 360px
  margin: 0 auto

  border: 1px solid #e2e2e2

  &__headlight
    position: absolute
    top: -29px

    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 29px

    background-color: #ec2028
    color: white

    font-size: 13px
    font-weight: 500
    line-height: 1

    +max(600px)
      position: relative
      top: inherit
      flex-shrink: 0

  &__headline
    display: block
    width: 100%
    padding: 17px 0

    background-color: #239e58
    color: white

    font-size: 18px
    line-height: 1
    text-align: center

  &__header
    position: relative

    display: block
    width: 100%
    margin-bottom: 50px
    padding: 17px 0

    background-color: #52bb7f
    color: white

    text-align: center

  &__deco
    position: absolute
    top: 100%
    left: 0
    right: 0
    display: block
    width: 100%

  &__old
    font-size: 18px

    span
      text-decoration: line-through

  &__cost
    font-size: 35px
    font-weight: 500
    line-height: 1.2

  &__amount
    font-size: 14px

  &__content
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    height: 100%

  &__details
    padding: 0 20px

  &__action
    display: block
    width: 100%
    padding: 30px 0

    color: #ec2028

    font-size: 16px
    font-weight: 500
    line-height: 1
    text-align: center

  &__options
    display: block
    width: 100%
    list-style: none

    li
      display: block
      width: 100%
      padding: 15px 5px
      border-top: 1px solid #e1e1e1

      color: #000000

      font-size: 14px
      line-height: 1.2
      text-align: center

      &:before
        display: none

  &__navigation
    text-align: center
    margin-bottom: 20px

  &__button
    transition: background-color .15s ease-in-out
    display: inline-block
    min-width: 195px

    background-color: #ec2028 !important

    font-size: 18px !important
    font-weight: 500

    &:hover
      background-color: lighten(#ec2028, 5) !important
