.buttonWidget

  &__content
    padding: 10px 0
    border-bottom: 1px solid #ebebeb

  &__item
    padding-top: 10px
    border-top: 1px solid #ebebeb

    * > & ~ &
      padding-top: 0
      border-top: none
      padding-bottom: 10px
      border-bottom: 1px solid #ebebeb

  &__link
    display: block
    padding: 13px 15px 13px 70px
    color: white
    margin-bottom: 3px
    text-decoration: none
    background-size: 50px 55px
    background-position: 10px center
    background-repeat: no-repeat
    transition: all 0.3s

    &.-shop
      background-color: #EA3F3B

    &.-order
      background-color: #239E58

    &:hover
      color: white !important

  &__text

    .-shop &
      max-width: 100px

    .-order &
      max-width: 70px