.comment

  &-body
    padding-bottom: 10px
    border-bottom: 1px solid #ebebeb
    margin-bottom: 20px

  &-meta
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: space-between
    margin-bottom: 25px

  &-form-comment
    label
      font-size: 15px
      position: relative
      padding-right: 8px
      padding-top: 5px
      &:after
        content: "*"
        color: $red
        position: absolute
        right: 0
        top: 0
        font-size: 18px

  &-author
    font-size: 13px
    display: flex
    justify-content: space-between
    align-items: center

    b
      margin-right: 5px

    .avatar
      margin-right: 10px

  &-metadata
    a
      text-decoration: none
      time
        font-size: 13px

    .edit-link
      a
        display: none

  &-content
    font-size: 13px
    margin-bottom: 15px

  &-reply-title
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    small
      a
        color: #239e58
        font-size: 12px
        text-decoration: none
        transition: all 0.3s

      &:hover
        opacity: 0.7
        text-decoration: underline

  .reply
    text-align: right

    a
      font-size: 13px
      color: #239e58
      text-decoration: none
      transition: all 0.3s

      &:hover
        text-decoration: underline

  &-respond
    .must-log-in
      text-align: right

    .logged-in-as
      text-align: right
      display: none

  &-reply-title
    color: #000000
    font-size: 15px
    font-weight: bold

  &-form-comment
    textarea
      resize: none
      padding: 3px 10px

  ol.children
    list-style: none