.individualDiagnostics
  background-color: #f5f5f5
  padding: 30px

  &__form
    margin: 0 0 15px

  &__title
    color: #e20c18
    font-size: 14px
    font-weight: 700
    line-height: 1.2
    margin-bottom: 20px

  &__group
    display: block
    width: 100%
    margin-bottom: 20px
    padding-bottom: 18px
    border-bottom: 1px solid #ebebeb

    &:last-of-type
      border-bottom: 0

  &__category
    color: black
    font-size: 14px
    font-weight: 700
    line-height: 1.2
    margin-bottom: 12px

  &__label
    color: black
    font-size: 14px
    font-weight: normal
    line-height: 1.2
    cursor: pointer
    margin-bottom: 7px
    display: flex

    .individualDiagnostics__inputbox:last-of-type &
      margin-bottom: 13px

  &__input
    width: 100%
    height: 38px
    border: 1px solid #dcdcdc
    border-radius: 3px
    padding: 0 7px
    color: black
    font-size: 14px
    font-weight: normal
    line-height: 1.2

  &__inputtext
    display: block
    font-size: 14px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 15px

  &__checkbox
    display: inline-block
    height: 16px
    width: 16px
    min-width: 16px
    padding: 0 !important
    border: 1px solid #dcdcdc
    margin: 0 10px 0 0
    border-radius: 3px

    background: #ffffff
    color: #239e58
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    line-height: 0
    text-align: center
    vertical-align: middle

    clear: none
    cursor: pointer
    outline: 0
    -webkit-appearance: none
    -moz-appearance: none
    transition: .05s border-color ease-in-out, .05s background-color ease-in-out

    &:checked
      background-color: #239e58
      border-color: #239e58

    &:checked:before
      content: "\f00c"
      margin: 0 0 0 -1px
      color: white
      float: left
      display: inline-block
      vertical-align: middle
      width: 16px
      font: 400 13px/1 dashicons
      font-family: FontAwesome
      speak: none
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    &:disabled
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0)
      border-color: #d8d8d6
      background-color: #d8d8d6
      cursor: default

  &__submit
    background-color: $green
    color: white
    display: block !important
    font-size: 18px !important
    font-weight: 500 !important
    margin: 0 auto !important
    max-width: 210px !important
    text-align: center
    transition: background-color 0.3s ease
    width: 100%

    &:hover
      background-color: lighten($green, 5)
      display: block
      font-size: 18px
      font-weight: 700
      margin: 0 auto
