.calendarAccordion

  &__item

  &__title
    display: inline-block
    font-size: 11px
    color: #289f58
    padding: 10px 30px 10px 0
    position: relative
    cursor: pointer
    user-select: none

    &:after
      content: "\f107"
      font-family: FontAwesome
      font-size: 18px
      position: absolute
      right: 0
      top: 5px
      color: #239e58

  &__hidden
    display: none
    margin-bottom: 5px
    color: #565656
    text-transform: none
    font-weight: normal
    font-size: 11px

  &__example
    display: inline-block
    width: 100%
    max-width: 90px
    text-decoration: none
    transition: all 0.3s
    margin-bottom: 5px

  &__image
    display: block
    width: 100%
    margin-bottom: 5px

  &__name
    text-align: center
    color: #26849b