//Global box-sizing: border-box
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: border-box

body
  min-width: 320px
  @media print
    margin: 0

#secondary
  +phone_only
    float: left

//override for _style-global.scss
.site-footer
  .container
    border-top: 1px solid #dfdfdf
    padding-top: 30px

=gridRow
  display: flex
  flex-wrap: wrap
  width: 100%

=gridCol
  display: none

=gridPc20
  +pc_only
    display: block
    width: 20%

=gridPc25
  +pc_only
    display: block
    width: 25%

=gridPc33
  +pc_only
    display: block
    width: 33.33%

=gridPc50
  +pc_only
    display: block
    width: 50%

=gridPc66
  +pc_only
    display: block
    width: 66.66%

=gridPc75
  +pc_only
    display: block
    width: 75%

=gridPc100
  +pc_only
    display: block
    width: 100%

=gridLaptop20
  +laptop_only
    display: block
    width: 20%

=gridLaptop25
  +laptop_only
    display: block
    width: 25%

=gridLaptop33
  +laptop_only
    display: block
    width: 33.33%

=gridLaptop50
  +laptop_only
    display: block
    width: 50%

=gridLaptop66
  +laptop_only
    display: block
    width: 66.66%

=gridLaptop75
  +laptop_only
    display: block
    width: 75%

=gridLaptop100
  +laptop_only
    display: block
    width: 100%

=gridTab20
  +tab_only
    display: block
    width: 20%

=gridTab25
  +tab_only
    display: block
    width: 25%

=gridTab33
  +tab_only
    display: block
    width: 33.33%

=gridTab50
  +tab_only
    display: block
    width: 50%

=gridTab66
  +tab_only
    display: block
    width: 66.66%

=gridTab75
  +tab_only
    display: block
    width: 75%

=gridTab100
  +tab_only
    display: block
    width: 100%

=gridPhone20
  +phone_only
    display: block
    width: 20%

=gridPhone25
  +phone_only
    display: block
    width: 25%

=gridPhone33
  +phone_only
    display: block
    width: 33.33%

=gridPhone50
  +phone_only
    display: block
    width: 50%

=gridPhone66
  +phone_only
    display: block
    width: 66.66%

=gridPhone75
  +phone_only
    display: block
    width: 75%

=gridPhone100
  +phone_only
    display: block
    width: 100%

.grid
  &__row
    +gridRow

  &__col
    +gridCol

    &.-pc20
      +gridPc20

    &.-pc25
      +gridPc25

    &.-pc33
      +gridPc33

    &.-pc50
      +gridPc50

    &.-pc66
      +gridPc66

    &.-pc75
      +gridPc75

    &.-pc100
      +gridPc100

    &.-laptop20
      +gridLaptop20

    &.-laptop25
      +gridLaptop25

    &.-laptop33
      +gridLaptop33

    &.-laptop50
      +gridLaptop50

    &.-laptop66
      +gridLaptop66

    &.-laptop75
      +gridLaptop75

    &.-laptop100
      +gridLaptop100

    &.-tab20
      +gridTab20

    &.-tab25
      +gridTab25

    &.-tab33
      +gridTab33

    &.-tab50
      +gridTab50

    &.-tab66
      +gridTab66

    &.-tab75
      +gridTab75

    &.-tab100
      +gridTab100

    &.-phone20
      +gridPhone20

    &.-phone25
      +gridPhone25

    &.-phone33
      +gridPhone33

    &.-phone50
      +gridPhone50

    &.-phone66
      +gridPhone66

    &.-phone75
      +gridPhone75

    &.-phone100
      +gridPhone100
