.registerForm
  display: block
  width: 100%
  padding: 40px
  margin-top: 40px

  background-color: #f4f4f4

  &__form
    display: block
    width: 100%

  &__header
    display: block
    width: 100%
    margin-bottom: 20px

  &__subtitle
    font-size: 18px
    font-weight: 400
    color: #2b2523
    line-height: 1.5

  &__title
    font-size: 35px
    font-weight: 600
    color: #2b2523
    line-height: 1
    font-family: "Asap", sans-serif, Helvetivca, sans-serif

  &__content

  &__group
    display: flex
    margin: 0 -8px

    +max(969px)
      flex-wrap: wrap
    +max(767px)
      flex-wrap: nowrap
    +max(620px)
      flex-wrap: wrap

  &__inputbox
    display: block
    width: 100%
    padding: 0 8px 11px

  &__label
    display: block
    padding-bottom: 7px
    font-size: 14px
    font-weight: normal
    color: #000000
    line-height: 1
    span
      font-size: 20px
      color: #ec2029
      line-height: 1


  &__input
    display: block
    width: 100%
    height: 38px
    border: 1px solid #dcdcdc
    border-radius: 3px
    padding: 0 7px
    color: black
    font-size: 14px
    font-weight: normal
    line-height: 1.2

  &__rulebox
    display: flex
    margin-bottom: 15px

  &__rule
    display: inline-block
    height: 16px
    width: 16px
    min-width: 16px
    padding: 0 !important
    border: 1px solid #dcdcdc
    margin: 0 10px 0 0
    border-radius: 3px

    background: #ffffff
    color: #239e58
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)

    line-height: 0
    text-align: center
    vertical-align: middle

    clear: none
    cursor: pointer
    outline: 0
    -webkit-appearance: none
    transition: .05s border-color ease-in-out, .05s background-color ease-in-out

    &:checked:before
      content: "\f00c"
      margin: 0 0 0 -1px
      color: lighten(#ec2028, 5)
      float: left
      display: inline-block
      vertical-align: middle
      width: 16px
      font: 400 13px/1 dashicons
      font-family: FontAwesome
      speak: none
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    &:disabled
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0)
      border-color: #d8d8d6
      background-color: #d8d8d6
      cursor: default

  &__rulelabel
    font-size: 14px
    font-weight: 400
    color: #2b2523
    cursor: pointer
    line-height: 1.3

    a
      color: #ec2028

  &__button
    background-color: #ec2028
    border-radius: 3px !important
    color: white
    display: block !important
    flex-grow: 0
    flex-shrink: 0
    font-size: 13px !important
    line-height: 1 !important
    max-width: 100%
    margin: 5px 0 20px !important
    padding: 11px 15px !important
    text-decoration: none
    transition: background-color 0.3s ease

    &:hover, &:focus
      background-color: lighten(#ec2028, 5)
      color: white

  &__alert
    display: block
    width: 100%
    padding: 7px 15px
    border: 1px solid #d8d8d6
    font-size: 13px
    font-weight: 400
    line-height: 1.4
    margin-bottom: 15px
    &:last-of-type
      margin-bottom: 0

    &.-success
      background-color: #ebfbf1
      border-color: #c4e9d2
      color: #229e58

    &.-fail
      background-color: lighten(#ec2028, 50)
      border-color: #ec2028
      color: #ec2028
